{% extends 'account/profiles/main.html' %}
{% load static i18n %}

{% block profile_content %}
<div class="content-profile">
    <div class="select-category">
        <h3>{% trans "Create agent's profile" %}</h3>
        {% blocktrans %}
            Create and fill out this kind of profile if you’re a booking agent or a manager of one or more artists,
            an independent promoter, an event manager or you work in a company which has more than one venue or
            you just want to book an artist for your event on the venue where you’re not officially employed.
        {% endblocktrans %}<div class="clear"></div><br>
        {% if form.instance.pk %}<a href="{% url 'users:agent' form.instance.pk  %}" target="_blank" class="right">{% trans 'View on the website' %}</a><br /><br />{% endif %}
{#        {{ form.errors }}#}
    </div>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="block">
        <div class="row">
            <div class="ava">
                <img src="{% if not form.avatar.value %}{% static 'images/bg-ava.gif' %}{% else %}{{ MEDIA_URL }}{{ form.avatar.value }}{% endif %}" alt="{% if form.avatar.value %}{{ form.avatar.value }}{% else %}Avatar{% endif %}" title="{% if form.avatar.value %}{{ form.avatar.value }}{% else %}Avatar{% endif %}" />
            </div>
            <div class="col">
                <div class="row">
                    <label>{% trans 'Name or nickname' %}{% if form.nickname.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.nickname %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.nickname.0 }}</div>{% endif %}
                    <div class="input-holder input-holder-name">
                        {{ form.nickname }}
                    </div>
                </div>
                <div class="row">
                    <label>{% trans 'Agent type' %}{% if form.type_agent.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.type_agent %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.type_agent.0 }}</div>{% endif %}
                    {{ form.type_agent }}
                </div>
                <div class="row">
                    <label>{% trans 'Current place of work' %}{% if form.jobs.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.jobs %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.jobs.0 }}</div>{% endif %}
                    <div class="input-holder">
                        {{ form.jobs }}
                    </div>
                </div>
                <div class="row">
                <span class="input">
                    <span>{% trans 'Upload photo' %}</span>
                    {% if form.errors.avatar %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.avatar.0 }}</div>{% endif %}
                        {{ form.avatar }}
{#                    {% if form.avatar.value %}<label class="left" style="width: 80px"><input type="checkbox" name="avatar-clear" value="On" />{% trans '#Удалить' %}</label>{% endif %}#}
                </span>
                </div>
            </div>
        </div>

        <h3>{% trans 'Contacts' %}</h3>
        <div class="row">
            <label>{% trans 'Country' %}{% if form.country.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.country %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.country.0 }}</div>{% endif %}
            {{ form.country }}
        </div>
        <div class="row">
            <label>{% trans 'City' %}{% if form.city.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.city %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.city.0 }}</div>{% endif %}
            {{ form.city }}
        </div>
        <div class="row">
            <label>{% trans 'Address' %}{% if form.address.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.address %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.address.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.address }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Phone number' %}{% if form.phone.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.phone %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.phone.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.phone }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Public E-mail' %}{% if form.email.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.email %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.email.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="middlecol col" rel="input_site">
                <div class="site_inputs">
                    <label>{% trans 'Website, social networks' %}{% if form.site.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.instance.pk %}
                        {% for site in form.instance.site.all %}
                            <div class="input-holder"><input type="text" value="{{ site.site }}" name="site" rel="input_site" /></div>
                            <label class="left" style="width: 80px"><input type="checkbox" name="site_clear" value="{{ site.pk }}" />{% trans 'Delete' %}</label>
                        {% endfor %}
                        <div class="input-holder"><input type="text" name="site" /></div>
                    {% else %}
                        <div class="input-holder"><input type="text" name="site" /></div>
                    {% endif %}
                </div>
                <a class="add" id="add_site" href="#" title="{% trans 'Add url' %}"></a>
            </div>
        </div>
    </div>
    <h3>{% trans 'Additional information' %}{% if form.info.field.required %} <b class="red">*</b>{% endif %}</h3>
    <div class="block">
        <div class="row">
            <div class="textarea-holder">
                {{ form.info }}
            </div>
        </div>
    </div>
    <div class="block">
        <h3>{% trans 'Settings' %}</h3>
        <div class="row">
            <label>{% trans 'Visibility' %}{% if form.visibility.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.visibility %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.visibility.0 }}</div>{% endif %}
            {{ form.visibility }}
            <div class="clear">{% trans 'Visible for all users or for Gigcenter authorized users only.' %}</div>
        </div>
    </div>
    <div class="btn-row">
        <span class="big-blue-btn">
            <span>{% trans 'Save changes' %}</span>
            <input type="submit" title="Save profile agent"/>
        </span>
    </div>
{#    <div class="block">#}
{#        {{ form.as_p }}#}
{#    </div>#}
    </form>

</div>
{% endblock %}