{% extends 'account/profiles/main.html' %}
{% load static i18n filename thumbnail %}
{% block extended_js %}
    <script type="text/javascript" src="{% static 'lightbox/js/lightbox.js' %}"></script>
    <script>
        $(function(){
            $('a.lightbox').lightbox();
        });
    </script>
{% endblock %}
{% block extended_css %}<link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />{% endblock %}

{% block profile_content %}
<div class="content-profile">
    <div class="select-category">
        <h3>{% trans "Create an artist profile" %}</h3>
        {% blocktrans %}
            If you’re a booking agent or a manager of one or more artists, please, create an Agent profile first and
            only then create the profiles of your artists in the corresponding sub-profiles of the Agent
            profile "List my artists".<br>
            You’re welcome to create and complete this profile of Artist only if you’re a DJ, a live performer or
            an electronic music artist, who represents himself on his own and who is going to work on Gigcenter.com
            from his own name.
        {% endblocktrans %}<div class="clear"></div><br>
        {% if form.instance.pk %}<a href="{% url 'users:artist' form.instance.uuid_id  %}" target="_blank" class="right">{% trans 'View on the website' %}</a><br /><br />{% endif %}
{#        {{ form.errors }}#}
    </div>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="block">
        <div class="row">
            <div class="ava">
                <img src="{% if not form.avatar.value %}{% static 'images/bg-ava.gif' %}{% else %}{{ MEDIA_URL }}{{ form.avatar.value }}{% endif %}" alt="{% if form.avatar.value %}{{ form.avatar.value }}{% else %}Avatar{% endif %}" title="{% if form.avatar.value %}{{ form.avatar.value }}{% else %}Avatar{% endif %}" />
            </div>
            <div class="col">
                <div class="row">
                    <label>{% trans 'Name or nickname' %}{% if form.nickname.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.nickname %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.nickname.0 }}</div>{% endif %}
                    <div class="input-holder input-holder-name">
                        {{ form.nickname }}
                    </div>
                </div>
                <div class="row">
                    <label>{% trans 'Country' %}{% if form.country.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.country %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.country.0 }}</div>{% endif %}
                    {{ form.country }}
                </div>
                <div class="row">
                    <label>{% trans 'City' %}{% if form.city.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.city %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.city.0 }}</div>{% endif %}
                        {{ form.city }}
                </div>
                <div class="row">
                <span class="input">
                    <span>{% trans 'Upload photo' %}</span>
                    {% if form.errors.avatar %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.avatar.0 }}</div>{% endif %}
                        {{ form.avatar }}
                </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="middlecol col noselect">
                <label>{% trans 'Format of the performance' %}{% if form.type_format.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.type_format %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.type_format.0 }}</div>{% endif %}
                {{ form.type_format }}
            </div>
            <div class="middlecol col noselect">
                <label>{% trans 'Genre' %}{% if form.genre.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.genre %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.genre.0 }}</div>{% endif %}
                {{ form.genre }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Label' %}{% if form.label.field.required %} <b class="red">*</b>{% endif %}</label>
            <div class="textarea-holder">
                {{ form.label }}
            </div>
        </div>
    </div>
    <div class="block">
        <h3>{% trans 'Contacts' %}{% if form.phone.field.required %} <b class="red">*</b>{% endif %}</h3>
        <div class="row">
            <label>{% trans 'Phone number' %}{% if form.type_format.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.phone %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.phone.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.phone }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Public E-mail' %}{% if form.email.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.email %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.email.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="middlecol col" rel="input_site">
                <div class="site_inputs">
                    <label>{% trans 'Website, social networks' %}{% if form.site.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.instance.pk %}
                        {% for site in form.instance.site.all %}
                            <div class="input-holder"><input type="text" value="{{ site.site }}" name="site" rel="input_site" /></div>
                            <label class="left" style="width: 80px"><input type="checkbox" name="site_clear" value="{{ site.pk }}" />{% trans 'Delete' %}</label>
                        {% endfor %}
                        <div class="input-holder"><input type="text" name="site" /></div>
                    {% else %}
                        <div class="input-holder"><input type="text" name="site" /></div>
                    {% endif %}
                </div>
                <a class="add" id="add_site" href="#" title="{% trans 'Add url' %}"></a>
            </div>
        </div>
    </div>
    <h3>{% trans 'Biography' %}{% if form.biography.field.required %} <b class="red">*</b>{% endif %}</h3>
    <div class="block">
        <div class="row">
            {% if form.errors.biography %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.biography.0 }}</div>{% endif %}
            <div class="textarea-holder">
                {{ form.biography }}
            </div>
        </div>
        <div class="row">
            <div class="middlecol col" rel="">
                <div class="">
                    <label>{% trans 'Riders' %}{% if form.rider.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.rider %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.rider.0 }}</div>{% endif %}
                    {% if form.instance.pk %}
                        <div class="input"><input type="file" multiple name="rider" /></div>
                        <div class="row">
                            {% if form.instance.rider.all %}<ul class="choice-item" style="min-height: 40px">
                        {% for rider in form.instance.rider.all %}
                                <li><a href="{{ MEDIA_URL }}{{ rider.file }}" target="_blank">{{ rider.file|filename }}</a>
                                <label class="left" style="width: 80px"><input type="checkbox" name="rider_clear" value="{{ rider.pk }}" />{% trans 'Delete' %}</label>
                                </li>
                        {% endfor %}
                            </ul>{% endif %}
                        </div>
                    {% else %}
                    <div class="input"><input type="file" multiple name="rider" /></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="middlecol col" rel="">
                <div class="">
                    <label>{% trans 'Form of a booking contract' %}{% if form.dogovor.field.required %} <b class="red">*</b>{% endif %}</label>
                        {% if form.errors.dogovor %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.dogovor.0 }}</div>{% endif %}
                        <div class="input"><input type="file" name="dogovor" /></div>
                        <div class="row">
                            {% if form.dogovor.value %}<ul class="choice-item" style="min-height: 40px">
                                <li><a href="{{ MEDIA_URL }}{{ form.dogovor.value }}" target="_blank" style="height: inherit;">{{ form.dogovor.value|filename }}</a>
                                <label class="left" style="width: 80px"><input type="checkbox" name="dogovor_clear" value="On" />{% trans 'Delete' %}</label>
                                </li>
                            </ul>{% endif %}
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Video' %}{% if form.video.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.video %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.video.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.video }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Mix' %}{% if form.mix.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.mix %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.mix.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.mix }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Track' %}{% if form.track.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.track %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.track.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.track }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Release' %}{% if form.reliz.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.reliz %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.reliz.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.reliz }}
            </div>
        </div>
    </div>

    <h3>{% trans 'Images' %} ( {% trans 'Preferred image format JPEG' %} )</h3>
    <div class="block">
        <div class="row">
            {% if form.instance.pk %}
                <div class="input"><input type="file" multiple name="photo" /></div>
                <div class="row">
                    {% if form.instance.images.all %}<ul class="choice-item">
                {% for photo in form.instance.images.all %}
                    <li>
                    {% thumbnail photo.img "1000x700" as big %}
                        <a rel="lightbox[roadtrip]" style="height: inherit; padding: 2px" href="{{ big.url }}" title="">
                        {% thumbnail photo.img "120x120" crop="50% 10%" as im %}<img src="{{ im.url }}" />{% endthumbnail %}
                        </a>
                    {% endthumbnail %}
                    <br><label class="left" style="width: 80px"><input type="checkbox" name="photo_clear" value="{{ photo.pk }}" />{% trans 'Delete' %}</label></li>

                {% endfor %}
                    </ul>{% endif %}
                </div>
            {% else %}
            <div class="input"><input type="file" multiple name="photo" /></div>
            {% endif %}
        </div>
    </div>

    <div class="block">
        <h3>{% trans 'Settings' %}</h3>
        <div class="row">
            <label>{% trans 'Visibility' %}{% if form.visibility.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.visibility %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.visibility.0 }}</div>{% endif %}
            {{ form.visibility }}
            <div class="clear">{% trans 'Visible for all users or for Gigcenter authorized users only.' %}</div>
        </div>
    </div>

    <div class="btn-row">
        <span class="big-blue-btn">
            <span>{% trans 'Save changes' %}</span>
            <input type="submit" title="Save profile artist"/>
        </span>
    </div>
{#    <div class="block">#}
{#        {{ form.as_p }}#}
{#    </div>#}
    </form>

</div>
{% endblock %}