{% extends 'account/profiles/main.html' %}
{% load static i18n filename thumbnail %}
{% block extended_js %}
    <script type="text/javascript" src="{% static 'lightbox/js/lightbox.js' %}"></script>
    <script>
        $(function(){
            $('a.lightbox').lightbox();
        });
    </script>
{% endblock %}
{% block extended_css %}<link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />{% endblock %}

{% block profile_content %}
<div class="content-profile">
    <div class="select-category">
        <h3>{% trans "Create venue profile" %}</h3>
        {% blocktrans %}
            If you are not employed on this venue officially or you work in a company which has more than one venue or
            you cooperate with other venues, please, first create an Agent profile and only after this create the
            profiles of the venues for which you are going to book artists. You can do it in the corresponding
            sub-profiles of an Agent – "List my venues".<br>
            Create and fill out this profile “Venue” only if you are officially employed and you work on a regular
            basis on the venue the profile of which you’re going to create.
        {% endblocktrans %}<div class="clear"></div><br>
        {% if form.instance.pk %}<a href="{% url 'users:club' form.instance.uuid_id  %}" target="_blank" class="right">{% trans 'View on the website' %}</a><br /><br />{% endif %}
{#        {{ form.errors }}#}
    </div>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="block">
        <div class="row">
            <div class="ava">
                <img src="{% if not form.avatar.value %}{% static 'images/bg-ava.gif' %}{% else %}{{ MEDIA_URL }}{{ form.avatar.value }}{% endif %}" alt="{% if form.avatar.value %}{{ form.avatar.value }}{% else %}Avatar{% endif %}" title="{% if form.avatar.value %}{{ form.avatar.value }}{% else %}Avatar{% endif %}" />
            </div>
            <div class="col">
                <div class="row">
                    <label>{% trans 'Name or nickname' %}{% if form.nickname.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.errors.nickname %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.nickname.0 }}</div>{% endif %}
                    <div class="input-holder input-holder-name">
                        {{ form.nickname }}
                    </div>
                </div>

                <div class="row">
                <span class="input">
                    <span>{% trans 'Upload photo' %}</span>
                    {% if form.errors.avatar %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.avatar.0 }}</div>{% endif %}
                        {{ form.avatar }}
                </span>
                </div>
            </div>
        </div>

        <div class="row">
            <label>{% trans 'Country' %}{% if form.country.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.country %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.country.0 }}</div>{% endif %}
            {{ form.country }}
        </div>
        <div class="row">
            <label>{% trans 'City' %}{% if form.city.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.city %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.city.0 }}</div>{% endif %}
                {{ form.city }}
        </div>
        <div class="row">
            <label>{% trans 'Address' %}{% if form.address.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.address %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.address.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.address }}
            </div>
        </div>
        <h3>{% trans 'Contacts' %}</h3>
        <div class="row">
            <label>{% trans 'Phone number' %}{% if form.phone.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.phone %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.phone.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.phone }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Public E-mail' %}{% if form.email.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.email %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.email.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="middlecol col" rel="input_site">
                <div class="site_inputs">
                    <label>{% trans 'Website, social networks' %}{% if form.site.field.required %} <b class="red">*</b>{% endif %}</label>
                    {% if form.instance.pk %}
                        {% for site in form.instance.site.all %}
                            <div class="input-holder"><input type="text" value="{{ site.site }}" name="site" rel="input_site" /></div>
                            <label class="left" style="width: 80px"><input type="checkbox" name="site_clear" value="{{ site.pk }}" />{% trans 'Delete' %}</label>
                        {% endfor %}
                        <div class="input-holder"><input type="text" name="site" /></div>
                    {% else %}
                        <div class="input-holder"><input type="text" name="site" /></div>
                    {% endif %}
                </div>
                <a class="add" id="add_site" href="#" title="{% trans 'Add url' %}"></a>
            </div>
        </div>

        <h3>{% trans 'Venue area' %}</h3>
        <div class="row">
            <div class="middlecol col noselect">
                <label>{% trans 'Venue type' %}{% if form.type_club.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.type_club %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.type_club.0 }}</div>{% endif %}
                {{ form.type_club }}
            </div>
        </div>
        <div class="section">
            <div class="wrap">
                <div class="holder">
                    <label class="pad0">{{ form.place_street }}{% trans 'Outdoor' %}{% if form.place_street.field.required %} <b class="red">*</b>{% endif %}</label><div class="clear"></div>
                    <label class="pad0">{{ form.place_indoors }}{% trans 'Indoor' %}{% if form.place_indoors.field.required %} <b class="red">*</b>{% endif %}</label><div class="clear"></div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col minforms">
                <label>{% trans 'The number of music areas' %}{% if form.music_zone.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.music_zone %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.music_zone.0 }}</div>{% endif %}
                <div class="input-holder minform">
                    {{ form.music_zone }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col minforms">
                <label>{% trans 'Total capacity' %}{% if form.capacity_total.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.capacity_total %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.capacity_total.0 }}</div>{% endif %}
                <div class="input-holder minform">
                    {{ form.capacity_total }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col minforms">
                <label>{% trans 'Seating capacity' %}{% if form.capacity_seat.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.capacity_seat %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.capacity_seat.0 }}</div>{% endif %}
                <div class="input-holder minform">
                    {{ form.capacity_seat }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="middlecol col noselect">
                <label>{% trans 'Music format' %}{% if form.genre.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.genre %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.genre.0 }}</div>{% endif %}
                {{ form.genre }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Nearest airport' %}{% if form.nearest_airport.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.nearest_airport %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.nearest_airport.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.nearest_airport }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Nearest railway station' %}{% if form.nearest_station.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.nearest_station %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.nearest_station.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.nearest_station }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Artists who have already performed at the venue of event' %}{% if form.artists_club.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.artists_club %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.artists_club.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.artists_club }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Additional information' %}{% if form.info.field.required %} <b class="red">*</b>{% endif %}</label>
            <div class="textarea-holder">
                {{ form.info }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Music' %}{% if form.music.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.music %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.music.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.music }}
            </div>
        </div>
        <div class="row">
            <label>{% trans 'Video' %}{% if form.video.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.video %}<div id="error_place_main_info" class="alert alert-error fade in">{{ form.errors.video.0 }}</div>{% endif %}
            <div class="input-holder">
                {{ form.video }}
            </div>
        </div>
    </div>

    <h3>{% trans 'Images' %} ( {% trans 'Preferred image format JPEG' %} )</h3>
    <div class="block">
        <div class="row">
            {% if form.instance.pk %}
                <div class="input"><input type="file" multiple name="photo" /></div>
                <div class="row">
                    {% if form.instance.images.all %}<ul class="choice-item">
                {% for photo in form.instance.images.all %}
                    <li>
                    {% thumbnail photo.img "1000x700" as big %}
                        <a rel="lightbox[roadtrip]" style="height: inherit; padding: 2px" href="{{ big.url }}" title="">
                        {% thumbnail photo.img "120x120" crop="50% 10%" as im %}<img src="{{ im.url }}" />{% endthumbnail %}
                        </a>
                    {% endthumbnail %}
                    <br><label class="left" style="width: 80px"><input type="checkbox" name="photo_clear" value="{{ photo.pk }}" />{% trans 'Delete' %}</label></li>

                {% endfor %}
                    </ul>{% endif %}
                </div>
            {% else %}
            <div class="input"><input type="file" multiple name="photo" /></div>
            {% endif %}
        </div>
    </div>

    <div class="block">
        <h3>{% trans 'Settings' %}</h3>
        <div class="row">
            <label>{% trans 'Visibility' %}{% if form.visibility.field.required %} <b class="red">*</b>{% endif %}</label>
            {% if form.errors.visibility %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.visibility.0 }}</div>{% endif %}
            {{ form.visibility }}
            <div class="clear">{% trans 'Visible for all users or for Gigcenter authorized users only.' %}</div>
        </div>
    </div>

    <div class="btn-row">
        <span class="big-blue-btn">
            <span>{% trans 'Save changes' %}</span>
            <input type="submit" title="Save venue profile"/>
        </span>
    </div>
{#    <div class="block">#}
{#        {{ form.as_p }}#}
{#    </div>#}
    </form>

</div>
{% endblock %}