{% extends 'account/profiles/main.html' %}
{% load static i18n %}

{% block profile_content %}
<div class="content-profile">
    <div class="select-category">
        <h3>{% trans "List of venues" %}</h3>
    </div>
    <div class="row">
        <div class="btn-row">
            <span class="big-blue-btn">
                <a href="{% url 'account:agent_club_add' %}">{% trans 'Create a venue' %}</a>
            </span>
        </div>
        <br />
    </div>
    <div class="row">
        <table class="artist_list">
            {% for club in clubs %}
            <tr>
                <td width="30">{{ forloop.counter }}</td>
                <td width="200"><a href="{% url 'account:agent_club_edit' club.uuid_id %}">{{ club.nickname }}</a></td>
                <td>{% for gnr in club.genre.all %}{{ gnr.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                <td width="40"><a href="{% url 'account:agent_club_edit' club.uuid_id %}">{% trans 'Edit' %}</a></td>
            </tr>
            {% empty %}
            <tr><td style="text-align: center">{% trans 'No venue created' %}</td></tr>
            {% endfor %}
        </table>
        {% if is_paginated %}<div class="pagination pagination-centered">
            <ul>
                {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="?page={{ page_obj.previous_page_number }}"><</a></li>{% endif %}

                {% for p in page_obj.paginator.page_range %}
                    <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}

                {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
            </ul>
        </div>{% endif %}
    </div>
</div>
{% endblock %}