{% extends 'account/main.html' %}
{% load static i18n %}

{% block account_content %}
<div class="tab-wrapper">
    <div class="tab active-tab">
        <div class="profile-form alt-input-form">
            <ul class="side-profile-nav">
                <li><a href="{% url 'account:main' %}"{% if user_url %} class="vactive"{% endif %}>{% trans 'Basic profile' %}</a></li>
                <li><a href="{% url 'account:artist' %}"{% if artist_url %} class="vactive"{% endif %}>{% trans "ARTIST PROFILE" %}</a></li>
                <li><a href="{% url 'account:club' %}"{% if club_url %} class="vactive"{% endif %}>{% trans "VENUE PROFILE" %}</a></li>
                <li><a href="{% url 'account:agent' %}"{% if agent_url %} class="vactive"{% endif %}>{% trans "AGENT PROFILE" %}</a></li>
                {% if request.user.is_agent %}<ul class="submenu2">
                    <li><a href="{% url 'account:agent_artist' %}"{% if agent_artists_url %} class="vactive"{% endif %}>{% trans "+ List my artists" %}</a></li>
                    <li><a href="{% url 'account:agent_club' %}"{% if agent_venues_url %} class="vactive"{% endif %}>{% trans "+ List my venues" %}</a></li>
                </ul>{% endif %}
            </ul>
            {% block profile_content %}

            {% endblock %}

        </div>
    </div>
</div>
{% endblock %}