{% extends 'account/profiles/main.html' %}
{% load static i18n %}

{% block profile_content %}
<div class="content-profile">
{#{{ form.errors }}#}
    <h3>{% trans 'General information' %} ({% if request.user.email %}<b>{{ request.user.email }}</b>{% endif %})</h3>
    {% if request.user.first_in %}<div class="accaunt_mesage_red">{% trans 'You must fill in Basic profile!' %}</div>{% endif %}
    <form action="{% url 'account:main' %}" method="POST" id="account_main_info" autocomplete="off">{% csrf_token %}
    <div class="block">
        <div class="row">
            <div class="col">
                <label>{% trans 'First name' %}{% if form.first_name.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.first_name %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.first_name.0 }}</div>{% endif %}
                <div class="input-holder">{{ form.first_name }}</div>
            </div>
            <div class="col">
                <label>{% trans 'Last name' %}{% if form.last_name.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.last_name %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.last_name.0 }}</div>{% endif %}
                <div class="input-holder">{{ form.last_name }}</div>
            </div>
            <div class="col">
                <label>{% trans 'Date of birth' %}{% if form.birthday.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.birthday %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.birthday.0 }}</div>{% endif %}
                <div class="input-holder datepicker-holder">
                    <input value="{% if form.birthday.value|date:"m/d/Y" %}{{ form.birthday.value|date:"m/d/Y" }}{% elif form.birthday.value == None %}{% else %}{{ form.birthday.value }}{% endif %}" id="birthday-input" class="datepicker date-birth" name="birthday" type="text"  placeholder="mm/dd/yyyy" />
                    <a class="open-datepicker" href="#"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>{% trans 'Country' %}{% if form.country.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.country %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.country.0 }}</div>{% endif %}
                    {{ form.country }}
            </div>
            <div class="col">
                <label>{% trans 'City' %}{% if form.city.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.city %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.city.0 }}</div>{% endif %}
                    {{ form.city }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>{% trans 'Phone number' %}{% if form.phone.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.phone %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.phone.0 }}</div>{% endif %}
                <div class="input-holder">{{ form.phone }}</div>
            </div>
            <div class="col">
                <label>{% trans 'Skype' %}{% if form.skype.field.required %} <b class="red">*</b>{% endif %}</label>
                {% if form.errors.skype %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.skype.0 }}</div>{% endif %}
                <div class="input-holder">{{ form.skype }}</div>
            </div>
{#            <div class="col">#}
{#                <label>{% trans 'ICQ' %}{% if form.icq.field.required %} <b class="red">*</b>{% endif %}</label>#}
{#                {% if form.errors.icq %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.icq.0 }}</div>{% endif %}#}
{#                <div class="input-holder">{{ form.icq }}</div>#}
{#            </div>#}
        </div>
    </div>

{#                    <div class="block">#}
{#                        <h3>{% trans 'Snap to social services account for authorization' %}</h3>#}
{#                        {% if providers %}<b>{% trans 'Associate' %}:</b>#}
{#                        <ul class="choice-item" style="min-height: 50px;">#}
{#                            {% for provider in providers %}#}
{#                            <li><a href="{% url 'social:begin' provider.id %}">{{ provider.id }}</a></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                        {% endif %}#}
{#                        {% if social %}<b>{% trans 'Disconnect' %}:</b>#}
{#                        <ul class="choice-item" style="min-height: 35px;">#}
{#                            {% for socl in social %}#}
{#                            <li><a href="{% url 'social:disconnect' socl.provider %}">{{ socl.provider }}</a></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                        {% endif %}#}
{#                    </div>#}

    {% if request.user.password %}
    <div class="block">
        <h3>{% trans 'Change password' %}</h3>
        <div class="password-text-note">
            {% trans 'Your password must be 6 to 16 characters, including at least one figure. It should not contain Your first name, last name.' %}
        </div>
        <!-- bad google chrome S -->
        <input style="display:none" type="text" name="fakeLogin"/>
        <input style="display:none" type="password" name="fakePassword"/>
        <!-- bad google chrome E -->
        <div class="row">
            <div class="col ok-ico">
                <label>{% trans 'Current password' %}</label>
                {% if form.errors.old_pass %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.old_pass.0 }}</div>{% endif %}
                <div class="input-holder"><input type="password"  name="old_pass" autocomplete="off" />{# <span class="info-ico"></span> #}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>{% trans 'New password' %}</label>
                {% if form.errors.new_pass %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.new_pass.0 }}</div>{% endif %}
                <div class="input-holder"><input type="password" name="new_pass" autocomplete="off" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col ok-ico">
                <label>{% trans 'Confirm new password' %}</label>
                {% if form.errors.new_pass2 %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.new_pass2.0 }}</div>{% endif %}
                <div class="input-holder"><input type="password" name="new_pass2" autocomplete="off" /></div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="block">
        <h3>{% trans 'Notification by e-mail' %}</h3>
        <div class="radio-wrap">
            <div class="notice-holder">
                <div class="col">
                    {{ form.mail_time }}
                </div>
                <div class="col">
                    <ul>
                        <li><label for="{{ form.mail_messages.id_for_label }}">{{ form.mail_messages.label }} {{ form.mail_messages }}</label></li>
                        <li><label for="{{ form.mail_trade.id_for_label }}">{{ form.mail_trade.label }} {{ form.mail_trade }}</label></li>
                        <li><label for="{{ form.mail_dates.id_for_label }}">{{ form.mail_dates.label }} {{ form.mail_dates }}</label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="btn-row">
            <a class="big-blue-btn" href="#">
                <span>{% trans 'Save changes' %}</span>
                <input type="submit" name="account" />
            </a>
        </div>
    </div>


    </form>
</div>
{% endblock %}