{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <table style="width: 100%;" class="sigin_form">
    <tr><td style="text-align: center;">

    <h2>{% blocktrans %}Welcome to the international booking service for DJ`s, LIVE performers, electronic music artists and their customers.{% endblocktrans %}</h2>
    {% blocktrans %}To register enter your email, password and click the Registration button{% endblocktrans %}
    <div class="line"></div>
    <div style="width: 320px; margin: 0 auto;">
        <div class="social_auth_widget">
        {% if error_facebook %}
            <div class="info-wrapper red">{{ error_facebook }}</div>
        {% endif %}
        <a href="https://graph.facebook.com/oauth/authorize?client_id={{ settings.AUTH_FACEBOOK_KEY }}&redirect_uri=http://{{ settings.SITE_URL }}{{ settings.AUTH_FACEBOOK_REDIRECT_URI }}&scope=email&state={{ csrf_token }}">
            <img src="http://developers.facebook.com/images/devsite/login-button.png"/>
        </a>

        </div>
        <div class="and">
            <span>{% trans 'OR' %}</span>
        </div>

        <form method="post">{% csrf_token %}
            {% if form.errors and not form.errors.email and not form.errors.password %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.values.0 }}</div>{% endif %}
            {% if form.errors.email %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.email.0 }}</div>{% endif %}
            <div class="input-wrap login">
                {{ form.email }}
            </div>
            {% if form.errors.password %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.password.0 }}</div>{% endif %}
            <div class="input-wrap password">
                {{ form.password }}
            </div>
            <br>
            <div style="width: 300px; margin: 0 auto;">
            <div class="btn-wrap" style="float: left">
                <span class="big-blue-btn">
                    <span>{% trans 'Login' %}</span>
                    <input type="submit" name="login" title="{% trans 'Login' %}" value="" id="popup_signin_button">
                </span><br>
                <span class="note"> <a href="{% url 'repassword' %}">{% trans 'Forgot password?' %}</a></span>
            </div>
            <div class="btn-wrap" style="float: right">
                <span class="big-green-btn">
                    <span>{% trans 'Registration' %}</span>
                    <input type="submit" name="registration" title="{% trans 'Registration' %}" value="" id="popup_signin_button">
                </span>
            </div><div class="clear"></div>
            </div>
        </form>

        <br>
        <div class="and"></div>
        {% trans 'By creating an account, you agree to our ' %}
        <a href="/info/page/Terms_9/">{% trans 'User Agreement' %}</a>{% trans ' and ' %}<a href="/info/page/Privacy_4/">{% trans 'Privacy policy' %}</a>
    </div>



    </td></tr>
    </table>

{% endblock %}