{% extends 'base.html' %}
{% load static i18n %}
{% block extended_js %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function(){
            $( ".datepicker.date-birth" ).datepicker({
                'beforeShow':function(){
                    setTimeout(function(){
                        $('#ui-datepicker-div').addClass('blue-calendar').find('.ui-datepicker-header').addClass('top').end().find('>*').wrapAll($('<div class="blue-calendar-holder"></div>'));
                    },10);
                },
                'onChangeMonthYear':function(){
                    setTimeout(function(){
                        $('#ui-datepicker-div').addClass('blue-calendar').find('.ui-datepicker-header').addClass('top').end().find('>*').wrapAll($('<div class="blue-calendar-holder"></div>'));
                    },10);
                },
                'showOtherMonths':true,
                'dateFormat':'mm/dd/yy',
                'changeMonth': true,
                'changeYear': true,
                'yearRange': "1930:2022"
            });
            $('.open-datepicker').click(function(e){
                if(!$(this).parent().find('input').is('.focus')){
                    $(this).parent().find('input').focus();
                }
                return false;
            });
        });

        if (window.location.hash == '#_=_') {
            window.location.hash = '';
        }

    </script>
{% endblock %}
{% block content %}

    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="tab-set-holder">
        <ul class="tab-set">
            <li{% if not submenu_url %} class="active"{% endif %}><a href="{% url 'account:main' %}">{% trans "Profile settings" %}</a></li>
            <li{% if submenu_url == 'dates' %} class="active"{% endif %}><a href="{% url 'account:dates' %}">{% trans "My dates" %}</a></li>
{#            <li><a href="#">Финансы</a></li>#}
            <li{% if submenu_url == 'trade' %} class="active"{% endif %}><a href="{% url 'account:trade_list' %}">{% trans 'Requests' %}</a></li>
            <li{% if submenu_url == 'mailbox' %} class="active"{% endif %}><a href="{% url 'account:mailbox' %}">{% trans 'Messages' %}</a></li>
            <li{% if submenu_url == 'billing' %} class="active"{% endif %}><a href="{% url 'account:billing' %}">{% trans 'Billing' %}</a></li>
        </ul>
    </div>
    {% block account_content %}{% endblock %}
{% endblock %}