{% load staticfiles i18n %}
<style>
    #mailbox_send_ajax .table_mailbox label.error{display: inline-table;}
</style>
<div class="popup-holder" id="mailbox_popup" style="display: none;">
    <div class="bg"></div>
    <div class="popup">
        <fieldset id="popup_inner" class="block message">
            <div class="heading">
                {% trans 'Message' %}<br>
            </div>
            <form method="post" action="{% url 'account:mailbox_ajax' %}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} id="mailbox_send_ajax" novalidate="novalidate">
            {% csrf_token %}
            <div id="error_place_mailbox" class="green" style="display: none; text-align: center; font-weight: bold;">{% trans 'Message successfully sent' %}</div>
            <table class="table_mailbox">
                {{ form.as_table }}
                <tr><th></th><td>
                    <div class="btn-row">
                        <span class="big-blue-btn" style="float: right; right: 25px;">
                        <span>{% trans 'Send' %}</span>
                        <input type="submit" title="{% trans 'Send' %}">
                        </span>
                    </div>
                </td></tr>
            </table>
            </form>
        </fieldset>
    </div>
</div>