{% load staticfiles i18n %}
{% blocktrans %}Dear user!{% endblocktrans %}<br>
{% blocktrans %}Please, enjoy some fresh news in Your account on GigCenter.com.{% endblocktrans %}
{% if user.messages %}<br><br> <b>{% trans 'Messages' %}:</b>
    {% for mess in user.messages %}
        <br><b>{% if mess.sender %}{{ mess.sender.get_full_name }}{% else %}GigCenter.com{% endif %}</b>
        <small>({{ mess.date }})</small>: <a href="http://{{ SITE_URL }}{{ mess.get_absolute_url }}">{{ mess.title }}</a>
    {% endfor %}
    <br><a href="http://{{ SITE_URL }}{% url 'account:mailbox' %}">{% trans 'Read more...' %}</a>
{% else %}<br><br><b>{% trans 'Messages' %}:</b><br>{% trans 'There are no new messages' %}
{% endif %}
{% if user.trades %}<br><br> <b>{% trans 'Requests' %}:</b>
    {% for trade in user.trades %}
        <br>{{ trade.update }}, <b>{{ trade.get_type_date_display }}: {{ trade.date_all.dates }}</b>, <a href="http://{{ SITE_URL }}{{ trade.get_absolute_url }}">{{ trade.get_status_trade_display }}</a>
    {% endfor %}
    <br><a href="http://{{ SITE_URL }}{% url 'account:trade_list' %}">{% trans 'Read more...' %}</a>
{% else %}<br><br><b>{% trans 'Requests' %}:</b><br>{% trans 'There are no new requests' %}
{% endif %}
{% if user.dates %}<br><br> <b>{% trans 'Dates' %}:</b>
    {% for date in user.dates %}
        <br><b>{{ date.get_type_date_display }}: {{ date.dates }}</b>, <a href="http://{{ SITE_URL }}{{ date.get_absolute_url_view }}">{{ date.username_child }}</a>
    {% endfor %}
    <br><a href="http://{{ SITE_URL }}{% url 'last_all' %}">{% trans 'Read more...' %}</a>
{% else %}<br><br><b>{% trans 'Dates' %}:</b><br>{% trans 'There are no new dates' %}
{% endif %}



<br><br><br><br>{% trans 'Best wishes,' %}<br><br>

{% blocktrans %}Your personal GigCenter reminder.{% endblocktrans %}<br><br>

{% blocktrans %}Do not reply to this message. Your response letter to this address will not be checked. Please, contact us by using the {% endblocktrans %}
<a href="http://{{ SITE_URL }}/info/support/">{% trans 'Feedback form' %}</a>.<br><br>
-----<br>
{% blocktrans %}Copyright @ GigCenter 2015. All rights reserved.{% endblocktrans %}<br>
<a href="http://{{ SITE_URL }}/info/page/Terms_9/">{% trans 'Terms of Use' %}</a> | <a href="http://{{ SITE_URL }}/info/page/Privacy_4/">{% trans 'Privacy Policy' %}</a> <br>
{% trans 'To unsubscribe, just visit Your ' %}<a href="http://{{ SITE_URL }}/account/">{% trans 'Basic profile' %}</a> {% trans ' and change Your notification settings.' %}<br>