@media screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
    padding-left: 2% !important;
    padding-right: 2% !important; }

  nav {
    text-align: center;
    z-index: 600; }
    nav #logo {
      margin-left: -30px;
      float: none; }
    nav #toggle {
      display: block; }
      nav #toggle.active span {
        background: #58a5ff; }
    nav ul {
      width: 200px;
      height: 100%;
      position: fixed;
      background: #13112b;
      box-shadow: inset 0 5px 0 0 rgba(88, 165, 255, 0.4), 0 1000px 0 1000px rgba(19, 17, 43, 0.3);
      text-align: left;
      line-height: 55px;
      padding-top: 50px;
      top: 69px;
      left: 0;
      z-index: 500;
      display: none; }
      nav ul.active {
        display: block; }
      nav ul li {
        padding-left: 10px;
        width: 100%;
        float: none; }
        nav ul li:nth-child(-n+3) {
          border-bottom: 1px solid #050415; }
        nav ul li a {
          color: #fff; }
      nav ul .button {
        position: fixed !important;
        bottom: 25px; }

  header .slider {
    width: 80%; }

  #about .left {
    width: 50%; }
  #about .right {
    width: 50%;
    padding-bottom: 20px;
    float: right; }
  #about .content .item ul {
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    float: left; }
    #about .content .item ul br {
      display: none !important; }
    #about .content .item ul li {
      width: 33%;
      min-height: 90px;
      float: left; }

  #slider .read_more.active {
    position: relative;
    overflow: hidden; }
    #slider .read_more.active:after {
      width: 100%;
      height: 500px;
      display: block;
      position: absolute;
      left: 0;
      top: 90px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.8) 7%);
      cursor: pointer;
      content: ''; }
  #slider .slider {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
    position: relative;
    overflow: hidden; }
    #slider .slider .slide {
      max-width: 1160px; }
    #slider .slider ul {
      margin: 0px; }
  #slider .con {
    height: auto !important; }
  #slider .left,
  #slider .right {
    width: 100% !important;
    display: block !important; }
  #slider .left p {
    text-align: justify; }
  #slider .left .txt {
    max-height: 160px;
    height: 160px;
    overflow: hidden; }
    #slider .left .txt.active {
      height: auto !important;
      max-height: 1000px !important;
      min-height: 160px; }
  #slider .left p {
    line-height: 20px !important;
    font-size: 14px !important; }
    #slider .left p br {
      display: none !important; }
  #slider .left.v2 br, #slider .left.v3 br {
    display: none !important; }
  #slider .right {
    height: 358px; }

  #slider {
    padding-bottom: 25px; }

  #get_started li {
    max-width: 300px;
    width: 40%;
    padding: 0 0 0 80px; }
    #get_started li:nth-child(even) {
      padding-left: 80px; }
      #get_started li:nth-child(even) .icon {
        left: 0 !important; }
    #get_started li:nth-child(odd) {
      margin-right: 20%; } }
@media screen and (max-width: 875px) {
  #about .content .item ul li {
    width: 50%; } }
@media screen and (max-width: 820px) {
  .wrap {
    padding-left: 20px !important;
    padding-right: 20px !important; }

  header button,
  header .button {
    margin-bottom: 20px; }
  header .slider {
    width: 100%; }
    header .slider p br {
      display: none !important; }

  #about .left {
    width: 100%; }
  #about .right {
    width: auto;
    float: left; }

  #slider .left p {
    padding: 0 !important; }
  #slider .txt {
    max-height: 126px !important;
    height: 126px !important; }
    #slider .txt.active {
      min-height: 126px; }
  #slider .right img {
    max-width: 100% !important; }

  #slider2 .text {
    display: block !important;
    padding-top: 10px; }
  #slider2 .table .ui {
    width: 50% !important; } }
@media screen and (max-width: 690px) {
  #slider2 .ui {
    width: auto !important;
    display: block !important;
    overflow: hidden; }
    #slider2 .ui .buttons {
      max-width: 446px;
      width: 100%;
      margin: auto; }
      #slider2 .ui .buttons button,
      #slider2 .ui .buttons .button {
        margin-right: 10px; }
      #slider2 .ui .buttons .blue.v1 {
        margin-right: 0px; }
  #slider2 .table .text {
    padding-top: 20px; }
  #slider2 .table p {
    font-size: 14px !important;
    text-align: justify; }
  #slider2 .table .ui {
    width: 100% !important;
    text-align: center; }
  #slider2 .gif {
    width: 100% !important;
    display: block !important;
    padding-top: 20px !important;
    text-align: center; }
    #slider2 .gif img {
      max-width: 100%; } }
@media screen and (max-width: 640px) {
  h1 {
    line-height: 40px;
    font-size: 30px !important; }

  h2 {
    line-height: 35px !important;
    font-size: 25px !important; }

  p, .tags, .content li, #slider2 span, footer {
    line-height: 22px !important;
    font-size: 16px !important; }

  #slider .txt {
    max-height: 159px !important;
    height: 159px  !important; }
    #slider .txt.active {
      min-height: 159px; }
  #slider .right {
    height: 300px; }
    #slider .right img {
      max-width: 100% !important;
      max-height: 255px; }

  #get_started {
    background-position: right; }
    #get_started li {
      width: 47%; }
      #get_started li:nth-child(odd) {
        margin-right: 6%; }

  #steps .step {
    width: 100%; }
    #steps .step:not(:last-child) {
      padding-bottom: 125px; }
    #steps .step:after {
      left: 50% !important;
      top: auto !important;
      bottom: 40px;
      margin-left: -44px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); } }
@media screen and (max-width: 480px) {
  h1 {
    line-height: 35px;
    font-size: 25px !important; }

  h2 {
    line-height: 28px !important;
    font-size: 20px !important; }

  p, .tags, .content li, #slider2 span, footer {
    line-height: 20px !important;
    font-size: 14px !important; }

  header {
    padding-top: 140px; }
    header .slider h1 {
      line-height: 40px;
      font-size: 30px !important; }

  button,
  .button {
    font-size: 14px !important; }
    button.blue,
    .button.blue {
      width: 125px; }

  #slider .txt {
    max-height: 136px !important;
    height: 136px  !important; }
    #slider .txt.active {
      min-height: 159px; }
  #slider .right {
    height: 195px; }
    #slider .right img {
      width: auto !important;
      max-height: 150px !important; }
  #slider .left h2 {
    text-align: left;
    font-size: 18px; }
    #slider .left h2 br {
      display: none !important; }

  #slider ul li:not(:first-child) {
    margin-left: 10px; }
    #slider ul li:not(:first-child):after {
      width: 13px;
      left: -14px; }

  #slider img {
    max-height: 200px !important;
    width: auto; }

  #slider .s1 img {
    max-height: 150px !important; }

  #about .content .item ul li {
    width: 100%;
    min-height: auto !important; }

  #get_started li {
    width: 100%;
    padding-top: 10px !important; }
  #get_started h2 {
    text-align: left; }
  #get_started button,
  #get_started .button {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }

  #steps .step p br {
    display: none !important; } }

/*# sourceMappingURL=screen.css.map */
