{% extends 'crm/base.html' %}{% load staticfiles i18n %}
{% block block_css %}
    <link href="{% static 'metronic/assets/admin/pages/css/profile-old.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body_class %}page-header-fixed page-quick-sidebar-over-content{% endblock %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
Venues <small>{{ object }}</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'crm:home' %}">{% trans 'Home' %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% trans 'Users' %}
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'crm:users_venues' %}">{% trans 'Venues' %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {{ object }}
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<div class="row profile">

    <!-- BEGIN PAGE CONTENT-->
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable-line tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab">Overview </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="list-unstyled profile-nav">
                                    <li>
                                        <img src="{{ MEDIA_URL }}{{ object.avatar }}" class="img-responsive" alt=""/>
                                        <a href="javascript:;" class="profile-edit">edit </a>
                                    </li>
                                    <li><a href="javascript:;">Projects </a></li>
                                    <li><a href="javascript:;">Messages <span>3 </span></a></li>
                                    <li><a href="javascript:;">Settings </a></li>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-8 profile-info">
                                        <h1>{{ object.nickname }}</h1>
                                        <p>{{ object.info|linebreaksbr }}</p>
                                        <p><a href="{% url 'users:club' object.uuid_id %}">{% trans 'View on site' %}</a></p>
                                        <ul class="list-inline">
                                            <li><i class="fa fa-map-marker"></i> {{ object.country }}, {{ object.city }}</li>
                                            <li><i class="fa fa-calendar"></i> {{ object.create|date:"DATE_FORMAT" }}</li>
                                            {% if object.agent %}<li><i class="fa fa-user"></i> {{ object.agent.nickname }}</li>{% endif %}
                                        </ul>
                                    </div>
                                    <!--end col-md-8-->
                                    <div class="col-md-4">
                                        <div class="portlet sale-summary">
                                            <div class="portlet-body">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <span class="sale-info">{% trans 'Created' %} <i class="fa fa-img-up"></i></span>
                                                        <span class="sale-num">{{ object.create|date:"SHORT_DATE_FORMAT" }} </span>
                                                    </li>
                                                    <li>
                                                        <span class="sale-info">{% trans 'Dates' %} <i class="fa fa-img-down"></i></span>
                                                        <span class="sale-num">{{ object.dates_count }} </span>
                                                    </li>
                                                    <li>
                                                        <span class="sale-info">{% trans 'Requests' %} </span>
                                                        <span class="sale-num">{{ object.trade_count }} </span>
                                                    </li>
                                                    <li>
                                                        <span class="sale-info">{% trans 'Deals' %} </span>
                                                        <span class="sale-num">{{ object.deals_count }} </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-md-4-->
                                </div>
                                <!--end row-->
                                <div class="tabbable-line tabbable-custom-profile">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1_11" data-toggle="tab">{% trans 'Inbox' %}</a></li>
                                        <li><a href="#tab_1_22" data-toggle="tab">{% trans 'Outbox' %}</a></li>
                                        <li><a href="#tab_1_33" data-toggle="tab">{% trans 'Deals' %}</a></li>
                                        <li><a href="#tab_1_44" data-toggle="tab">{% trans 'Rejected' %}</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1_11">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead><tr>
                                                    <th>{% trans 'Create or update' %}</th>
                                                    <th>{% trans 'Event date' %}</th>
                                                    <th>{% trans 'Date venue' %}</th>
                                                    <th>{% trans 'Trade venue' %}</th>
                                                    <th>{% trans 'Date artist' %}</th>
                                                    <th>{% trans 'Trade artist' %}</th>
                                                    <th>{% trans 'Email' %}</th>
                                                    <th>{% trans 'User Name' %}</th>
                                                    <th>{% trans 'Date type' %}</th>
                                                    <th>{% trans 'Status' %}</th>
                                                </tr></thead>
                                                <tbody>{% for trade in trades_inbox %}<tr>
                                                    <td>{{ trade.create|date:"SHORT_DATE_FORMAT" }}</td>
                                                    <td><a href="{{ trade.date_all.get_absolute_url_view }}">{{ trade.date_all.dates|date:"SHORT_DATE_FORMAT" }}</a></td>
                                                    <td>{% if trade.club_date %}<a href="{{ trade.club_date.get_absolute_url }}">{{ trade.club_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.club_trade %}<a href="{{ trade.club_trade.get_absolute_url }}">{{ trade.club_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_date %}<a href="{{ trade.artist_date.get_absolute_url }}">{{ trade.artist_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_trade %}<a href="{{ trade.artist_trade.get_absolute_url }}">{{ trade.artist_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.email }}{% else %}{{ trade.user_date.email }}{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.get_full_name }}{% else %}{{ trade.user_date.get_full_name }}{% endif %}</td>
                                                    <td>{{ trade.date_all.get_type_date_display }}</td>
                                                    <td>{{ trade.get_status_trade_display }}</td>
                                                </tr>{% endfor %}</tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--tab-pane-->
                                        <div class="tab-pane" id="tab_1_22">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead><tr>
                                                    <th>{% trans 'Create or update' %}</th>
                                                    <th>{% trans 'Event date' %}</th>
                                                    <th>{% trans 'Date venue' %}</th>
                                                    <th>{% trans 'Trade venue' %}</th>
                                                    <th>{% trans 'Date artist' %}</th>
                                                    <th>{% trans 'Trade artist' %}</th>
                                                    <th>{% trans 'Email' %}</th>
                                                    <th>{% trans 'User Name' %}</th>
                                                    <th>{% trans 'Date type' %}</th>
                                                    <th>{% trans 'Status' %}</th>
                                                </tr></thead>
                                                <tbody>{% for trade in trades_outbox %}<tr>
                                                    <td>{{ trade.create|date:"SHORT_DATE_FORMAT" }}</td>
                                                    <td><a href="{{ trade.date_all.get_absolute_url_view }}">{{ trade.date_all.dates|date:"SHORT_DATE_FORMAT" }}</a></td>
                                                    <td>{% if trade.club_date %}<a href="{{ trade.club_date.get_absolute_url }}">{{ trade.club_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.club_trade %}<a href="{{ trade.club_trade.get_absolute_url }}">{{ trade.club_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_date %}<a href="{{ trade.artist_date.get_absolute_url }}">{{ trade.artist_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_trade %}<a href="{{ trade.artist_trade.get_absolute_url }}">{{ trade.artist_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.email }}{% else %}{{ trade.user_date.email }}{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.get_full_name }}{% else %}{{ trade.user_date.get_full_name }}{% endif %}</td>
                                                    <td>{{ trade.date_all.get_type_date_display }}</td>
                                                    <td>{{ trade.get_status_trade_display }}</td>
                                                </tr>{% endfor %}</tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--tab-pane-->
                                        <div class="tab-pane" id="tab_1_33">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead><tr>
                                                    <th>{% trans 'Create or update' %}</th>
                                                    <th>{% trans 'Event date' %}</th>
                                                    <th>{% trans 'Date venue' %}</th>
                                                    <th>{% trans 'Trade venue' %}</th>
                                                    <th>{% trans 'Date artist' %}</th>
                                                    <th>{% trans 'Trade artist' %}</th>
                                                    <th>{% trans 'Email' %}</th>
                                                    <th>{% trans 'User Name' %}</th>
                                                    <th>{% trans 'Date type' %}</th>
                                                    <th>{% trans 'Status' %}</th>
                                                </tr></thead>
                                                <tbody>{% for trade in trades_deals %}<tr>
                                                    <td>{{ trade.create|date:"SHORT_DATE_FORMAT" }}</td>
                                                    <td><a href="{{ trade.date_all.get_absolute_url_view }}">{{ trade.date_all.dates|date:"SHORT_DATE_FORMAT" }}</a></td>
                                                    <td>{% if trade.club_date %}<a href="{{ trade.club_date.get_absolute_url }}">{{ trade.club_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.club_trade %}<a href="{{ trade.club_trade.get_absolute_url }}">{{ trade.club_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_date %}<a href="{{ trade.artist_date.get_absolute_url }}">{{ trade.artist_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_trade %}<a href="{{ trade.artist_trade.get_absolute_url }}">{{ trade.artist_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.email }}{% else %}{{ trade.user_date.email }}{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.get_full_name }}{% else %}{{ trade.user_date.get_full_name }}{% endif %}</td>
                                                    <td>{{ trade.date_all.get_type_date_display }}</td>
                                                    <td>{{ trade.get_status_trade_display }}</td>
                                                </tr>{% endfor %}</tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--tab-pane-->
                                        <div class="tab-pane" id="tab_1_44">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead><tr>
                                                    <th>{% trans 'Create or update' %}</th>
                                                    <th>{% trans 'Event date' %}</th>
                                                    <th>{% trans 'Date venue' %}</th>
                                                    <th>{% trans 'Trade venue' %}</th>
                                                    <th>{% trans 'Date artist' %}</th>
                                                    <th>{% trans 'Trade artist' %}</th>
                                                    <th>{% trans 'Email' %}</th>
                                                    <th>{% trans 'User Name' %}</th>
                                                    <th>{% trans 'Date type' %}</th>
                                                    <th>{% trans 'Status' %}</th>
                                                </tr></thead>
                                                <tbody>{% for trade in trades_rejected %}<tr>
                                                    <td>{{ trade.create|date:"SHORT_DATE_FORMAT" }}</td>
                                                    <td><a href="{{ trade.date_all.get_absolute_url_view }}">{{ trade.date_all.dates|date:"SHORT_DATE_FORMAT" }}</a></td>
                                                    <td>{% if trade.club_date %}<a href="{{ trade.club_date.get_absolute_url }}">{{ trade.club_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.club_trade %}<a href="{{ trade.club_trade.get_absolute_url }}">{{ trade.club_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_date %}<a href="{{ trade.artist_date.get_absolute_url }}">{{ trade.artist_date }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.artist_trade %}<a href="{{ trade.artist_trade.get_absolute_url }}">{{ trade.artist_trade }}</a>{% else %}-{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.email }}{% else %}{{ trade.user_date.email }}{% endif %}</td>
                                                    <td>{% if trade.user_date == object.user %}{{ trade.user_trade.get_full_name }}{% else %}{{ trade.user_date.get_full_name }}{% endif %}</td>
                                                    <td>{{ trade.date_all.get_type_date_display }}</td>
                                                    <td>{{ trade.get_status_trade_display }}</td>
                                                </tr>{% endfor %}</tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--tab-pane-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tab_1_2-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    <!-- END PAGE CONTENT-->


</div>

{% endblock %}