{% extends 'crm/base.html' %}{% load staticfiles i18n %}
{% block block_css %}
    <link href="{% static 'metronic/assets/admin/pages/css/inbox.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body_class %}page-header-fixed page-quick-sidebar-over-content{% endblock %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
Users <small>venues</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'crm:home' %}">{% trans 'Home' %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% trans 'Users' %}
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'crm:users_venues' %}">{% trans 'Venues' %}</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<div class="row inbox">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Venues list
                </div>
                <div class="tools">
{#                    <th class="pagination-control" colspan="3">#}
                        {% if page_obj.paginator.num_pages %}
                            {% if page_obj.has_previous %}
                                <a style="height: auto" href="{% url 'crm:users_venues' %}{% if page_obj.previous_page_number > 1 %}?page={{ page_obj.previous_page_number }}{% endif %}" class="btn btn-sm blue"><i class="fa fa-angle-left"></i></a>
                            {% endif %}

                            <span class="pagination-info">
                                {% trans 'Page:' %} {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a style="height: auto" href="{% url 'crm:users_venues' %}?page={{ page_obj.next_page_number }}" class="btn btn-sm blue"><i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        {% endif %}
{#                    </th>#}
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                <tr>
                    <th>{% trans 'Create' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'User Name' %}</th>
                    <th>{% trans 'User Email' %}</th>
                    <th>{% trans 'Base/Agent' %}</th>
                    <th>{% trans 'Dates' %}</th>
                    <th>{% trans 'Requests' %}</th>
                    <th>{% trans 'Deals' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for venue in object_list %}<tr>
                    <td>
                        {% now "SHORT_DATE_FORMAT" as now_today %}
                        {% if venue.create|date:"SHORT_DATE_FORMAT" == now_today %}{{ venue.create|date:"TIME_FORMAT" }}
                        {% else %}{{ venue.create|date:"DATE_FORMAT" }}{% endif %}
                    </td>
                    <td><a href="{% url 'crm:users_venues_view' venue.pk %}" class="edit">{{ venue.nickname }}</a></td>
                    <td>{{ venue.user.get_full_name }}</td>
                    <td>{{ venue.user.email }}</td>
                    <td>{% if venue.agent %}{{ venue.agent.nickname }}{% else %}{% trans '-' %}{% endif %}</td>
                    <td>{{ venue.dates_count }}</td>
                    <td>{{ venue.trade_count }}</td>
                    <td>{{ venue.deals_count }}</td>
                </tr>{% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

{% endblock %}