{% extends 'crm/tickets/ticket_list.html' %}{% load staticfiles i18n %}
{% block ticket_content %}
<div class="inbox-header inbox-view-header">
	<h1 class="pull-left">{{ object.subject }}</h1>
	<div class="pull-right">
{#		<i class="fa fa-print"></i>#}
	</div>
</div>
<div class="inbox-view-info">
	<div class="row">
		<div class="col-md-7">
            <i class="icon-user"></i> &nbsp;
			{% if object.user %}<span><span class="bold">{{ object.user.get_full_name }}</span>
			&#60;{{ object.user }}&#62; </span>{% else %}
            <span><span class="bold">{% trans 'Not identified' %}</span>
			&#60;{{ object.email }}&#62; </span>
			{% endif %}
			{% trans 'to' %} <span class="bold">
			{% trans 'me' %} </span>
			{% trans 'on' %} {{ object.create }}
		</div>
		<div class="col-md-5 inbox-info-btn">
			<div class="btn-group">
                <b>{% trans 'Category' %}:</b> {{ object.get_category_display }}
            </div>
        </div>
    </div>
</div>
<div class="inbox-view">
    {{ object.text|linebreaks }}
</div>
<hr>
<div class="inbox-attached">
    <div class="margin-bottom-15">
        <span>
        {% trans 'The reference url' %}: </span>
        <a href="{{ object.page }}" target="_blank">{{ object.page }}</a>
    </div>
</div>
<hr>
{% if object.ticket_children.all %}
    {% for child in object.ticket_children.all %}<div style="background: #ffe0e0; padding: 5px; margin-left: 50px;">
        <div class="inbox-view-info">
            <div class="row">
                <div class="col-md-7">
                    <i class="icon-user"></i> &nbsp;
                    {% if child.user %}<span><span class="bold">{{ child.user.get_full_name }}</span>
                    &#60;{{ child.user }}&#62; </span>{% else %}
                    <span><span class="bold">{% trans 'Not identified' %}</span>
                    &#60;{{ child.email }}&#62; </span>
                    {% endif %}
                    {% trans 'to' %} <span class="bold">
                    {% trans 'me' %} </span>
                    {% trans 'on' %} {{ child.create }}
                </div>

            </div>
        </div>
        <div class="inbox-view">
            {{ child.text|linebreaks }}
        </div></div><br>
    {% endfor %}
<hr>
{% endif %}
<div class="post-comment">
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label class="control-label">{% trans 'The answer' %}
            </label>
            <textarea rows="8" class="col-md-10 form-control" name="text"></textarea>
        </div>
        <button type="submit" class="margin-top-20 btn blue">{% trans 'Send' %}</button>
    </form>
</div>
<hr>
    {{ form.errors }}

{% endblock %}
