{% extends 'crm/base.html' %}{% load staticfiles i18n %}
{% block block_css %}
    <link href="{% static 'metronic/assets/admin/pages/css/inbox.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body_class %}page-header-fixed page-quick-sidebar-over-content{% endblock %}

{% block content %}
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
Tickets <small>user</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'crm:home' %}">{% trans 'Home' %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% trans 'Tickets' %}
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{% url 'crm:tickets' %}">{% trans 'Site' %}</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<div class="row inbox">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <div class="inbox-header">

        </div>
        <div class="inbox-content">
            <!-- inbox-content -->
            {% block ticket_content %}
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <th colspan="3">
{#                        <input type="checkbox" class="mail-checkbox mail-group-checkbox">#}
                    </th>
                    <th class="pagination-control" colspan="3">
                        {% if page_obj.paginator.num_pages %}
                            {% if page_obj.has_previous %}
                                <a href="{% url 'crm:tickets' %}{% if page_obj.previous_page_number > 1 %}?page={{ page_obj.previous_page_number }}{% endif %}" class="btn btn-sm blue"><i class="fa fa-angle-left"></i></a>
                            {% endif %}

                            <span class="pagination-info">
                                {% trans 'Page:' %} {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a href="{% url 'crm:tickets' %}?page={{ page_obj.next_page_number }}" class="btn btn-sm blue"><i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in object_list %}
                <tr{% if ticket.read %} class="unread"{% endif %} style="cursor: default;">
                    <td class="inbox-small-cells">
{#                        <input type="checkbox" class="mail-checkbox">#}
                    </td>
                    <td class="inbox-small-cells">
{#                        <i class="fa fa-star"></i>#}
                    </td>
                    <td class="view-message" style="width: 300px; overflow: hidden;">
                         <a href="{{ ticket.get_absolute_url }}">{% if ticket.user %}{{ ticket.user }}{% else %}{{ ticket.email }}{% endif %}</a>
                    </td>
                    <td class="view-message ">
                         <a href="{{ ticket.get_absolute_url }}">{{ ticket.subject }}</a>
                    </td>
                    <td class="view-message" style="width: 300px; overflow: hidden;">
                        <a href="{{ ticket.get_absolute_url }}">{{ ticket.get_category_display }}</a>
                    </td>
                    <td class="view-message text-right">
                        {% now "SHORT_DATE_FORMAT" as now_today %}
                        {% if ticket.create|date:"SHORT_DATE_FORMAT" == now_today %}{{ ticket.create|date:"TIME_FORMAT" }}
                        {% else %}{{ ticket.create|date:"DATE_FORMAT" }}{% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock %}
            <!-- END inbox-content -->
        </div>
    </div>
</div>
{% endblock %}
