{% extends 'gigdate/account/main.html' %}
{% load static i18n user_tag %}

{% block profile_content %}
<div class="content-profile">
    <h2>{% trans 'My dates' %} ({{ page_obj.paginator.count }})</h2>
    {% if gigdates %}
    <table class="table_gigdates">
        <tr id="th">
            <th width="120">{% trans 'Event date' %}</th>
            <th>{% trans 'Profile' %}</th>
            <th width="150">{% trans 'Date type' %}</th>
            <th width="150">{% trans 'Created' %}</th>
        </tr>
        {% for gigdate in gigdates %}
        <tr>
            <td><a href="{{ gigdate.get_absolute_url }}">{{ gigdate.dates|date:"SHORT_DATE_FORMAT" }}</a>{% if gigdate.gigdate.second_country or gigdate.gigbarter.second_country %} <img title="{% trans 'This is a second date' %}" src="{% static 'images/ui_2Date.png' %}" />{% endif %}</td>
            <td>{{ gigdate.username_child|slice:":30" }}{% if gigdate.username_child|letterscount > 30 %}<i class="last_letter">{{ gigdate.username_child|slice:"30:31" }}...</i>{% endif %}</td>
            <td>{{ gigdate.get_type_date_display }}</td>
            <td>{{ gigdate.create|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}<div class="pagination pagination-centered">
        <ul>
            {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

            {% for p in page_obj.paginator.page_range %}
                <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
        </ul>
    </div>{% endif %}
    {% else %}
        <center>{% trans 'Dates not found' %}</center>
    {% endif %}

</div>
{% endblock %}