{% extends 'gigdate/account/main.html' %}
{% load static i18n %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block profile_content %}
    <div class="content-profile">
{#        {% if form.errors %}{{ form.errors }}<br>{% endif %}#}
        <h2>{% trans 'Edit gig-barter' %}</h2>
        <a href="{% url 'gigdate:barter_view' id_obect %}" target="_blank" class="right ">{% trans 'View on the web-site' %}</a><br />

        <div id="gigdatesadd">
        <form method="POST">{% csrf_token %}
            <div class="block_info">
                <div id="artist_info">
                    <div class="avatar" style="width: 140px"><img src="{% if artist.avatar %}{{ MEDIA_URL }}{{ artist.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" id="avatar_01"></div>
                    <div class="artist_info">
                        <div class="row">
                            <label>{% trans "Select artist's profile" %}</label><br>
                            {% if form.errors.artist %}<div class="red">{{ form.errors.artist.0 }}</div><br>{% endif %}
                            {{ form.artist }}
                        </div>
                        <div class="row">
                            {% if artist.country.width != '0' or artist.country.height != '0' %}<div id="flag_01" class="flag_country" style="background-position: -{{ artist.country.width }}px -{{ artist.country.height }}px;"></div>{% endif %}<div id="fromlocation_01">{{ artist.country.title }}, {{ artist.city.title }}</div>
                        </div>
                        <div class="row" id="genres_01">
                            {% for pf in artist.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="block_info">
                <div class="block_dates">
                    <div class="row">
                        <table>
                            <tr>
                                <td>
                                    {% trans 'Available date' %}
                                    {% if form.errors.dates %}<div class="info-wrapper red">{{ form.errors.dates.0 }}</div>{% endif %}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-holder">
                                        <a class="open-datepicker" href="#"></a>
                                        {{ form.dates }}
                                    </div>
                                </td>
                                <td><label>
                                    {{ form.secondary_data }}
                                    {% trans 'This is a second date' %}</label></td>
                                <td></td>
                            </tr>
                            <tr class="secondary_data"{% if form.secondary_data.value %} style="display: table-row;"{% endif %}>
                                <td>
                                    {% trans 'Closest confirmed date' %}
                                    {% if form.errors.second_date %}<div class="info-wrapper red">{{ form.errors.second_date.0 }}</div>{% endif %}
                                </td>
                                <td>
                                    {% trans 'Country' %}
                                    {% if form.errors.second_country %}<div class="info-wrapper red">{{ form.errors.second_country.0 }}</div>{% endif %}
                                </td>
                                <td>
                                    {% trans 'City' %}
                                    {% if form.errors.second_city %}<div class="info-wrapper red">{{ form.errors.second_city.0 }}</div>{% endif %}
                                </td>
                            </tr>
                            <tr class="secondary_data"{% if form.secondary_data.value %} style="display: table-row;"{% endif %}>
                                <td>
                                    <div class="input-holder">
                                        <a class="open-datepicker" href="#"></a>
                                        {{ form.second_date }}
                                    </div>
                                </td>
                                <td>{{ form.second_country }}</td>
                                <td>{{ form.second_city }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <label>{% trans "Maximum number of gigs per date" %}{% if form.count_trade.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.count_trade }}
                    </div>
                </div>

                <div class="block_dates">
                    <div class="row">
                        <label><input type="checkbox" id="all_country"> {% trans 'Geography of requests' %}</label>

                        <div class="clear"></div>
                        {% if form.errors.geography_queries %}<div class="info-wrapper red">{{ form.errors.geography_queries.0 }}</div>{% endif %}
                        <div class="holder">
                            {{ form.geography_queries }}

                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Contract form' %}</label>
                        {% if form.errors.contract_all %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.contract_all.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.contract_artist }}{% trans 'Your own form' %}</label>
                            <label style="margin-left: 20px;">{{ form.contract_site }}{% trans 'Gigcenter contract form' %}</label>
                        </div>
                    </div>
                    <div class="row" id="form_dogovor"{% if form.contract_site.value %} style="display: block;"{% endif %}>
                        <label>{% trans 'Fee payment schedule' %}</label>
                         {% if form.errors.payment_plan %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.payment_plan.0 }}</div>{% endif %}
                        <div class="holder">
                            <div class="holder">
                                {{ form.payment_plan }}

                        </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Event type/fee' %}</label>

                        {% if form.errors.event_type %}<div class="info-wrapper red">{{ form.errors.event_type.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.type_event_public }}{% trans 'Public' %}</label><br>
                            {% if form.errors.mony_publ_fix %}<div class="info-wrapper red">{{ form.errors.mony_publ_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_public"{% if not form.type_event_public.value %} style="display: none"{% endif %}>
                                {% for ev_pub in form.event_public %}
                                {{ ev_pub }}<br>
                                {% endfor %}

                                 <div class="public_fix_gon_mon"{% if form.event_public.value == "1" or form.instance.event_public == 1 %} style="display: block"{% endif %}>
                                   {{ form.mony_publ_fix }}<br>
                                </div>
                                <div class="public_other_gon_mon"{% if form.event_public.value == "2" or form.instance.event_public == 2 %} style="display: block"{% endif %}>
                                    {{ form.mony_publ_oth_from }} - {{ form.mony_publ_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_private }}{% trans 'Private' %}</label><br>
                            {% if form.errors.mony_priv_fix %}<div class="info-wrapper red">{{ form.errors.mony_priv_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_private"{% if not form.type_event_private.value %} style="display: none"{% endif %}>
                                {% for ev_pri in form.event_private %}
                                {{ ev_pri }}<br>
                                {% endfor %}

                                <div class="private_fix_gon_mon"{% if form.event_private.value == "1" or form.instance.event_private == 1 %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_fix }}<br>
                                </div>
                                <div class="private_other_gon_mon"{% if form.event_private.value == "2" or form.instance.event_private == 2 %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_oth_from }} - {{ form.mony_priv_oth_to }}<br>
                                </div>

                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_presentation }}{% trans 'Other' %}</label><br>
                            {% if form.errors.mony_pres_fix %}<div class="info-wrapper red">{{ form.errors.mony_pres_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_presentation"{% if not form.type_event_presentation.value %} style="display: none"{% endif %}>
                                {% for ev_pres in form.event_presentation %}
                                {{ ev_pres }}<br>
                                {% endfor %}

                                <div class="presentation_fix_gon_mon"{% if form.event_presentation.value == "1" or form.instance.event_presentation == 1 %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_fix }}<br>
                                </div>
                                <div class="presentation_other_gon_mon"{% if form.event_presentation.value == "2" or form.instance.event_presentation == 2 %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_oth_from }} - {{ form.mony_pres_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred currency of fee payment' %}</label><br>
                        {{ form.currency }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred form of fee payment' %}</label><br>
                        {% if form.errors.payment_method %}<div class="info-wrapper red">{{ form.errors.payment_method.0 }}</div>{% endif %}
                        {{ form.payment_method }}

                    </div>

                    <div class="row">
                        <label>{% trans 'Rider payments' %}</label><br>
                        {{ form.rider_payments }}
                    </div>
                    <div class="row">
                        <label id="transport_rider">{% trans 'Transportation costs' %}</label><br>
                        {{ form.transport_payments }}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="block_info">
                <h3>{% trans 'Terms of gig barter' %}</h3>
                <div class="block_dates">
                    <div class="row">
                         <label>{% trans 'Response time of barter gig (months)' %}</label><br>
                        {{ form.reply_speech }}
                    </div>
                    <div class="row">
                        <label>{% trans 'Contract form' %}</label>
                        {% if form.errors.barter_contract_all %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.barter_contract_all.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.barter_contract_artist }}{% trans 'Your own form' %}</label>
                            <label style="margin-left: 20px;">{{ form.barter_contract_site }}{% trans 'Gigcenter contract form' %}</label>
                        </div>
                    </div>
                    <div class="row" id="form2_dogovor"{% if form.barter_contract_site.value %} style="display: block;"{% endif %}>
                        <label>{% trans 'Fee payment schedule' %}</label>
                         {% if form.errors.barter_payment_plan %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.barter_payment_plan.0 }}</div>{% endif %}
                        <div class="holder">
                            <div class="holder">
                                {{ form.barter_payment_plan }}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Event type/fee' %}</label>

                        {% if form.errors.barter_event_type %}<div class="info-wrapper red">{{ form.errors.barter_event_type.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.barter_type_event_public }}{% trans 'Public' %}</label><br>
                            {% if form.errors.barter_mony_publ_fix %}<div class="info-wrapper red">{{ form.errors.barter_mony_publ_fix.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_publ_oth_from %}<div class="info-wrapper red">{{ form.errors.barter_mony_publ_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_publ_oth_to %}<div class="info-wrapper red">{{ form.errors.barter_mony_publ_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="gigbarter_type_event_public"{% if not form.barter_type_event_public.value %} style="display: none"{% endif %}>
                                {% for ev_pub in form.barter_event_public %}
                                {{ ev_pub }}<br>
                                {% endfor %}

                                 <div class="gigbarter_public_fix_gon_mon"{% if form.barter_event_public.value == "1" or form.instance.barter_event_public == 1 %} style="display: block"{% endif %}>
                                   {{ form.barter_mony_publ_fix }}<br>
                                </div>
                                <div class="gigbarter_public_other_gon_mon"{% if form.barter_event_public.value == "2" or form.instance.barter_event_public == 2 %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_publ_oth_from }} - {{ form.barter_mony_publ_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <label>{{ form.barter_type_event_private }}{% trans 'Private' %}</label><br>
                            {% if form.errors.barter_mony_priv_fix %}<div class="info-wrapper red">{{ form.errors.barter_mony_priv_fix.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_priv_oth_from %}<div class="info-wrapper red">{{ form.errors.barter_mony_priv_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_priv_oth_to %}<div class="info-wrapper red">{{ form.errors.barter_mony_priv_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="gigbarter_type_event_private"{% if not form.barter_type_event_private.value %} style="display: none"{% endif %}>
                                {% for ev_pri in form.barter_event_private %}
                                    {{ ev_pri }}<br>
                                {% endfor %}

                                <div class="gigbarter_private_fix_gon_mon"{% if form.barter_event_private.value == "1" or form.instance.barter_event_private == 1 %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_priv_fix }}<br>
                                </div>
                                <div class="gigbarter_private_other_gon_mon"{% if form.barter_event_private.value == "2" or form.instance.barter_event_private == 2 %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_priv_oth_from }} - {{ form.barter_mony_priv_oth_to }}<br>
                                </div>

                            </div>
                            <div class="clear"></div>
                            <label>{{ form.barter_type_event_presentation }}{% trans 'Other ' %}</label><br>
                            {% if form.errors.barter_mony_pres_fix %}<div class="info-wrapper red">{{ form.errors.barter_mony_pres_fix.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_pres_oth_from %}<div class="info-wrapper red">{{ form.errors.barter_mony_pres_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_pres_oth_to %}<div class="info-wrapper red">{{ form.errors.barter_mony_pres_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="gigbarter_type_event_presentation"{% if not form.barter_type_event_presentation.value %} style="display: none"{% endif %}>
                                {% for ev_pres in form.barter_event_presentation %}
                                {{ ev_pres }}<br>
                                {% endfor %}

                                <div class="gigbarter_presentation_fix_gon_mon"{% if form.barter_event_presentation.value == "1" or form.instance.barter_event_presentation == 1 %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_pres_fix }}<br>
                                </div>
                                <div class="gigbarter_presentation_other_gon_mon"{% if form.barter_event_presentation.value == "2" or form.instance.barter_event_presentation == 2 %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_pres_oth_from }} - {{ form.barter_mony_pres_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred currency of fee payment' %}</label><br>
                        {{ form.barter_currency }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred form of fee payment' %}</label><br>
                        {% if form.errors.barter_payment_method %}<div class="info-wrapper red">{{ form.errors.barter_payment_method.0 }}</div>{% endif %}
                        {{ form.barter_payment_method }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Rider payments' %}</label><br>
                        {{ form.barter_rider_payments }}
                    </div>
                    <div class="row">
                        <label id="transport_rider">{% trans 'Transportation costs' %}</label><br>
                        {{ form.barter_transport_payments }}
                        <div class="clear"></div>
                    </div>
                </div>

            </div>

            <div class="block_info">
                <h3>{% trans 'Barter venue' %}</h3>
                <div class="block_dates">
                    <div class="row">
                        <label>{% trans 'Select venue profile' %}</label><br>
                        {{ form.club }}
                    </div>
                </div>
                <div class="clear"></div>
            </div>


            <div class="btn-holder">
                {% if form.errors.regulations_accept %}<div class="info-wrapper red">{{ form.errors.regulations_accept.0 }}</div>{% endif %}
                <div class="btn-wrap">
                    <span class="red-btn right"><span>{% trans "Update gig-barter" %}</span><input type="submit" value="" title="{% trans "Update gig-barter" %}" /></span>
                </div>
                <div class="btn-wrap">
                    <span class="blue-btn right" style="margin-right: 10px;"><span>{% trans "Copy this gig-barter" %}</span><input type="submit" name="cloning" value="1" title="{% trans "Copy this gig-barter" %}" /></span>
                </div>
                <div class="ch-list">
                    <label>{{ form.regulations_accept }}{% trans 'I agree with the ' %} <a href="/p/rules_gigdate/">{% trans 'rules' %}</a> {% trans 'of gig-barter placing' %}.</label>
                </div>
            </div>

        </form>
        </div>
    </div>
{% endblock %}