{% extends 'gigdate/account/main.html' %}
{% load static i18n %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block profile_content %}
    <div class="content-profile">
{#        {% if form.errors %}{{ form.errors }}<br>{% endif %}#}
        <h2>{% trans 'Edit gig-tender' %}</h2>
        <a href="{% url 'gigdate:tender_view' id_obect %}" target="_blank" class="right ">{% trans 'View on the web-site' %}</a><br />

        <div id="gigdatesadd">
        <form method="POST">{% csrf_token %}
            <div class="block_info">
                <div id="artist_info">
                    <div class="avatar" style="width: 140px"><img src="{% if club.avatar %}{{ MEDIA_URL }}{{ club.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" id="avatar_01"></div>
                    <div class="artist_info">
                        <div class="row">
                            <label>{% trans 'Select venue profile' %}</label><br>
                            {% if form.errors.club %}<div class="red">{{ form.errors.club.0 }}</div><br>{% endif %}
                            {{ form.club }}
                        </div>
                        <div class="row">
                            {% if club.country.width != '0' or club.country.height != '0' %}<div id="flag_01" class="flag_country" style="background-position: -{{ club.country.width }}px -{{ club.country.height }}px;"></div>{% endif %}<div id="fromlocation_01">{{ club.country.title }}, {{ club.city.title }}</div>
                        </div>
                        <div class="row" id="genres_01">
                            {% for pf in club.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_info">
                <div class="block_dates">
                    <div class="row">
                        <label>{% trans 'Event date' %}</label><br>
                        {% if form.errors.dates %}<div class="info-wrapper red">{{ form.errors.dates.0 }}</div>{% endif %}
                        <div class="input-holder">
                            <a class="open-datepicker" href="#"></a>
                            {{ form.dates }}
                        </div>
                    </div>
                    <div class="row">
                        <label>{% trans 'End of gig-tender' %}</label><br>
                        {% if form.errors.stop_dates %}<div class="info-wrapper red">{{ form.errors.stop_dates.0 }}</div>{% endif %}
                        <div class="input-holder">
                            <a class="open-datepicker" href="#"></a>
                            {{ form.stop_dates }}
                        </div>
                    </div>
                    <div class="row">
                        <label>{% trans "Maximum number of artists per date" %}{% if form.count_trade.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.count_trade }}
                    </div>
                    <div class="row">
                        <label>{% trans 'Type of performance' %}</label><br>
                        {% if form.errors.type_format %}<div class="info-wrapper red">{{ form.errors.type_format.0 }}</div>{% endif %}
                        {{ form.type_format }}
                    </div>
                    <div class="row">
                        <label>{% trans 'Genre' %}</label><br>
                        {% if form.errors.genre %}<div class="info-wrapper red">{{ form.errors.genre.0 }}</div>{% endif %}
                        {{ form.genre }}
                    </div>
                    <div class="row">
                        <label><input type="checkbox" id="all_country"> {% trans 'Geography of requests' %}</label>
                        <div class="clear"></div>
                        {% if form.errors.geography_queries %}<div class="info-wrapper red">{{ form.errors.geography_queries.0 }}</div>{% endif %}
                        <div class="holder">
                            {{ form.geography_queries }}

                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Contract form' %}</label>
                        {% if form.errors.contract_all %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.contract_all.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.contract_artist }}{% trans 'Artists contract' %}</label>
{#                            <label style="margin-left: 20px;">{{ form.contract_club }}{% trans 'Customers contract' %}</label>#}
                            <label style="margin-left: 20px;">{{ form.contract_site }}{% trans 'Gigcenter contract form' %}</label>
                        </div>
                    </div>
                    <div class="row" id="form_dogovor"{% if form.contract_site.value %} style="display: block;"{% endif %}>
                        <label>{% trans 'Fee payment schedule' %}</label>
                         {% if form.errors.payment_plan %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.payment_plan.0 }}</div>{% endif %}
                        <div class="holder">
                            <div class="holder">
                                {{ form.payment_plan }}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Event type' %}</label>

                        {% if form.errors.event_type %}<div class="info-wrapper red">{{ form.errors.event_type.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.type_event_public }}{% trans 'Public' %}</label><br>
                            {% if form.errors.mony_publ_fix %}<div class="info-wrapper red">{{ form.errors.mony_publ_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_public"{% if not form.type_event_public.value %} style="display: none"{% endif %}>
                                {% for ev_pub in form.event_public %}
                                {{ ev_pub }}<br>
                                {% endfor %}

                                 <div class="public_fix_gon_mon"{% if form.event_public.value == "1" or form.instance.event_public == 1 %} style="display: block"{% endif %}>
                                   {{ form.mony_publ_fix }}<br>
                                </div>
                                <div class="public_other_gon_mon"{% if form.event_public.value == "2" or form.instance.event_public == 2 %} style="display: block"{% endif %}>
                                    {{ form.mony_publ_oth_from }} - {{ form.mony_publ_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_private }}{% trans 'Private' %}</label><br>
                            {% if form.errors.mony_priv_fix %}<div class="info-wrapper red">{{ form.errors.mony_priv_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_private"{% if not form.type_event_private.value %} style="display: none"{% endif %}>
                                {% for ev_pri in form.event_private %}
                                {{ ev_pri }}<br>
                                {% endfor %}

                                <div class="private_fix_gon_mon"{% if form.event_private.value == "1" or form.instance.event_private == 1 %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_fix }}<br>
                                </div>
                                <div class="private_other_gon_mon"{% if form.event_private.value == "2" or form.instance.event_private == 2 %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_oth_from }} - {{ form.mony_priv_oth_to }}<br>
                                </div>

                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_presentation }}{% trans 'Other' %}</label><br>
                            {% if form.errors.mony_pres_fix %}<div class="info-wrapper red">{{ form.errors.mony_pres_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_presentation"{% if not form.type_event_presentation.value %} style="display: none"{% endif %}>
                                {% for ev_pres in form.event_presentation %}
                                {{ ev_pres }}<br>
                                {% endfor %}

                                <div class="presentation_fix_gon_mon"{% if form.event_presentation.value == "1" or form.instance.event_presentation == 1 %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_fix }}<br>
                                </div>
                                <div class="presentation_other_gon_mon"{% if form.event_presentation.value == "2" or form.instance.event_presentation == 2 %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_oth_from }} - {{ form.mony_pres_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred currency of fee payment' %}</label><br>
                        {% if form.errors.currency %}<div class="info-wrapper red">{{ form.errors.currency.0 }}</div>{% endif %}
                        {{ form.currency }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred form of fee payment' %}</label><br>
                        {% if form.errors.payment_method %}<div class="info-wrapper red">{{ form.errors.payment_method.0 }}</div>{% endif %}
                        {{ form.payment_method }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Rider payments' %}</label><br>
                        {% if form.errors.rider_payments %}<div class="info-wrapper red">{{ form.errors.rider_payments.0 }}</div>{% endif %}
                        {{ form.rider_payments }}
                    </div>
                    <div class="row">
                        <label id="transport_rider">{% trans 'Transportation costs' %}</label><br>
                        {% if form.errors.transport_payments %}<div class="info-wrapper red">{{ form.errors.transport_payments.0 }}</div>{% endif %}
                        {{ form.transport_payments }}
                        <div class="clear"></div>
                    </div>

                </div>

                <div class="clear"></div>
                <div class="line"></div>
                <div class="clear"></div>
                <h3>{% trans 'Additional information about event' %}</h3>
                <div class="block_dates">
                    <div class="row">
                        <label>{% trans 'Event name' %}</label><br>
                        {% if form.errors.queries1 %}<div class="info-wrapper red">{{ form.errors.queries1.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries1 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Event purpose' %}</label><br>
                        {% if form.errors.queries3 %}<div class="info-wrapper red">{{ form.errors.queries3.0 }}</div>{% endif %}
                        {{ form.queries3 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Outdoor or indoor venue' %}</label><br>
                        {% if form.errors.queries4 %}<div class="info-wrapper red">{{ form.errors.queries4.0 }}</div>{% endif %}
                        {{ form.queries4 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Scene size' %}</label><br>
                        {% if form.errors.queries5 %}<div class="info-wrapper red">{{ form.errors.queries5.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries5 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Presence of sponsors' %}</label><br>
                        {% if form.errors.queries6 %}<div class="info-wrapper red">{{ form.errors.queries6.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries6 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Ticket price' %}</label><br>
                        {% if form.errors.queries7 %}<div class="info-wrapper red">{{ form.errors.queries7.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries7 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Ticket distribution areas' %}</label><br>
                        {% if form.errors.queries8 %}<div class="info-wrapper red">{{ form.errors.queries8.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries8 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Start and end time' %}</label><br>
                        {% if form.errors.queries9 %}<div class="info-wrapper red">{{ form.errors.queries9.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries9 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans "Artist's performance time" %}</label><br>
                        {% if form.errors.queries10 %}<div class="info-wrapper red">{{ form.errors.queries10.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries10 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Sound check time' %}</label><br>
                        {% if form.errors.queries11 %}<div class="info-wrapper red">{{ form.errors.queries11.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries11 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Event line-up' %}</label><br>
                        {% if form.errors.queries12 %}<div class="info-wrapper red">{{ form.errors.queries12.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries12 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Methods of advertising' %}</label><br>
                        {% if form.errors.queries13 %}<div class="info-wrapper red">{{ form.errors.queries13.0 }}</div>{% endif %}
                        {{ form.queries13 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'The presence of the dancers / go-go / decorations' %}</label><br>
                        {% if form.errors.queries14 %}<div class="info-wrapper red">{{ form.errors.queries14.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries14 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Audience age' %}</label><br>
                        {% if form.errors.queries15 %}<div class="info-wrapper red">{{ form.errors.queries15.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries15 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Audience' %}</label><br>
                        {% if form.errors.queries16 %}<div class="info-wrapper red">{{ form.errors.queries16.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries16 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Rental venue' %}</label><br>
                        {% if form.errors.queries17 %}<div class="info-wrapper red">{{ form.errors.queries17.0 }}</div>{% endif %}
                        {{ form.queries17 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Artists and agents with whom the customer has already worked' %}</label><br>
                        {% if form.errors.queries18 %}<div class="info-wrapper red">{{ form.errors.queries18.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries18 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Artists who are confirmed to perform in the nearest future on events of customer' %}</label><br>
                        {% if form.errors.queries19 %}<div class="info-wrapper red">{{ form.errors.queries19.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries19 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Artists who have already performed at the venue of event' %}</label><br>
                        {% if form.errors.queries20 %}<div class="info-wrapper red">{{ form.errors.queries20.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries20 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Additional information about event' %}</label><br>
                        {% if form.errors.queries21 %}<div class="info-wrapper red">{{ form.errors.queries21.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries21 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="btn-holder">
                {% if form.errors.regulations_accept %}<div class="info-wrapper red">{{ form.errors.regulations_accept.0 }}</div>{% endif %}
                <div class="btn-wrap">
                    <span class="red-btn right"><span>{% trans "Update gig-tender" %}</span><input type="submit" value="" title="{% trans "Update gig-tender" %}" /></span>
                </div>
                <div class="btn-wrap">
                    <span class="blue-btn right" style="margin-right: 10px;"><span>{% trans "Copy this gig-tender" %}</span><input type="submit" name="cloning" value="1" title="{% trans "Copy this gig-tender" %}" /></span>
                </div>
                <div class="ch-list">
                    <label>{{ form.regulations_accept }}{% trans 'I agree with the ' %} <a href="/p/rules_gigtender/">{% trans 'rules' %}</a> {% trans 'of gig-tender placing' %}.</label>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}