{% extends 'account/main.html' %}
{% load static i18n user_tag %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block account_content %}
<div class="tab-wrapper">
    <div class="tab active-tab">
        <div class="profile-form alt-input-form">
            <ul class="side-profile-nav">
            {% if artists %}
            <fieldset>
            <legend>{% trans 'Artists' %}</legend>
                {% for artist in artists %}
            <li><a{% if art_id == artist.pk %} class="active"{% endif %} href="{% url 'account:dates_filter' artist.pk 'artist' %}"><b>{{ forloop.counter }}.</b> {{ artist.nickname|slice:":10" }}{% if artist.nickname|letterscount > 10 %}<i class="last_letter">{{ artist.nickname|slice:"10:11" }}...</i>{% endif %} ({{ artist.dates_count }})</a></li>
                {% endfor %}
            </fieldset>
            {% else %}
            <li><a href="{% url 'account:artist' %}">{% trans 'Create an artist' %}</a></li>
            {% endif %}

            {% if clubs %}
            <fieldset>
            <legend>{% trans 'Venues' %}</legend>
                {% for club in clubs %}
            <li><a{% if clb_id == club.pk %} class="active"{% endif %} href="{% url 'account:dates_filter' club.pk 'venue' %}"><b>{{ forloop.counter }}.</b> {{ club.nickname|slice:":10" }}{% if club.nickname|letterscount > 10 %}<i class="last_letter">{{ club.nickname|slice:"10:11" }}...</i>{% endif %} ({{ club.dates_count }})</a></li>
                {% endfor %}
            </fieldset>
            {% else %}
            <li><a href="{% url 'account:club' %}">{% trans 'Create a venue' %}</a></li>
            {% endif %}

            </ul>
            {% block profile_content %}

            {% endblock %}

        </div>
    </div>
</div>
{% endblock %}