#admin_panel{ 
    background: #EFF0F3;
    padding: 2px 20px;
    position: fixed;
    height: 25px;
    width: 978px;
    top: 0;
    z-index: 9999;
    /*opacity: 0.5*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #CCCCCC;
}
a.moder_edit_page{
    background: url("../images/datapicker/ui-icons_222222_256x240.png") -178px -115px no-repeat;
    float: right;
    top: 5px;
    margin-right: 2px;
    position: relative;
    display: block;
    width: 12px;
    height: 11px;
}
a.moder_edit_page:hover{
    background-image: url("../images/datapicker/ui-icons_cd0a0a_256x240.png");
}
