@charset "utf-8";
/* Стили для заполнения и бронирования дат */

#gigdatesadd b {font-weight: 600;}
.profile-form ul.side-profile-nav fieldset,
.content-profile fieldset{
    padding: 5px;
    border: 1px ridge #22ACE6;
}
.content-profile fieldset{
    padding: 5px 20px;
    margin-bottom: 10px;
}
.profile-form ul.side-profile-nav fieldset legend,
.content-profile fieldset legend{
    padding: 2px;
    margin-left: 5px;
    color: #22ACE6;
    /*font-weight: bold;*/
}
#gigdatesadd .top_heading .title {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#gigdatesadd .block_info {
    border-bottom: 1px solid #393939;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contemt_artist h3,
#gigdatesadd .block_info h3{
    font-weight: bold;
    margin: 0;
}
#gigdatesadd #artist_info{
    min-height: 140px;
}
#gigdatesadd .block_info #artist_info div {
    float: left;
}
#gigdatesadd #artist_info .avatar img {
    margin: 0px 20px 10px 0px;
}
#gigdatesadd #artist_info .artist_info{
    width: 500px;
    /*border: 1px solid red;*/
}
#gigdatesadd #artist_info .row{
    clear: both;
}
#gigdatesadd #artist_info .row label{
    float: left;
    clear: both;
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 0 0 3px;
}
#gigdatesadd .block_dates .input-holder {
    width: 118px;
}
#gigdatesadd .block_dates .site_inputs .input-holder {
    width: 170px;
}
.contemt_artist .block_dates .holder2,
#gigdatesadd .block_dates .holder2 {
    width: 170px;
}
#gigdatesadd .block_dates .input-holder .datepicker{
    text-align: left;
    width: 78px;
}
#gigdatesadd .block_dates .input-holder a.open-datepicker{
    background: url("../images/ui_Date.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 16px;
    width: 16px;
}
#gigdatesadd .block_dates .secondary_data,
#gigdatesadd .block_dates #form_dogovor,
#gigdatesadd .block_dates #form2_dogovor{
    display: none;
    margin-top: 10px;
}
#gigdatesadd .block_dates #form_dogovor{
    padding-top: 10px;
}
#gigdatesadd .block_dates .row{
    clear: both;
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
}
#gigdatesadd .block_dates .sub_row{
    margin-left: 30px;
}
#gigdatesadd .block_dates .row .holder{
    margin: 5px 0px;
}
/*#gigdatesadd .block_dates .sub_row label {*/
    /*float: left;*/
/*}*/
#gigdatesadd .block_dates .row #add_club{
    display: inline-block;
    margin-left: 10px;
    padding-top: 4px;
    width: 255px;
}
#gigdatesadd .block_dates .row #add_club label{
    float: right;
    line-height: 15px;
    margin: 0 10px;
}
#gigdatesadd .block_dates .row #add_club label span{
    margin-top: 3px;
}
input.input_money{
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #8A9599;
    height: 16px;
    width: 50px;
    margin: 2px;
    padding: 4px 5px;
    color: #999999;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    top: -5px;
}
input.input_money:first-child{
    margin: 2px 2px 2px 10px;
}

strong.euro{
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    color: #007FBF;
}





#type_event_public, #type_event_private, #type_event_presentation,
#gigbarter_type_event_public, #gigbarter_type_event_private, #gigbarter_type_event_presentation{
    display: block;
    width: 400px;
    position: relative;
}
.public_fix_gon_mon, .public_other_gon_mon,
.private_fix_gon_mon, .private_other_gon_mon,
.presentation_fix_gon_mon, .presentation_other_gon_mon,
.gigbarter_public_fix_gon_mon, .gigbarter_public_other_gon_mon,
.gigbarter_private_fix_gon_mon, .gigbarter_private_other_gon_mon,
.gigbarter_presentation_fix_gon_mon, .gigbarter_presentation_other_gon_mon

{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

label.ui-radio, label.ui-checkbox{
    padding: 2px 0 0 24px;
    line-height: 12px;
}

.content-profile .sub_menu_dates {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #808080;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #404040;
    float: left;
    font-size: 14px;
    height: 25px;
    line-height: 18px;
    padding: 4px 15px 0;
    position: relative;
    text-decoration: none;
}
.statistics{
    font-size: 13px;
    height: 1%;
    line-height: 18px;
    overflow: hidden;
    padding: 6px 0 0;
    text-align: right;
    width: 100px;
    float: right;
}
.statistics .total {
    color: #FF5C64;
}