
/*
.profile-form .row .col input[type="text"],
.block.message .row .col input[type="text"] {
    background: #fff;
    border: 1px solid #8a9599;
    height: 16px;
    padding: 4px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin: 2px 0px;
}
*/
/*
.profile-form .row .col textarea,
.block.message .row .col div.wysiwyg {
    background: #fff;
    border: 1px solid #8a9599;
    padding: 4px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin: 2px 0px;
}
*/
.list {
    border-collapse: collapse
}

.list th,
.list td {
    padding: 4px;
}

.list .odd td {
    background-color: #eee;
}

.block .row .col input[type="submit"] {
    background: url(../images/bg-btn.png) no-repeat 100% -509px;
    padding: 0 5px 0 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height: 31px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-shadow: 0 -1px 0 #E61720;
    text-decoration: none;
    border: none;
}

.type_error{
    color:red;
}

.type_info{
    color:green;
}

.unread {
 font-weight: bold;
}
