{% load static i18n filename user_tag %}
<h2>{% trans 'Deal`s number' %} <b>T{{ object.pk }}</b></h2>
{% if hidden_bottom %}<div class="right" style="bottom: 10px; position: relative;">
    <a href="{% url 'account:deals_print' object.pk %}" target="_blank"><img title="{% trans 'Send to print' %}" src="{% static 'images/print_icon.gif' %}" /></a>&nbsp;&nbsp;
    <a href="{% url 'account:deals_pdf' object.pk %}"><img title="{% trans 'To open in PDF' %}" src="{% static 'images/pdf_icon_black.png' %}" width="34" height="34" /></a>
</div>{% endif %}
<h3><strong>{% trans 'Date of the deal' %}</strong> {{ object.create_deal|date:"SHORT_DATE_FORMAT" }}</h3>
{% if contract_text and contract_text.text_before %}<div style="width: 95%">{{ contract_text.text_before|safe }}</div><br>{% endif %}

<div id="gigdatesadd">
    <div class="contract_text">

        {% trans 'This Deal for the services of organizing a performance (hereinafter referred to as the Agreement)' %}
        "<a href="{{ object.artist_trade.get_absolute_url }}">{{ object.artist_trade.nickname }}</a>"
        {% trans '(hereinafter referred to as the Artist) is made between' %}
        "{{ object.user_trade.get_full_name }}"
        {% trans 'from the name' %}
        {% if object.artist_trade.agent %}"<a href="{{ object.artist_trade.agent.get_absolute_url }}">{{ object.artist_trade.agent.nickname }}</a>"{% else %}"<a href="{{ object.artist_trade.get_absolute_url }}">{{ object.artist_trade.nickname }}</a>"{% endif %}
        {% trans '(hereinafter referred to as the Agent) representing the Artist’s interests and' %}
        "{{ object.user_date.get_full_name }}"
        {% trans 'from the name ' %}
        {% if object.club_date.agent %}"<a href="{{ object.club_date.agent.get_absolute_url }}">{{ object.club_date.agent.nickname }}</a>"{% else %}"<a href="{{ object.club_date.get_absolute_url }}">{{ object.club_date.nickname }}</a>"{% endif %}
        {% trans '(hereinafter referred to as the Customer).' %}

        <br><br>

        <h3><strong>{% trans 'Deal data' %}</strong></h3>

        <b>{% trans 'Date of the performance' %}</b> {{ object.date_all.dates }}<br>
        <b>{% trans 'Venue' %}</b> {{ object.club_date.nickname }}<br>
        <b>{% trans 'Venue address' %}</b> {{ object.club_date.country.title }}, {{ object.club_date.city.title }}, {{ object.club_date.address }}<br>
        <b>{% trans 'Contract form' %}</b> {% if object.contracts == 2 %}<a href="/info/page/Gigcenter_agreement_form_3/">{{ object.get_contracts_display }}</a><br>
            <b>{% trans 'Fee payment schedule' %}</b> {{ object.date_all.get_sub_model.get_payment_plan_display }}{% else %}{{ object.get_contracts_display }}{% endif %}<br>
        <b>{% trans 'Event type' %}</b> {{ object.get_event_type_display }}<br>
        <b>{% trans 'Fee' %}</b> {{ object.mony_fix }}<br>
        <b>{% trans 'Preferred currency of fee payment' %}</b> {{ object.date_all.get_sub_model.get_currency_display }}<br>
        <b>{% trans 'Preferred form of fee payment' %}</b> {% for payment_method in object.date_all.get_sub_model.payment_method.all %}{{ payment_method }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>
        <b>{% trans 'Rider payments' %}</b> {{ object.date_all.get_rider_payments_display }} {% for rider in object.artist_trade.rider.all %}<a href="{{ MEDIA_URL }}{{ rider.file }}">{% trans 'Rider' %} {{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br>
        <b>{% trans 'Transportation costs' %}</b> {{ object.date_all.get_rider_payments_display }}<br><br>

        <h3><strong>{% trans 'Subject and terms according to Deal data' %}</strong></h3>
        {% blocktrans %}
            The Agent provides the Artist’s performance on the Venue on the Date of the performance, as well as
            it’s his responsibility to provide compliance with all the conditions of this Agreement. The Artist
            is responsible for performing on the Venue on the Date of the performance. The Customer is obliged
            to and guarantees organizing the Artist’s performance on the Venue on the Date of the performance
            and for the Fee, as well as compliance with all the conditions of this Agreement.<br><br>

            The Agreement comes into force the moment it is created and is valid until the parties have met all
            the commitments of the Agreement to the full extent.
            The Date of the Artist’s performance is considered to be publicly taken the moment this Agreement
            is created.<br><br>

            The parties are subject to the Agreement form stated in the information box "Contract form" of
            the section "Deal data".<br>
        {% endblocktrans %}
        <br><br>
        {% if object.contracts == 2 %}
            {% if contract_text and contract_text.text_after %}<div style="width: 95%">{{ contract_text.text_after|safe }}</div><br>{% endif %}
        {% endif %}
    </div>

    <br><br>
    <div class="chat">
        {% if chat %}
            <h3><strong>{% trans 'Messages' %}</strong></h3>
            {% for ch in chat %}
        <div class="comments">
            {% if ch.trades_author %}
                <a href="{{ object.artist_trade.get_absolute_url }}"><strong{% if object.user_trade == request.user %} style="color: #00681C;" title="{% trans 'Me profile' %}"{% endif %}>{{ object.artist_trade.nickname }}</strong></a>
            {% else %}
                <a href="{{ object.club_date.get_absolute_url }}"><strong{% if object.user_date == request.user %} style="color: #00681C;" title="{% trans 'Me profile' %}"{% endif %}>{{ object.club_date.nickname }}</strong></a>
            {% endif %}
            <i>{{ ch.create }}</i><br>
            {% if ch.comment %}{{ ch.comment|linebreaksbr }}<br>{% endif %}
            {% if ch.files %}{% trans 'File:' %} <a href="{{ MEDIA_URL }}{{ ch.files }}" target="_blank">{{ ch.files|filename }}</a><br>{% endif %}
        </div><div class="line"></div>
            {% endfor %}
        {% endif %}
    </div>



</div>