{% load static i18n filename %}
<h2>{% trans 'Request' %} <b>B{{ object.pk }}</b></h2>
<div class="right">
    <div class="btn-holder right pl10">
        <div class="btn-wrap">
            {% if block_apply %}<span class="opacity2 blue-btn"><span>{% trans 'Accept' %}</span></span>{% else %}
            <a href="{{ object.get_absolute_url }}?apply" class="blue-btn"><span>{% trans 'Accept' %}</span></a>{% endif %}
        </div>
    </div>

    <div class="btn-holder right pl10">
        <div class="btn-wrap">
            {% if block_deny or object.status_trade == 4 %}<span class="opacity2 red-btn"><span>{% trans 'Reject' %}</span></span>{% else %}
            <a onclick="return confirm('{% trans 'This action is irreversible. Continue?' %}')" href="{{ object.get_absolute_url }}?deny" class="red-btn"><span>{% trans 'Reject' %}</span></a>{% endif %}
        </div>
    </div>

    <div class="btn-holder right ">
        <div class="btn-wrap">
            {% if object.status_trade == 2 %}
                <a href="{% url 'account:deals_view' object.pk %}" class="green-btn"><span>{% trans 'Deal details' %}</span></a>
            {% endif %}
        </div>
    </div>
</div>
<h3><strong>{% trans 'Gig-barter data' %}</strong></h3>

<div id="gigdatesadd">
    <div class="left"><img src="{% if object.artist_date.avatar %}{{ MEDIA_URL }}{{ object.artist_date.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
    <div class="left ml20 w490">
        <h2>{% trans 'Artist' %} <a href="{{ object.artist_date.get_absolute_url }}" target="_blank">{{ object.artist_date.nickname }}</a></h2>
        {% if object.artist_date.agent %}<b>{% trans 'Managed by' %} <a href="{{ object.artist_date.agent.get_absolute_url }}" target="_blank">{{ object.artist_date.agent.nickname }}</a></b>{% else %}<b>{% trans 'Managed personally' %}</b>{% endif %}<br>
        {% if object.artist_date.country.width != '0' or object.artist_date.country.height != '0' %}<div class="flag_country" style="background-position: -{{ object.artist_date.country.width }}px -{{ object.artist_date.country.height }}px;"></div>{% endif %} &nbsp;{{ object.artist_date.country.title }}, {{ object.artist_date.city.title }}<br>
        {% if object.artist_date.genre.all %}{% for pf in object.artist_date.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    </div>

<div class="clear"></div>
    <br>
    <b>{% trans 'Available date' %}</b> {{ object.date_all.dates }}
    {% if object.date_all.second_country %}<img title="{% trans 'This is the second date' %}" src="{% static 'images/ui_2Date.png' %}" /><br>{% endif %}
    <div class="line"><a href="#" class="hide1">{% trans 'Read more' %}</a></div>
    <div id="hidden_data">
    {% if object.date_all.second_country %}
    <b>{% trans 'Date of the closest confirmed gig' %}</b> {{ object.date_all.get_sub_model.second_date }}<br>
    <b>{% trans 'Location of the closest confirmed gig' %}</b> {{ object.date_all.get_sub_model.second_country }}, {{ object.date_all.get_sub_model.second_city }}
    <br>{% endif %}
    {% if object.date_all.geography_queries.all %}<b>{% trans 'Geography of requests' %}</b>
        <ul class="choice_item">
            {% for geograph in object.date_all.geography_queries.all|slice:":25" %}
                <li>{{ geograph.title }}</li>
            {% endfor %}
            {% if object.date_all.geography_queries.all.count > 25 %}
                {% for geograph in object.date_all.geography_queries.all|slice:"25:" %}
                    <li class="geograph_hide">{{ geograph.title }}</li>
                {% endfor %}
                <li class="geograph_hide_next"></li>
            {% endif %}
        </ul>{% endif %}
    <b>{% trans 'Contract form' %}</b>
    <ul class="event_type">
    {% if object.date_all.get_sub_model.contract_artist %}<li><a href="{{ MEDIA_URL }}{{ object.date_all.get_sub_model.artist.dogovor }}">{% trans 'Artists contract' %}</a></li>{% endif %}
    {% if object.date_all.get_sub_model.contract_site %}<li><a href="/info/page/Gigcenter_agreement_form_3/">{% trans 'Gigcenter Agreement form' %}</a></li>
        <li><b>{% trans 'Fee payment schedule' %}</b><ol><li>{{ object.date_all.get_sub_model.get_payment_plan_display }}</li></ol></li>
    {% endif %}
    </ul>

    <b>{% trans 'Event type/fee' %}</b>
    <ul class="event_type">
    {% if object.date_all.event_public != None %}
        <li>{% trans 'Public' %}</li>
        <li><ul><li>
            {{ object.date_all.get_event_public_display }}{% if not object.date_all.event_public == 0 %}{% endif %}
            {% if object.date_all.event_public == 1 %}<b>{{ object.date_all.mony_publ_fix }}</b> {% endif %}
            {% if object.date_all.event_public == 2 %}<b>{{ object.date_all.mony_publ_oth_from }} - {{ object.date_all.mony_publ_oth_to }}</b>{% endif %}
        </li></ul></li>
    {% endif %}
    {% if object.date_all.event_private != None %}
        <li>{% trans 'Private' %}</li>
        <li><ul><li>
            {{ object.date_all.get_event_private_display }}{% if not object.date_all.event_private == 0 %}{% endif %}
            {% if object.date_all.event_private == 1 %}<b>{{ object.date_all.mony_priv_fix }}</b>{% endif %}
            {% if object.date_all.event_private == 2 %}<b>{{ object.date_all.mony_priv_oth_from }} - {{ object.date_all.mony_priv_oth_to }}</b> {% endif %}
        </li></ul></li>
    {% endif %}
    {% if object.date_all.event_presentation != None %}
        <li>{% trans 'Other' %}</li>
        <li><ul><li>
            {{ object.date_all.get_event_presentation_display }}{% if not object.date_all.event_presentation == 0 %}{% endif %}
            {% if object.date_all.event_presentation == 1 %}<b>{{ object.date_all.mony_pres_fix }}</b>{% endif %}
            {% if object.date_all.event_presentation == 2 %}<b>{{ object.date_all.mony_pres_oth_from }} - {{ object.date_all.mony_pres_oth_to }}</b> {% endif %}
        </li></ul></li>
    {% endif %}
    </ul>
    <b>{% trans 'Preferred currency of fee payment' %}</b> {{ object.date_all.get_currency_display }}<br>
    {% if object.date_all.payment_method.all %}<b>{% trans 'Preferred form of fee payment' %}</b> {% for payment_method in object.date_all.payment_method.all %}{{ payment_method }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    <b>{% trans 'Rider payments' %}</b> {{ object.date_all.get_rider_payments_display }} {% for rider in object.date_all.get_sub_model.artist.rider.all %}
    <a href="{{ MEDIA_URL }}{{ rider.file }}">{% trans 'Rider' %} {{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}<br>
    <b>{% trans 'Transportation costs' %}</b> {{ object.date_all.get_transport_payments_display }}

    <br><br><strong>{% trans 'Barter info' %}</strong><br>
    <b>{% trans 'Response time of barter gig' %}</b> {{ object.date_all.get_sub_model.reply_speech }} {% trans 'months' %}<br>
    <b>{% trans 'Contract form' %}</b>
    <ul class="event_type">
    {% if object.date_all.get_sub_model.barter_contract_artist %}<li><a href="{{ MEDIA_URL }}{{ object.date_all.get_sub_model.artist.dogovor }}">{% trans 'Artists contract' %}</a></li>{% endif %}
    {% if object.date_all.get_sub_model.barter_contract_site %}<li><a href="/info/page/Gigcenter_agreement_form_3/">{% trans 'Gigcenter Agreement form' %}</a></li>
        {% if object.date_all.get_sub_model.barter_payment_plan %}<li><b>{% trans 'Fee payment schedule' %}</b><ol><li>{{ object.date_all.get_sub_model.get_barter_payment_plan_display }}</li></ol></li>{% endif %}
    {% endif %}
    </ul>

    <br>
    <b>{% trans 'Type of event' %}</b><ul class="event_type">
    {% if object.date_all.get_sub_model.barter_event_public != None %}
        <li>{% trans 'Public' %}</li>
        <li><ul><li>
            {{ object.date_all.get_sub_model.get_barter_event_public_display }}{% if object.date_all.get_sub_model.barter_event_public != 0 %}{% endif %}
            {% if object.date_all.get_sub_model.barter_event_public == 1 %}<b>{{ object.date_all.get_sub_model.barter_mony_publ_fix }}</b> {% endif %}
            {% if object.date_all.get_sub_model.barter_event_public == 2 %}<b>{{ object.date_all.get_sub_model.barter_mony_publ_oth_from }} - {{ object.date_all.get_sub_model.barter_mony_publ_oth_to }}</b>{% endif %}
        </li></ul></li>
    {% endif %}
    {% if object.date_all.get_sub_model.barter_event_private != None %}
        <li>{% trans 'Private' %}</li>
        <li><ul><li>
            {{ object.date_all.get_sub_model.get_barter_event_private_display }}{% if object.date_all.get_sub_model.barter_event_private != 0 %}{% endif %}
            {% if object.date_all.get_sub_model.barter_event_private == 1 %}<b>{{ object.date_all.get_sub_model.barter_mony_priv_fix }}</b>{% endif %}
            {% if object.date_all.get_sub_model.barter_event_private == 2 %}<b>{{ object.date_all.get_sub_model.barter_mony_priv_oth_from }} - {{ object.date_all.get_sub_model.barter_mony_priv_oth_to }}</b> {% endif %}
        </li></ul></li>
    {% endif %}
    {% if object.date_all.get_sub_model.barter_event_presentation != None %}
        <li>{% trans 'Other' %}</li>
        <li><ul><li>
            {{ object.date_all.get_sub_model.get_barter_event_presentation_display }}{% if object.date_all.get_sub_model.barter_event_presentation != 0 %}{% endif %}
            {% if object.date_all.get_sub_model.barter_event_presentation == 1 %}<b>{{ object.date_all.get_sub_model.barter_mony_pres_fix }}</b> {% endif %}
            {% if object.date_all.get_sub_model.barter_event_presentation == 2 %}<b>{{ object.date_all.get_sub_model.barter_mony_pres_oth_from }} - {{ object.date_all.get_sub_model.barter_mony_pres_oth_to }}</b> {% endif %}
        </li></ul></li>
    {% endif %}
    </ul>
    <b>{% trans 'Preferred currency of fee payment' %}</b> {{ object.date_all.get_sub_model.get_barter_currency_display }}<br>
    {% if object.date_all.get_sub_model.barter_payment_method.all %}<b>{% trans 'Preferred form of fee payment' %}</b> {% for payment_method in object.date_all.get_sub_model.barter_payment_method.all %}{{ payment_method }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    <b>{% trans 'Rider payments' %}</b> {{ object.date_all.get_sub_model.get_barter_rider_payments_display }} {% for rider in object.date_all.get_sub_model.artist.rider.all %}
    <a href="{{ MEDIA_URL }}{{ rider.file }}">{% trans 'Rider' %} {{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}<br>
    <b>{% trans 'Transportation costs' %}</b> {{ object.date_all.get_sub_model.get_barter_transport_payments_display }}
    <br>

    <br><strong>{% trans 'Barter venue' %}</strong><br>
    <b>{% trans 'Venue name' %}</b> <a href="{{ object.club_date.get_absolute_url }}" target="_blank">{{ object.club_date.nickname }}</a><br>
    {% if object.club_date.country %}<b>{% trans 'Country' %}</b> {{ object.club_date.country }}<br>{% endif %}
    {% if object.club_date.city %}<b>{% trans 'City' %}</b> {{ object.club_date.city }}<br>{% endif %}
    {% if object.club_date.address %}<b>{% trans 'Address' %}</b> {{ object.club_date.address }}<br>{% endif %}
    {% if object.club_date.email %}<b>{% trans 'Email' %}</b> {{ object.club_date.email }}<br>{% endif %}
    {% if object.club_date.phone %}<b>{% trans 'Phone' %}</b> {{ object.club_date.phone }}<br>{% endif %}
    {% if object.club_date.site.all %}<b>{% trans 'Website, social networks' %}</b>
    {% for site in object.club_date.site.all %}<a href="http://{{ site.site }}" target="_blank">{{ site.site }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    {% if object.club_date.type_club.all %}<b>{% trans 'Type of venue' %}</b>
    {% for pf in object.club_date.type_club.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    {% if object.club_date.place_street or object.club_date.place_indoors %}<b>{% trans 'Place of gig' %}</b>
    {%  if object.club_date.place_street %}{% trans 'Outdoor' %}{% endif %}{%  if object.club_date.place_indoors %} {% trans 'Indoor' %}{% endif %}<br>{% endif %}
    {% if object.club_date.music_zone %}<b>{% trans 'Music zone' %}</b> {{ object.club_date.music_zone }}<br>{% endif %}
    {% if object.club_date.capacity_total %}<b>{% trans 'Total capacity' %}</b> {{ object.club_date.capacity_total }}<br>{% endif %}
    {% if object.club_date.capacity_seat %}<b>{% trans 'Seating capacity' %}</b> {{ object.club_date.capacity_seat }}<br>{% endif %}
    {% if object.club_date.genre.all %}<b>{% trans 'Music format' %}</b>
    {% for genre in object.club_date.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    {% if object.club_date.nearest_airport %}<b>{% trans 'The nearest airport' %}</b> {{ object.club_date.nearest_airport }}<br>{% endif %}
    {% if object.club_date.nearest_station %}<b>{% trans 'The nearest railway station' %}</b> {{ object.club_date.nearest_station }}<br>{% endif %}
    {% if object.club_date.artists_club %}<b>{% trans 'Artists who have already performed at the venue of event' %}</b> {{ object.club_date.artists_club }}<br>{% endif %}
    {% if object.club_date.info %}<b>{% trans 'Description' %}</b> {{ object.club_date.info }}<br>{% endif %}
    {% if object.club_date.music %}<b>{% trans 'Music' %}</b> <a href="http://{{ object.club_date.music }}" target="_blank">{{ object.club_date.music }}</a><br>{% endif %}
    {% if object.club_date.video %}<b>{% trans 'Video' %}</b> <a href="http://{{ object.club_date.video }}" target="_blank">{{ object.club_date.video }}</a><br>{% endif %}
    {% if object.club_date.photo.all %}<b>{% trans 'Photo' %}</b>
    <ul class="choice-item">
    {% for ph in barter.club.photo.all|slice:"5" %}
        <li><a rel="lightbox[roadtrip]" href="{{ MEDIA_URL }}{{ ph.big_image }}" title="" style="height: inherit; padding: 2px"><img src="{{ MEDIA_URL }}{{ ph.small_image }}" /></a></li>
    {% endfor %}
    </ul>
    {% endif %}
    <br><div class="line"><a href="#" class="hide1">{% trans 'Hide' %}</a></div>
    <br></div><br>



    <h3><strong>{% trans 'Request data' %}</strong></h3>

    <div class="left"><img src="{% if object.artist_trade.avatar %}{{ MEDIA_URL }}{{ object.artist_trade.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
    <div class="left ml20 w490">
        <h2>{% trans 'Artist' %} <a href="{{ object.artist_trade.get_absolute_url }}" target="_blank">{{ object.artist_trade.nickname }}</a></h2>
        {% if object.artist_trade.agent %}<b>{% trans 'Managed by' %} <a href="{{ object.artist_trade.agent.get_absolute_url }}" target="_blank">{{ object.artist_trade.agent.nickname }}</a></b>{% else %}<b>{% trans 'Managed personally' %}</b>{% endif %}<br>
        {% if object.artist_trade.country.width != '0' or object.artist_trade.country.height != '0' %}<div class="flag_country" style="background-position: -{{ object.artist_trade.country.width }}px -{{ object.artist_trade.country.height }}px;"></div>{% endif %} &nbsp;{{ object.artist_trade.country.title }}, {{ object.artist_trade.city.title }}<br>
        {% if object.artist_trade.genre.all %}{% for pf in object.artist_trade.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    </div>
    <div class="clear"></div>
    <br>
    <b>{% trans 'Contract form' %} </b>{% if object.contracts == 2 %}<a href="/p/page_contractgigdate/">{{ object.get_contracts_display }}</a><br>
        <b>{% trans 'Fee payment schedule' %}</b> {{ object.date_all.get_payment_plan_display }}
        {% else %}<a href="{{ MEDIA_URL }}{{ object.artist_trade.dogovor }}">{{ object.get_contracts_display }}</a>
        {% endif %}<br>
    <b>{% trans 'Event type' %} </b>{{ object.get_event_type_display }}<br>
    <b>{% trans 'Fee type' %}</b> {{ object.get_fee_event_type_display }}<br>
    {% if object.user_trade == request.user and not object.trade_trade_user2 and not object.trade_date_user and not object.mony_edit %}
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="trade_id" value="{{ object.pk }}">

        <div class="row" style="width: 310px">{% if form1.errors.mony_fix %}<div class="clear"></div><div class="info-wrapper red">{{ form1.errors.mony_fix.0 }}</div>{% endif %}
            <b class="left">{% trans 'Fee' %}</b>
            <div class="col minforms left pl10">
                <div class="input-holder minform">
                    {{ form1.mony_fix }}
                </div>
            </div>
            <div class="btn-holder right pl10" style="position: relative; top: 3px;">
                <div class="btn-wrap">
                    <span class="blue-btn"><span>{% trans 'Edit' %}</span><input type="submit" name="mony_edit" title="{% trans 'Edit' %}" /></span>
                </div>
            </div>

        </div>
        </form>
        <br>
    {% else %}<b>{% trans 'Fee' %}</b> {{ object.mony_fix }}{% endif %}
    <br><b>{% trans 'Venue' %}</b> <a href="{{ object.club_trade.get_absolute_url }}"> {{ object.club_trade.nickname }}</a>

    <div class="clear"></div>

    <div class="line"><a href="#" class="hide2">{% trans 'Read more' %}</a></div>
    <div id="hidden_data2">
        <h3 style="border-bottom: none; margin: 0;"><strong>{% trans 'Response gig data' %}</strong></h3>
        <b>{% trans 'Contract form' %} </b>{% if object.b_contracts == 2 %}<a href="/p/page_contractgigdate/">{{ object.get_b_contracts_display }}</a><br>
            <b>{% trans 'Fee payment schedule' %}</b> {{ object.date_all.get_sub_model.get_barter_payment_plan_display }}
        {% else %}<a href="{{ MEDIA_URL }}{{ object.artist_trade.dogovor }}">{{ object.get_b_contracts_display }}</a>{% endif %}<br>
        <b>{% trans 'Event type' %} </b>{{ object.get_b_event_type_display }}<br>
        <b>{% trans 'Fee' %}</b> {{ object.get_b_fee_event_type_display }}<br>
        {% if object.user_trade == request.user and not object.trade_trade_user2 and not object.trade_date_user and not object.b_mony_edit %}
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="trade_id" value="{{ object.pk }}">
        <div class="row" style="width: 310px">{% if form1.errors.b_mony_fix %}<div class="clear"></div><div class="info-wrapper red">{{ form1.errors.b_mony_fix.0 }}</div>{% endif %}
            <b class="left">{% trans 'Fee sum' %}</b>
            <div class="col minforms left pl10">
                <div class="input-holder minform">
                    {{ form1.b_mony_fix }}
                </div>
            </div>
            <div class="btn-holder right pl10" style="position: relative; top: 3px;">
                <div class="btn-wrap">
                    <span class="blue-btn"><span>{% trans 'Edit' %}</span><input type="submit" name="mony_edit" title="{% trans 'Edit' %}" /></span>
                </div>
            </div>

        </div>
        <br>
        </form>

    {% else %}<b>{% trans 'Fee sum' %}</b> {{ object.b_mony_fix }} {% endif %}<br>
    <br><div class="line"><a href="#" class="hide2">{% trans 'Hide' %}</a></div>
    </div>

    <div class="clear"></div><br>
    <div class="right">
        <div class="btn-holder right pl10">
            <div class="btn-wrap">
                {% if block_apply %}<span class="opacity2 blue-btn"><span>{% trans 'Accept' %}</span></span>{% else %}
                <a href="{{ object.get_absolute_url }}?apply" class="blue-btn"><span>{% trans 'Accept' %}</span></a>{% endif %}
            </div>
        </div>

        <div class="btn-holder right">
            <div class="btn-wrap">
                {% if block_deny or object.status_trade == 4 %}<span class="opacity2 red-btn"><span>{% trans 'Reject' %}</span></span>{% else %}
                <a onclick="return confirm('{% trans 'This action is irreversible. Continue?' %}')" href="{{ object.get_absolute_url }}?deny" class="red-btn"><span>{% trans 'Reject' %}</span></a>{% endif %}
            </div>
        </div>
    </div>
    <div class="clear"></div><br>
    <div class="line2"></div>
    <div class="chat">
        {% if chat %}
            <h3><strong>{% trans 'Messages' %}</strong></h3>
            {% for ch in chat %}
        <div class="comments">
            {% if ch.trades_author %}
                <a href="{{ object.artist_trade.get_absolute_url }}"><strong{% if object.user_trade == request.user %} style="color: #00681C;" title="{% trans 'Me profile' %}"{% endif %}>{{ object.artist_trade.nickname }}</strong></a>
            {% else %}
                <a href="{{ object.artist_date.get_absolute_url }}"><strong{% if object.user_date == request.user %} style="color: #00681C;" title="{% trans 'Me profile' %}"{% endif %}>{{ object.artist_date.nickname }}</strong></a>
            {% endif %}
            <i>{{ ch.create }}</i><br>
            {% if ch.comment %}{{ ch.comment|linebreaksbr }}<br>{% endif %}
            {% if ch.files %}{% trans 'File' %} <a href="{{ MEDIA_URL }}{{ ch.files }}" target="_blank">{{ ch.files|filename }}</a><br>{% endif %}
        </div><div class="line"></div>
            {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label>{% trans 'Message' %}</label><br>
                {% if form2.errors.comment %}<div class="info-wrapper red">{{ form2.errors.comment.0 }}</div>{% endif %}
                <div class="textarea-holder">
                    {{ form2.comment }}
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <label>{% trans 'File' %}</label><br>
                {% if form2.errors.files %}<div class="info-wrapper red">{{ form2.errors.files.0 }}</div>{% endif %}
                {{ form2.files }}
            </div>
            <div class="clear"></div>
            <div class="btn-holder right">
                <div class="btn-wrap">
                    <span class="red-btn"><span>{% trans 'Send' %}</span><input type="submit" name="chat_add" value="" title="{% trans 'Send' %}" /></span>
                </div>
            </div>
        </form>
    </div>

</div>