{% load static i18n filename %}
<h2>{% trans 'Request' %} <b>T{{ object.pk }}</b></h2>
<div class="right">
    <div class="btn-holder right pl10">
        <div class="btn-wrap">
            {% if block_apply %}<span class="opacity2 blue-btn"><span>{% trans 'Accept' %}</span></span>{% else %}
            <a href="{{ object.get_absolute_url }}?apply" class="blue-btn"><span>{% trans 'Accept' %}</span></a>{% endif %}
        </div>
    </div>

    <div class="btn-holder right pl10">
        <div class="btn-wrap">
            {% if block_deny or object.status_trade == 4 %}<span class="opacity2 red-btn"><span>{% trans 'Reject' %}</span></span>{% else %}
            <a onclick="return confirm('{% trans 'This action is irreversible. Continue?' %}')" href="{{ object.get_absolute_url }}?deny" class="red-btn"><span>{% trans 'Reject' %}</span></a>{% endif %}
        </div>
    </div>

    <div class="btn-holder right ">
        <div class="btn-wrap">
            {% if object.status_trade == 2 %}
                <a href="{% url 'account:deals_view' object.pk %}" class="green-btn"><span>{% trans 'Deal details' %}</span></a>
            {% endif %}
        </div>
    </div>
</div>
<h3><strong>{% trans 'Gig-tender data' %}</strong></h3>
<div id="gigdatesadd">
    <div class="left"><img src="{% if object.club_date.avatar %}{{ MEDIA_URL }}{{ object.club_date.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
    <div class="left ml20 w490">
        <h2>{% trans 'Venue' %} <a href="{{ object.club_date.get_absolute_url }}" target="_blank">{{ object.club_date.nickname }}</a></h2>
        {% if object.club_date.agentclub %}<b>{% trans 'Managed by' %} <a href="{{ object.club_date.agentclub.get_absolute_url }}" target="_blank">{{ object.club_date.agentclub.nickname }}</a></b>{% else %}<b>{% trans 'Managed personally' %}</b>{% endif %}<br>
        {% if object.club_date.country.width != '0' or object.club_date.country.height != '0' %}<div class="flag_country" style="background-position: -{{ object.club_date.country.width }}px -{{ object.club_date.country.height }}px;"></div>{% endif %} &nbsp;{{ object.club_date.country.title }}, {{ object.club_date.city.title }}<br>
        {% if object.club_date.genre.all %}{% for pf in object.club_date.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    </div>

    <div class="clear"></div>
    <br>
    <b>{% trans 'Event date' %}</b> {{ object.date_all.dates }}

    <div class="line"><a href="#" class="hide1">{% trans 'Read more' %}</a></div>
    <div id="hidden_data">
    <b>{% trans 'End of gig-tender' %}</b> {{ object.date_all.get_sub_model.stop_dates }}<br>
    {% if object.date_all.get_sub_model.type_format.all %}<b>{% trans 'Type of performance' %}</b>
        {% for tos in object.date_all.get_sub_model.type_format.all %}{{ tos.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    {% if object.date_all.get_sub_model.genre.all %}<b>{% trans 'Genre' %}</b>
        {% for pf in object.date_all.get_sub_model.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    {% if object.date_all.geography_queries.all %}<b>{% trans 'Geography of requests' %}</b>
        <ul class="choice_item">
            {% for geograph in object.date_all.geography_queries.all|slice:":25" %}
                <li>{{ geograph.title }}</li>
            {% endfor %}
            {% if object.geography_queries.all.count > 25 %}
                {% for geograph in object.geography_queries.all|slice:"25:" %}
                    <li class="geograph_hide">{{ geograph.title }}</li>
                {% endfor %}
                <li class="geograph_hide_next"></li>
            {% endif %}
        </ul>{% endif %}
    <b>{% trans 'Contract form' %}</b>
    <ul class="event_type">
    {% if object.date_all.get_sub_model.contract_artist %}<li><a href="{{ MEDIA_URL }}{{ object.artist_trade.dogovor }}">{% trans 'Artists contract' %}</a></li>{% endif %}
{#    {% if object.date_all.get_sub_model.contract_club %}<li>{% trans 'Venues contract' %}</li>{% endif %}#}
    {% if object.date_all.get_sub_model.contract_site %}<li><a href="/info/page/Gigcenter_agreement_form_3/">{% trans 'Gigcenter Agreement form' %}</a></li>
        <li><b>{% trans 'Fee payment schedule' %}</b><ol><li>{{ object.date_all.get_sub_model.get_payment_plan_display }}</li></ol></li>
    {% endif %}
    </ul>

    <b>{% trans 'Event type/fee' %}</b>
    <ul class="event_type">
    {% if object.date_all.event_public != None %}
        <li>{% trans 'Public' %}</li>
        <li><ul><li>
            {{ object.date_all.get_event_public_display }}{% if not object.date_all.event_public == 0 %}:{% endif %}
            {% if object.date_all.event_public == 1 %}<b>{{ object.date_all.mony_publ_fix }}</b> {% endif %}
            {% if object.date_all.event_public == 2 %}<b>{{ object.date_all.mony_publ_oth_from }} - {{ object.date_all.mony_publ_oth_to }}</b>{% endif %}
        </li></ul></li>
    {% endif %}
    {% if object.date_all.event_private != None %}
        <li>{% trans 'Private' %}</li>
        <li><ul><li>
            {{ object.date_all.get_event_private_display }}{% if not object.date_all.event_private == 0 %}:{% endif %}
            {% if object.date_all.event_private == 1 %}<b>{{ object.date_all.mony_priv_fix }}</b> {% endif %}
            {% if object.date_all.event_private == 2 %}<b>{{ object.date_all.mony_priv_oth_from }} - {{ object.date_all.mony_priv_oth_to }}</b>{% endif %}
        </li></ul></li>
    {% endif %}
    {% if object.date_all.event_presentation != None %}
        <li>{% trans 'Other' %}</li>
        <li><ul><li>
            {{ object.date_all.get_event_presentation_display }}{% if not object.date_all.event_presentation == 0 %}:{% endif %}
            {% if object.date_all.event_presentation == 1 %}<b>{{ object.date_all.mony_pres_fix }}</b> {% endif %}
            {% if object.date_all.event_presentation == 2 %}<b>{{ object.date_all.mony_pres_oth_from }} - {{ object.date_all.mony_pres_oth_to }}</b>{% endif %}
        </li></ul></li>
    {% endif %}
    </ul>
    <b>{% trans 'Preferred currency of fee payment' %}</b> {{ object.date_all.get_currency_display }}<br>
    {% if object.date_all.payment_method.all %}<b>{% trans 'Preferred form of fee payment' %}</b> {% for payment_method in object.date_all.payment_method.all %}{{ payment_method }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
    <b>{% trans 'Rider payments' %}</b> {{ object.date_all.get_rider_payments_display }} <br>
    <b>{% trans 'Transportation costs' %}</b> {{ object.date_all.get_transport_payments_display }}

{#    <div class="clear"></div>#}
{#    <div class="line"></div>#}
    <div class="">
        {% if object.date_all.get_sub_model.queries1 %}<b>{% trans 'Event name' %}</b> {{ object.date_all.get_sub_model.queries1 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries3 %}<b>{% trans 'Event purpose' %}</b> {{ object.date_all.get_sub_model.get_queries3_display }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries4 %}<b>{% trans 'Outdoor or indoor venue' %}</b> {{ object.date_all.get_sub_model.get_queries4_display }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries5 %}<b>{% trans 'Scene size' %}</b> {{ object.date_all.get_sub_model.queries5 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries6 %}<b>{% trans 'Presence of sponsors' %}</b> {{ object.date_all.get_sub_model.queries6 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries7 %}<b>{% trans 'Ticket price' %}</b> {{ object.date_all.get_sub_model.queries7 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries8 %}<b>{% trans 'Ticket distribution areas' %}</b> {{ object.date_all.get_sub_model.queries8 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries9 %}<b>{% trans 'Start and end time' %}</b> {{ object.date_all.get_sub_model.queries9 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries10 %}<b>{% trans "Artist's performance time" %}</b> {{ object.date_all.get_sub_model.queries10 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries11 %}<b>{% trans 'Sound check time' %}</b> {{ object.date_all.get_sub_model.queries11 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries12 %}<b>{% trans 'Event line-up' %}</b> {{ object.date_all.get_sub_model.queries12 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries13 %}<b>{% trans 'Methods of advertising' %}</b>
            {% for q13 in object.date_all.get_sub_model.queries13.all %}{{ q13.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries14 %}<b>{% trans 'The presence of the dancers / go-go / decorations' %}</b> {{ object.date_all.get_sub_model.queries14 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries15 %}<b>{% trans 'Audience age' %}</b> {{ object.date_all.get_sub_model.queries15 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries16 %}<b>{% trans 'Audience' %}</b> {{ object.date_all.get_sub_model.queries16 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries17 %}<b>{% trans 'Rental venue' %}</b> {{ object.date_all.get_sub_model.queries17 }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries18 %}<b>{% trans 'Artists and agents with whom the customer has already worked' %}</b> {{ object.date_all.get_sub_model.queries18|linebreaksbr }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries19 %}<b>{% trans 'Artists who are confirmed to perform in the nearest future on events of customer' %}</b> {{ object.date_all.get_sub_model.queries19|linebreaksbr }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries20 %}<b>{% trans 'Artists who have already performed at the venue of event' %}</b> {{ object.date_all.get_sub_model.queries20|linebreaksbr }}<br>{% endif %}
        {% if object.date_all.get_sub_model.queries21 %}<b>{% trans 'Additional information about event' %}</b> {{ object.date_all.get_sub_model.queries21|linebreaksbr }}<br>{% endif %}
    </div>
    <br><div class="line"><a href="#" class="hide1">{% trans 'Hide' %}</a></div>
    </div><br>



    <h3><strong>{% trans 'Request data' %}</strong></h3>

    <div class="left"><img src="{% if object.artist_trade.avatar %}{{ MEDIA_URL }}{{ object.artist_trade.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
    <div class="left ml20 w490">
        <h2>{% trans 'Artist' %} <a href="{{ object.artist_trade.get_absolute_url }}" target="_blank">{{ object.artist_trade.nickname }}</a></h2>
        {% if object.artist_trade.agent %}<b>{% trans 'Managed by' %} <a href="{{ object.artist_trade.agent.get_absolute_url }}" target="_blank">{{ object.artist_trade.agent }}</a></b>{% else %}<b>{% trans 'Managed personally' %}</b>{% endif %}<br>
        {% if object.artist_trade.country.width != '0' or object.artist_trade.country.height != '0' %}<div class="flag_country" style="background-position: -{{ object.artist_trade.country.width }}px -{{ object.artist_trade.country.height }}px;"></div>{% endif %} &nbsp;{{ object.artist_trade.country.title }}, {{ object.artist_trade.city.title }}<br>
        {% if object.artist_trade.genre.all %}{% for pf in object.artist_trade.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
        {% if object.artist_trade.label %}<div class="label_text"><b>{% trans 'Label:' %}</b> {{ object.artist_trade.label|linebreaksbr }}</div>{% endif %}
    </div>
    <div class="clear"></div>
    <br>
    <b>{% trans 'Contract form' %} </b>{% if object.contracts == 2 %}<a href="/p/page_contractgigdate/">{{ object.get_contracts_display }}</a><br> <b>{% trans 'Fee payment schedule' %}</b> {{ tender.payment_plan }}
{% else %}<a href="{{ MEDIA_URL }}{{ object.artist_trade.dogovor }}">{{ object.get_contracts_display }}</a>
{% endif %}<br>
    <b>{% trans 'Event type' %} </b>{{ object.get_event_type_display }}<br>
    <b>{% trans 'Fee type' %}</b> {{ object.get_fee_event_type_display }}<br>

    {% if object.user_trade == request.user and not object.trade_trade_user2 and not object.trade_date_user and not object.mony_edit %}
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="trade_id" value="{{ object.pk }}">

        <div class="row" style="width: 310px">
            <b class="left">{% trans 'Fee' %}</b>
            <div class="col minforms left pl10">
            <div class="input-holder minform">
                {{ form1.mony_fix }}
            </div>
            </div>
            <div class="btn-holder right pl10" style="position: relative; top: 3px;">
                <div class="btn-wrap">
                    <span class="blue-btn"><span>{% trans 'Edit' %}</span><input type="submit" name="mony_edit" title="{% trans 'Edit' %}" /></span>
                </div>
            </div>
        </div>
        </form>
        <br><br>
    {% else %}<b>{% trans 'Fee' %}</b> {{ object.mony_fix }}{% endif %}


    <div class="clear"></div><br>
    <div class="right">
        <div class="btn-holder right pl10">
            <div class="btn-wrap">
                {% if block_apply %}<span class="opacity2 blue-btn"><span>{% trans 'Accept' %}</span></span>{% else %}
                <a href="{{ object.get_absolute_url }}?apply" class="blue-btn"><span>{% trans 'Accept' %}</span></a>{% endif %}
            </div>
        </div>

        <div class="btn-holder right">
            <div class="btn-wrap">
                {% if block_deny or object.status_trade == 4 %}<span class="opacity2 red-btn"><span>{% trans 'Reject' %}</span></span>{% else %}
                <a onclick="return confirm('{% trans 'This action is irreversible. Continue?' %}')" href="{{ object.get_absolute_url }}?deny" class="red-btn"><span>{% trans 'Reject' %}</span></a>{% endif %}
            </div>
        </div>
    </div>
    <div class="clear"></div><br>
    <div class="line2"></div>

    <div class="chat">
        {% if chat %}
            <h3><strong>{% trans 'Messages' %}</strong></h3>
            {% for ch in chat %}
        <div class="comments">
            {% if ch.trades_author %}
                <a href="{{ object.artist_trade.get_absolute_url }}"><strong{% if object.user_trade == request.user %} style="color: #00681C;" title="{% trans 'Me profile' %}"{% endif %}>{{ object.artist_trade.nickname }}</strong></a>
            {% else %}
                <a href="{{ object.club_date.get_absolute_url }}"><strong{% if object.user_date == request.user %} style="color: #00681C;" title="{% trans 'Me profile' %}"{% endif %}>{{ object.club_date.nickname }}</strong></a>
            {% endif %}
            <i>{{ ch.create }}</i><br>
            {% if ch.comment %}{{ ch.comment|linebreaksbr }}<br>{% endif %}
            {% if ch.files %}{% trans 'File:' %} <a href="{{ MEDIA_URL }}{{ ch.files }}" target="_blank">{{ ch.files|filename }}</a><br>{% endif %}
        </div><div class="line"></div>
            {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label>{% trans 'Message' %}</label><br>
                {% if form2.errors.comment %}<div class="info-wrapper red">{{ form2.errors.comment.0 }}</div>{% endif %}
                <div class="textarea-holder">
                    {{ form2.comment }}
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <label>{% trans 'File' %}</label><br>
                {% if form2.errors.files %}<div class="info-wrapper red">{{ form2.errors.files.0 }}</div>{% endif %}
                {{ form2.files }}
            </div>
            <div class="clear"></div>
            <div class="btn-holder right">
                <div class="btn-wrap">
                    <span class="red-btn"><span>{% trans 'Send' %}</span><input type="submit" name="chat_add" value="" title="{% trans 'Send' %}" /></span>
                </div>
            </div>
        </form>
    </div>
</div>