{% extends 'account/main.html' %}
{% load static i18n user_tag %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block account_content %}
    <div class="tab-wrapper">
        <div class="tab active-tab">
            <div class="profile-form alt-input-form">
                {% block contentmain %}
                <ul class="side-profile-nav">
                    {% if artists %}
                    <fieldset>
                    <legend>{% trans 'Artists' %}</legend>
                        {% for artist in artists %}
                    <li><a{% if artist_pk == artist.pk %} class="active"{% endif %} href="{% url 'account:trade_list' %}?artist={{ artist.pk }}" title="{{ artist.nickname }}"><b>{{ forloop.counter }}.</b> {{ artist.nickname|slice:":10" }}{% if artist.nickname|letterscount > 10 %}<i class="last_letter">{{ artist.nickname|slice:"10:11" }}...</i>{% endif %}</a></li>
                        {% endfor %}
                    </fieldset>
                    {% else %}
                    <li><a href="{% url 'account:artist' %}">{% trans 'Create an artist' %}</a></li>
                    {% endif %}

                    {% if clubs %}
                    <fieldset>
                    <legend>{% trans 'Venues' %}</legend>
                        {% for club in clubs %}
                    <li><a{% if club_pk == club.pk %} class="active"{% endif %} href="{% url 'account:trade_list' %}?club={{ club.pk }}" title="{{ club.nickname }}"><b>{{ forloop.counter }}.</b> {{ club.nickname|slice:":10" }}{% if club.nickname|letterscount > 10 %}<i class="last_letter">{{ club.nickname|slice:"10:11" }}...</i>{% endif %}</a></li>
                        {% endfor %}
                    </fieldset>
                    {% else %}
                    <li><a href="{% url 'account:club' %}">{% trans 'Create a venue' %}</a></li>
                    {% endif %}
                </ul>
                <div class="content-profile">
                    {% block tradecontent %}{% endblock %}
                </div>
                {% endblock %}
            </div>
        </div>

    </div>
    <div class="blue-line"></div>
{% endblock %}