{% load staticfiles i18n %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            @page my_page {
                margin: 40pt;
            }
            @font-face { font-family: Arial; src: url("{{ STATIC_ROOT }}/fonts/arial.ttf"); }
            @font-face { font-family: Ariali; src: url("{{ STATIC_ROOT }}/fonts/ariali.ttf"); }
            @font-face { font-family: Arialbd; src: url("{{ STATIC_ROOT }}/fonts/arialbd.ttf"); }
            @font-face { font-family: Arialbi; src: url("{{ STATIC_ROOT }}/fonts/arialbi.ttf"); }
            @font-face { font-family: Segoe UI; src: url("{{ STATIC_ROOT }}/fonts/segoeui.ttf"); }
            @font-face { font-family: segoeui; src: url("{{ STATIC_ROOT }}/fonts/segoeui.ttf"); }
            @font-face { font-family: segoeuib; src: url("{{ STATIC_ROOT }}/fonts/segoeuib.ttf"); }
            body {
                font-family: Arial;
                color: #404040;
                font-size: 12px;
            }
            b, strong { font-family: Arialbd; }
            i { font-family: Ariali; }
            h1 { font-family: Arial; line-height: 24px; font-size: 22px; word-wrap: break-word; text-align: center; }
            h2 { line-height: 22px; font-size: 18px; word-wrap: break-word; margin: 0 0 9px; }
            h3 { line-height: 20px; font-size: 16px; word-wrap: break-word; }
            .line2 {
                background: none repeat scroll 0 0 #4594bd;
                height: 1px;
                margin: 5px 0;
                width: 100%;
            }
        </style>
    </head>
<body>
<div id="wrapper">
    <div class="w1" style="padding-bottom: inherit;">
        <div class="w2" style="margin: auto;">
            <div class="wrapper-content">
            <img src="{{ STATIC_ROOT }}/images/logo.png" /><br><br>
            {% block content %}
                {% if object.type_date == 1 %}
                    {% include 'trade/account/deals_view_barter.html' %}
                {% elif object.type_date == 2 %}
                    {% include 'trade/account/deals_view_tender.html' %}
                {% else %}
                    {% include 'trade/account/deals_view_date.html' %}
                {% endif %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>