{% load staticfiles i18n %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{#            <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />#}
            <link rel="stylesheet" href="{% static 'css/all.css' %}?002" type="text/css" />
            <link rel="stylesheet" href="{% static 'css/messages.css' %}?001" type="text/css" />
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />



        {% block extended_css %}{% endblock %}

        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" media="screen"/><![endif]-->

    </head>
<body>
<div id="wrapper" style="background: #fff;">
    <div class="w1" style="padding-bottom: inherit;">
        <div class="w2" style="margin: auto;">
            <div class="wrapper-content">
            <img src="{% static 'images/logo.png' %}"/><br><br>
            {% block content %}
                {% if object.type_date == 1 %}
                    {% include 'trade/account/deals_view_barter.html' %}
                {% elif object.type_date == 2 %}
                    {% include 'trade/account/deals_view_tender.html' %}
                {% else %}
                    {% include 'trade/account/deals_view_date.html' %}
                {% endif %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% block extended_js %}<script type="text/javascript">window.print();</script>{% endblock %}
</body>
</html>