{% extends 'trade/account/main.html' %}
{% load static i18n user_tag %}

{% block tradecontent %}
    <h2>{% trans 'Requests' %} ({{ page_obj.paginator.count }})</h2>

    <div class="tab-set-holder">
        <ul class="tab-set">
            <li{% if not request.GET or not 'sort' in request.GET %} class="active"{% endif %}><a href="{%  url 'account:trade_list' %}{% if request.GET and request.GET.artist %}?artist={{ request.GET.artist }}{% endif %}{% if request.GET and request.GET.club %}?club={{ request.GET.club }}{% endif %}">{% trans 'All' %}</a></li>
            <li{% if request.GET and request.GET.sort and request.GET.sort == 'inbox' %} class="active"{% endif %}><a href="{% url 'account:trade_list' %}?sort=inbox{% if request.GET and request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET and request.GET.club %}&club={{ request.GET.club }}{% endif %}">{% trans 'Inbox' %}</a></li>
            <li{% if request.GET and request.GET.sort and request.GET.sort == 'outbox' %} class="active"{% endif %}><a href="{% url 'account:trade_list' %}?sort=outbox{% if request.GET and request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET and request.GET.club %}&club={{ request.GET.club }}{% endif %}">{% trans 'Outbox' %}</a></li>
            <li{% if request.GET and request.GET.sort and request.GET.sort == 'deals' %} class="active"{% endif %}><a href="{% url 'account:trade_list' %}?sort=deals{% if request.GET and request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET and request.GET.club %}&club={{ request.GET.club }}{% endif %}">{% trans 'Deals' %}</a></li>
            <li{% if request.GET and request.GET.sort and request.GET.sort == 'rejected' %} class="active"{% endif %}><a href="{% url 'account:trade_list' %}?sort=rejected{% if request.GET and request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET and request.GET.club %}&club={{ request.GET.club }}{% endif %}">{% trans 'Rejected' %}</a></li>
        </ul>
    </div>

    <fieldset>
    <legend>{% trans 'Last requests' %}</legend>
        {% if trands %}
        <table class="table_gigdates">
            <tr id="th">
                <th width="120">{% trans 'Create or update' %}</th>
                <th>{% trans 'Event date' %}</th>
                <th>{% trans 'Recipient' %}</th>
                <th>{% trans 'Sender' %}</th>
                <th>{% trans 'Date type' %}</th>
                <th>{% trans 'Status' %}</th>
            </tr>
            {% for trand in trands %}
            <tr{% if trand.bold %} style="font-weight: bold;"{% endif %}>
                <td><a href="{{ trand.get_absolute_url }}" title="{% trans 'Created' %} {{ trand.create|date:"SHORT_DATETIME_FORMAT" }}">{{ trand.update|date:"SHORT_DATE_FORMAT" }}</a></td>
                <td>{{ trand.date_all.dates|date:"SHORT_DATE_FORMAT" }}<a href="{{ trand.data_url }}" class="target_blank" title="{% trans 'Open in a new tab' %}" target="_blank"></a></td>
                <td title="{{ trand.recipient }}">{% if trand.recipient != '-' %}<div class="pic_user_{% if trand.type_user %}dj{% else %}club{% endif %}"></div>{{ trand.recipient|slice:":8" }}{% if trand.recipient|letterscount > 8 %}<i class="last_letter">{{ trand.recipient|slice:"8:9" }}...</i>{% endif %}{% else %}<strong style="color: #00681C;" title="{% trans 'This request is created by me' %}">{% trans 'Me' %}</strong>{% endif %}</td>
                <td title="{{ trand.sender }}">{% if trand.sender != '-' %}<div class="pic_user_{% if trand.type_user %}dj{% else %}club{% endif %}"></div>{{ trand.sender|slice:":8" }}{% if trand.sender|letterscount > 8 %}<i class="last_letter">{{ trand.sender|slice:"8:9" }}...</i>{% endif %}{% else %}<strong style="color: #00681C;" title="{% trans 'This request is created by me' %}">{% trans 'Me' %}</strong>{% endif %}</td>
                <td>{{ trand.get_type_date_display }}</td>

                {% if trand.status_trade == 4 %}<td class="red">{{ trand.status }}</td>{% elif trand.status_trade == 2 %}<td><a href="{{ trand.get_absolute_url_deals }}">{{ trand.status }}</a></td>{% else %}<td>{{ trand.status }}</td>{% endif %}
            </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}<div class="pagination pagination-centered">
        <ul>
            {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

            {% for p in page_obj.paginator.page_range %}
                <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
        </ul>
    </div>{% endif %}
        {% else %}
            <center>{% trans 'Requests not found' %}</center>
        {% endif %}
    </fieldset>
{% endblock %}