{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block content %}
    <br><br><h1>{% trans 'Confirm Your email.' %}</h1><br>
    {% blocktrans with email=request.user.email %}Your e-mail(<b>{{ email }}</b>) has not yet been confirmed.{% endblocktrans %}
    <a href="{% url 're_is_active' %}">{% trans 'Re-send a confirmation letter.' %}</a>
    <br><br><br><br><br><br>
{% endblock %}