{% extends "base.html" %}
{% load staticfiles i18n  %}
{% block content %}
    <table style="width: 100%;" class="sigin_form">
    <tr><td style="text-align: center;">

    <h2>{% blocktrans %}New password will be sent on Your email{% endblocktrans %}</h2>
{#    <div class="line"></div>#}
        <br>
    <div style="width: 320px; margin: 0 auto;">
        <form method="post">{% csrf_token %}
            {% if form.errors and not form.errors.email and not form.errors.password %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.values.0 }}</div>{% endif %}
            {% if form.errors.email %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.email.0 }}</div>{% endif %}
            <div class="input-wrap login">
                {{ form.email }}
            </div>

            <div style="width: 300px; margin: 0 auto;">
            <div class="btn-wrap">
                <span class="big-blue-btn">
                    <span>{% trans 'Send' %}</span>
                    <input type="submit" name="login" title="{% trans 'Send' %}" value="" id="popup_signin_button">
                </span><br>
            </div>
            </div><div class="clear"></div>
        </form>

    </div>



    </td></tr>
    </table>

{% endblock %}