{% load static i18n  %}

<div class="popup-holder" id="input-popup">
    <div class="bg"></div>
    <div class="popup">
        <fieldset>
            <div class="heading">
                {% trans 'Welcome to the free international booking  service for artists and their customers' %}.
            </div>
            <div class="input-tab-wrapper">
                <div class="tab-wrap">
                    <a class="active" href="#">{% trans 'Log in' %}</a>
                    <a href="#">{% trans 'Sign in' %}</a>
                </div>

                <div class="tab-holder">

                    <div class="tab"  style="display:block;">
                        <div class="and"><span>{% trans 'or' %}</span></div>
                        <form action="/signin/" id="signin_by_email" method="post">{% csrf_token %}
                            <div class="input-wrap login">
                                <input type="text" name="email" placeholder="Enter Your email"/>
                            </div>
                            <div class="input-wrap password">
                                <input type="password" name="password" placeholder="{% trans 'Enter your password' %}"/>
                            </div>
                            <div id="error_place_signin" class="alert alert-error fade in" style="display: none"></div>
                            <div class="btn-wrap">
                                <span class="big-blue-btn">
                                    <span>{% trans 'Ok' %}</span>
                                    <input id="popup_signin_button" type="submit" value="" title="Ok" />
                                </span>
                                <span class="note"> <a href="">{% trans 'Forgot password?' %}</a></span>
                            </div>
                        </form>
                    </div>
                    <div class="tab">
                        <div class="and"><span>{% trans 'or' %}</span></div>
                        <form action="/register/" id="register_by_email" method="post">{% csrf_token %}
                            <div class="input-wrap login">
                                <input type="text" name="email" placeholder="Enter Your email">
                            </div>
                            <div class="input-wrap password">
                                <input type="password" name="password" placeholder="{% trans 'Enter your password' %}"/>
                            </div>
                            <div id="error_place" class="alert alert-error fade in" style="display: none"></div>
                            <div class="btn-wrap">
                                <span class="big-blue-btn">
                                    <span>{% trans 'Registration' %}</span>
                                    <input id="popup_registration_button" type="submit" value="" title="{% trans 'Registration' %}" />
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

