<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if messages %}<div style="border: 1px solid #000000; display: table; background: #00aa00; padding: 2px 5px;">{% for message in messages %}{{ message }}{% endfor %}</div>{% endif %}
<form method="post">{% csrf_token %}
<table border="0">
{{ form.as_table }}
<tr><td colspan="2"><input type="submit" style="float: right;" /></td></tr>
</table>
</form>
</body>
</html>