{% extends "base.html" %}
{% load staticfiles i18n  %}
{% block content %}
    <div style="margin: 0 auto; text-align: center;">
        <form method="post" class="ticket_form">{% csrf_token %}

            <table>
                <tr><td></td><td><h2 style="text-align: center; font-size: 24px">{% blocktrans %}Submit a Question{% endblocktrans %}</h2></td></tr>
                {% if not request.user.is_authenticated %}<tr><td>{% trans 'E-mail' %}</td><td>
                    {% if form.errors.email %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.email.0 }}</div>{% endif %}
                    {{ form.email }}
                </td></tr>{% endif %}
                <tr><td>{% trans 'Subject' %}</td><td>
                    {% if form.errors.subject %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.subject.0 }}</div>{% endif %}
                    {{ form.subject }}<br>{% trans 'Maximum 100 characters ' %}
                </td></tr>
                <tr><td>{% trans 'Related Issue' %}</td><td>
                    {% if form.errors.category %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.category.0 }}</div>{% endif %}
                    {{ form.category }}
                </td></tr>
                <tr><td>{% trans 'Your question' %}</td><td>
                    {% if form.errors.text %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.text.0 }}</div>{% endif %}
                    {{ form.text }}<br>{% trans 'Please provide as much detail as possible ' %}
                </td></tr>
                <tr><td colspan="2" style="text-align: right"><br>
                    <div style="width: 300px; margin: 0 auto; float: right">
                        <div class="btn-wrap">
                            <span class="big-blue-btn">
                                <span>{% trans 'Send' %}</span>
                                <input type="submit" name="send" title="{% trans 'Send' %}" value="" id="popup_signin_button">
                            </span>
                        </div>
                    </div>
                </td></tr>
            </table>


        </form>
    </div>
{% endblock %}