{% extends "base.html" %}
{% load staticfiles i18n  %}
{% block content %}
    <div style="margin: 0 auto; text-align: center;">
        <h2 style="font-size: 24px">{% blocktrans %}Your question is successfully submitted{% endblocktrans %}</h2>
    </div>
{% endblock %}