.logo_link {
    color: #c5c5c5;
    margin: 0px 5px;
    line-height: 25px;
    float: left;
    position: relative;
    padding: 10px 15px;
}
.logo_link:hover{
    background: #393939;
    color: #ffffff;
    text-decoration: none;
}
.logo_link.big {
    text-transform: uppercase;
    font-weight: bold;
}
.page-header.navbar .page-logo {
    width: 500px;
}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
    position: relative;
    width: 500px;
}

.inbox .table-hover tbody tr:hover > td,
.inbox .table-hover tbody tr:hover > th,
.inbox .table-striped tbody > tr:nth-child(2n+1) > td,
.inbox .table-striped tbody > tr:nth-child(2n+1) > th{
    cursor: default;
}
.inbox .table-hover tbody tr a {color: #777;}
.inbox .table-hover tbody tr a.edit {color: #5b9bd1;}
.page-content .profile .tab-content .table tbody td{text-overflow: ellipsis; max-width: 100px; overflow: hidden;  white-space: nowrap;}