{% load staticfiles i18n %}<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    {% block seo %}
        {% include "elements/seo.html" with item=page %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'moderator/style.css' %}" type="text/css" />
</head>
<body>
{% block content %}{% endblock %}
<script type="text/javascript" src="{% static 'moderator/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moderator/script.js' %}"></script>
</body>
</html>