{% extends 'base.html' %}
{% load static i18n %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block content %}
    <div id="gigdatesadd">
{#        {% if form.errors %}{{ form.errors }}<br>{% endif %}#}
        <div class="top_heading">
            <div class="title">{% trans 'Add gig-barter' %}</div>
        </div>
        {% if not artist or not club %}
            {% if not artist %}
                {% trans "You do not have artist profile to create gig-barter" %} <a href="{% url 'account:artist' %}">{% trans "Create artist's profile" %}</a>.
            {% endif %}
            {% if not club %}
                {% if not artist and not club %}<br>{% endif %}{% trans 'You do not have venue profile to create gig-barter' %} <a href="{% url 'account:club' %}">{% trans 'Create venue profile' %}</a>.
            {% endif %}
        {% elif not coin_rules %}
            {% trans 'Not enough GigCoins' %}
        {% else %}
        <form method="POST">{% csrf_token %}
            <div class="block_info">
                <div id="artist_info">
                    <div class="avatar" style="width: 140px"><img src="{% if artist.avatar %}{{ MEDIA_URL }}{{ artist.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" id="avatar_01"></div>
                    <div class="artist_info">
                        <div class="row">
                            <label>{% trans "Select artist's profile" %}{% if form.artist.field.required %} <b class="red">*</b>{% endif %}</label><br>
                            {% if form.errors.artist %}<div class="red">{{ form.errors.artist.0 }}</div><br>{% endif %}
                            {{ form.artist }}
                        </div>
                        <div class="row">
                            {% if artist.country.width != '0' or artist.country.height != '0' %}<div id="flag_01" class="flag_country" style="background-position: -{{ artist.country.width }}px -{{ artist.country.height }}px;"></div>{% endif %}<div id="fromlocation_01">{{ artist.country.title }}, {{ artist.city.title }}</div>
                        </div>
                        <div class="row" id="genres_01">
                            {% for pf in artist.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="block_info">
                <div class="block_dates">
                    <div class="row">
                        <table>
                            <tr>
                                <td>
                                    {% trans 'Available date' %}{% if form.dates.field.required %} <b class="red">*</b>{% endif %}
                                    {% if form.errors.dates %}<div class="info-wrapper red">{{ form.errors.dates.0 }}</div>{% endif %}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-holder">
                                        <a class="open-datepicker" href="#"></a>
                                        {{ form.dates }}
                                    </div>
                                </td>
                                <td><label>
                                    {{ form.secondary_data }}{% if form.secondary_data.field.required %} <b class="red">*</b>{% endif %}
                                    {% trans 'This is a second date' %}</label></td>
                                <td></td>
                            </tr>
                            {% if settings.ADD_GIGDATE_TWODAY > gigcoin_count%}
                                <tr class="secondary_data"{% if form.secondary_data.value %} style="display: table-row;"{% endif %}>
                                    <td colspan="3">
                                        <div class="info-wrapper red">{% trans 'To specify the second date, not enough coins' %}</div>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr class="secondary_data"{% if form.secondary_data.value %} style="display: table-row;"{% endif %}>
                                <td>
                                    {% trans 'Closest confirmed date' %}{% if form.second_date.field.required %} <b class="red">*</b>{% endif %}
                                    {% if form.errors.second_date %}<div class="info-wrapper red">{{ form.errors.second_date.0 }}</div>{% endif %}
                                </td>
                                <td>
                                    {% trans 'Country' %}{% if form.second_country.field.required %} <b class="red">*</b>{% endif %}
                                    {% if form.errors.second_country %}<div class="info-wrapper red">{{ form.errors.second_country.0 }}</div>{% endif %}
                                </td>
                                <td>
                                    {% trans 'City' %}{% if form.second_city.field.required %} <b class="red">*</b>{% endif %}
                                    {% if form.errors.second_city %}<div class="info-wrapper red">{{ form.errors.second_city.0 }}</div>{% endif %}
                                </td>
                            </tr>
                            <tr class="secondary_data"{% if form.secondary_data.value %} style="display: table-row;"{% endif %}>
                                <td>
                                    <div class="input-holder">
                                        <a class="open-datepicker" href="#"></a>
                                        {{ form.second_date }}
                                    </div>
                                </td>
                                <td>{{ form.second_country }}</td>
                                <td>{{ form.second_city }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <label>{% trans "Maximum number of gigs per date" %}{% if form.count_trade.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.count_trade }}
                    </div>
                </div>

                <div class="block_dates">
                    <div class="row">
                        <label><input type="checkbox" id="all_country"> {% trans 'Geography of requests' %}{% if form.geography_queries.field.required %} <b class="red">*</b>{% endif %}</label>

                        <div class="clear"></div>
                        {% if form.errors.geography_queries %}<div class="info-wrapper red">{{ form.errors.geography_queries.0 }}</div>{% endif %}
                        <div class="holder">
                            {{ form.geography_queries }}

                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Contract form' %}</label>
                        {% if form.errors.contract_all %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.contract_all.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.contract_artist }}{% trans 'Your own form' %}{% if form.contract_artist.field.required %} <b class="red">*</b>{% endif %}</label>
                            <label style="margin-left: 20px;">{{ form.contract_site }}{% trans 'Gigcenter contract form' %}</label> &nbsp;<a href="/info/page/Gigcenter_agreement_form_3/" target="_blank"><span class="icon-share-alt"></span></a>
                        </div>
                    </div>
                    <div class="row" id="form_dogovor"{% if form.contract_site.value %} style="display: block;"{% endif %}>
                        <label>{% trans 'Fee payment schedule' %}{% if form.payment_plan.field.required %} <b class="red">*</b>{% endif %}</label>
                         {% if form.errors.payment_plan %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.payment_plan.0 }}</div>{% endif %}
                        <div class="holder">
                            <div class="holder">
                                {{ form.payment_plan }}

                        </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Event type/fee' %}</label>

                        {% if form.errors.event_type %}<div class="info-wrapper red">{{ form.errors.event_type.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.type_event_public }}{% trans 'Public' %}</label><br>
                            {% if form.errors.mony_publ_fix %}<div class="info-wrapper red">{{ form.errors.mony_publ_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_public"{% if not form.type_event_public.value %} style="display: none"{% endif %}>
                                {% for ev_pub in form.event_public %}
                                {{ ev_pub }}<br>
                                {% endfor %}

                                 <div class="public_fix_gon_mon"{% if form.event_public.value == "1" %} style="display: block"{% endif %}>
                                   {{ form.mony_publ_fix }}<br>
                                </div>
                                <div class="public_other_gon_mon"{% if form.event_public.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.mony_publ_oth_from }} - {{ form.mony_publ_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_private }}{% trans 'Private' %}</label><br>
                            {% if form.errors.mony_priv_fix %}<div class="info-wrapper red">{{ form.errors.mony_priv_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_private"{% if not form.type_event_private.value %} style="display: none"{% endif %}>
                                {% for ev_pri in form.event_private %}
                                {{ ev_pri }}<br>
                                {% endfor %}

                                <div class="private_fix_gon_mon"{% if form.event_private.value == "1" %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_fix }}<br>
                                </div>
                                <div class="private_other_gon_mon"{% if form.event_private.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_oth_from }} - {{ form.mony_priv_oth_to }}<br>
                                </div>

                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_presentation }}{% trans 'Other' %}</label><br>
                            {% if form.errors.mony_pres_fix %}<div class="info-wrapper red">{{ form.errors.mony_pres_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_presentation"{% if not form.type_event_presentation.value %} style="display: none"{% endif %}>
                                {% for ev_pres in form.event_presentation %}
                                {{ ev_pres }}<br>
                                {% endfor %}

                                <div class="presentation_fix_gon_mon"{% if form.event_presentation.value == "1" %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_fix }}<br>
                                </div>
                                <div class="presentation_other_gon_mon"{% if form.event_presentation.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_oth_from }} - {{ form.mony_pres_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred currency of fee payment' %}{% if form.currency.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.currency }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred form of fee payment' %}{% if form.payment_method.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.payment_method %}<div class="info-wrapper red">{{ form.errors.payment_method.0 }}</div>{% endif %}
                        {{ form.payment_method }}

                    </div>

                    <div class="row">
                        <label>{% trans 'Rider payments' %}{% if form.rider_payments.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.rider_payments }}
                    </div>
                    <div class="row">
                        <label id="transport_rider">{% trans 'Transportation costs' %}{% if form.transport_payments.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.transport_payments }}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="block_info">
                <h3>{% trans 'Terms of gig barter' %}</h3>
                <div class="block_dates">
                    <div class="row">
                         <label>{% trans 'Response time of barter gig (months)' %}{% if form.reply_speech.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.reply_speech }}
                    </div>
                    <div class="row">
                        <label>{% trans 'Contract form' %}</label>
                        {% if form.errors.barter_contract_all %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.barter_contract_all.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.barter_contract_artist }}{% trans 'Your own form' %}</label>
                            <label style="margin-left: 20px;">{{ form.barter_contract_site }}{% trans 'Gigcenter contract form' %}</label> &nbsp;<a href="/info/page/Gigcenter_agreement_form_3/" target="_blank"><span class="icon-share-alt"></span></a>
                        </div>
                    </div>
                    <div class="row" id="form2_dogovor"{% if form.barter_contract_site.value %} style="display: block;"{% endif %}>
                        <label>{% trans 'Fee payment schedule' %}{% if form.barter_payment_plan.field.required %} <b class="red">*</b>{% endif %}</label>
                         {% if form.errors.barter_payment_plan %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.barter_payment_plan.0 }}</div>{% endif %}
                        <div class="holder">
                            <div class="holder">
                                {{ form.barter_payment_plan }}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Event type/fee' %}</label>

                        {% if form.errors.barter_event_type %}<div class="info-wrapper red">{{ form.errors.barter_event_type.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.barter_type_event_public }}{% trans 'Public' %}</label><br>
                            {% if form.errors.barter_mony_publ_fix %}<div class="info-wrapper red">{{ form.errors.barter_mony_publ_fix.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_publ_oth_from %}<div class="info-wrapper red">{{ form.errors.barter_mony_publ_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_publ_oth_to %}<div class="info-wrapper red">{{ form.errors.barter_mony_publ_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="gigbarter_type_event_public"{% if not form.barter_type_event_public.value %} style="display: none"{% endif %}>
                                {% for ev_pub in form.barter_event_public %}
                                {{ ev_pub }}<br>
                                {% endfor %}

                                 <div class="gigbarter_public_fix_gon_mon"{% if form.barter_event_public.value == "1" %} style="display: block"{% endif %}>
                                   {{ form.barter_mony_publ_fix }}<br>
                                </div>
                                <div class="gigbarter_public_other_gon_mon"{% if form.barter_event_public.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_publ_oth_from }} - {{ form.barter_mony_publ_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <label>{{ form.barter_type_event_private }}{% trans 'Private' %}</label><br>
                            {% if form.errors.barter_mony_priv_fix %}<div class="info-wrapper red">{{ form.errors.barter_mony_priv_fix.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_priv_oth_from %}<div class="info-wrapper red">{{ form.errors.barter_mony_priv_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_priv_oth_to %}<div class="info-wrapper red">{{ form.errors.barter_mony_priv_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="gigbarter_type_event_private"{% if not form.barter_type_event_private.value %} style="display: none"{% endif %}>
                                {% for ev_pri in form.barter_event_private %}
                                    {{ ev_pri }}<br>
                                {% endfor %}

                                <div class="gigbarter_private_fix_gon_mon"{% if form.barter_event_private.value == "1" %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_priv_fix }}<br>
                                </div>
                                <div class="gigbarter_private_other_gon_mon"{% if form.barter_event_private.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_priv_oth_from }} - {{ form.barter_mony_priv_oth_to }}<br>
                                </div>

                            </div>
                            <div class="clear"></div>
                            <label>{{ form.barter_type_event_presentation }}{% trans 'Other ' %}</label><br>
                            {% if form.errors.barter_mony_pres_fix %}<div class="info-wrapper red">{{ form.errors.barter_mony_pres_fix.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_pres_oth_from %}<div class="info-wrapper red">{{ form.errors.barter_mony_pres_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.barter_mony_pres_oth_to %}<div class="info-wrapper red">{{ form.errors.barter_mony_pres_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="gigbarter_type_event_presentation"{% if not form.barter_type_event_presentation.value %} style="display: none"{% endif %}>
                                {% for ev_pres in form.barter_event_presentation %}
                                {{ ev_pres }}<br>
                                {% endfor %}

                                <div class="gigbarter_presentation_fix_gon_mon"{% if form.barter_event_presentation.value == "1" %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_pres_fix }}<br>
                                </div>
                                <div class="gigbarter_presentation_other_gon_mon"{% if form.barter_event_presentation.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.barter_mony_pres_oth_from }} - {{ form.barter_mony_pres_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred currency of fee payment' %}{% if form.barter_currency.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.barter_currency }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred form of fee payment' %}{% if form.barter_payment_method.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.barter_payment_method %}<div class="info-wrapper red">{{ form.errors.barter_payment_method.0 }}</div>{% endif %}
                        {{ form.barter_payment_method }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Rider payments' %}{% if form.barter_rider_payments.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.barter_rider_payments }}
                    </div>
                    <div class="row">
                        <label id="transport_rider">{% trans 'Transportation costs' %}{% if form.barter_transport_payments.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.barter_transport_payments }}
                        <div class="clear"></div>
                    </div>
                </div>

            </div>

            <div class="block_info">
                <h3>{% trans 'Barter venue' %}</h3>
                <div class="block_dates">
                    <div class="row">
                        <label>{% trans 'Select venue profile' %}{% if form.club.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.club }}
                    </div>
                </div>
                <div class="clear"></div>
            </div>


            <div class="btn-holder">
                {% if form.errors.regulations_accept %}<div class="info-wrapper red">{{ form.errors.regulations_accept.0 }}</div>{% endif %}
                <div class="btn-wrap">
                    <span class="red-btn right"><span>{% trans "Create gig-barter" %}</span><input type="submit" value="" title="{% trans "Create gig-barter" %}" /></span>
                </div>
                <div class="ch-list">
                    <label>{{ form.regulations_accept }}{% trans 'I agree with the ' %} <a href="/info/page/Rules_of_gigdates_placing_11/">{% trans 'terms and conditions of placing announcements' %}</a> {% trans ' on Gigcenter.com' %}</label>
                </div>
            </div>

        </form>
        {% endif %}
    </div>
{% endblock %}