{% extends 'base.html' %}
{% load static i18n %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block content %}
    <div id="gigdatesadd">
{#        {% if form.errors %}{{ form.errors }}<br>{% endif %}#}
        <div class="top_heading">
            <div class="title">{% trans 'Add gig-tender' %}</div>
        </div>
        {% if not club %}
            {% if not artist and not club %}{% endif %}{% trans 'You do not have venue profile to create gig-tender.' %} <a href="{% url 'account:club' %}">{% trans 'Create venue profile' %}</a>.
        {% else %}
        <form method="POST">{% csrf_token %}
            <div class="block_info">
                <div id="artist_info">
                    <div class="avatar" style="width: 140px"><img src="{% if club.avatar %}{{ MEDIA_URL }}{{ club.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" id="avatar_01"></div>
                    <div class="artist_info">
                        <div class="row">
                            <label>{% trans 'Select venue profile' %}{% if form.club.field.required %} <b class="red">*</b>{% endif %}</label><br>
                            {% if form.errors.club %}<div class="red">{{ form.errors.club.0 }}</div><br>{% endif %}
                            {{ form.club }}
                        </div>
                        <div class="row">
                            {% if club.country.width != '0' or club.country.height != '0' %}<div id="flag_01" class="flag_country" style="background-position: -{{ club.country.width }}px -{{ club.country.height }}px;"></div>{% endif %}<div id="fromlocation_01">{{ club.country.title }}, {{ club.city.title }}</div>
                        </div>
                        <div class="row" id="genres_01">
                            {% for pf in club.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_info">
                <div class="block_dates">
                    <div class="row">
                        <label>{% trans 'Event date' %}{% if form.dates.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.dates %}<div class="info-wrapper red">{{ form.errors.dates.0 }}</div>{% endif %}
                        <div class="input-holder">
                            <a class="open-datepicker" href="#"></a>
                            {{ form.dates }}
                        </div>
                    </div>
                    <div class="row">
                        <label>{% trans 'End of gig-tender' %}{% if form.stop_dates.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.stop_dates %}<div class="info-wrapper red">{{ form.errors.stop_dates.0 }}</div>{% endif %}
                        <div class="input-holder">
                            <a class="open-datepicker" href="#"></a>
                            {{ form.stop_dates }}
                        </div>
                    </div>
                    <div class="row">
                        <label>{% trans "Maximum number of artists per date" %}{% if form.count_trade.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {{ form.count_trade }}
                    </div>
                    <div class="row">
                        <label>{% trans 'Type of performance' %}{% if form.type_format.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.type_format %}<div class="info-wrapper red">{{ form.errors.type_format.0 }}</div>{% endif %}
                        {{ form.type_format }}
                    </div>
                    <div class="row">
                        <label>{% trans 'Genre' %}{% if form.genre.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.genre %}<div class="info-wrapper red">{{ form.errors.genre.0 }}</div>{% endif %}
                        {{ form.genre }}
                    </div>
                    <div class="row">
                        <label><input type="checkbox" id="all_country"> {% trans 'Geography of requests' %}{% if form.geography_queries.field.required %} <b class="red">*</b>{% endif %}</label>
                        <div class="clear"></div>
                        {% if form.errors.geography_queries %}<div class="info-wrapper red">{{ form.errors.geography_queries.0 }}</div>{% endif %}
                        <div class="holder">
                            {{ form.geography_queries }}

                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Contract form' %}{% if form.contract_all.field.required %} <b class="red">*</b>{% endif %}</label>
                        {% if form.errors.contract_all %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.contract_all.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.contract_artist }}{% trans 'Artists contract' %}</label>
{#                            <label style="margin-left: 20px;">{{ form.contract_club }}{% trans 'Customers contract' %}{% if form.contract_club.field.required %} <b class="red">*</b>{% endif %}</label>#}
                            <label style="margin-left: 20px;">{{ form.contract_site }}{% trans 'Gigcenter contract form' %}{% if form.contract_site.field.required %} <b class="red">*</b>{% endif %}</label> &nbsp;<a href="/info/page/Gigcenter_agreement_form_3/" target="_blank"><span class="icon-share-alt"></span></a>
                        </div>
                    </div>
                    <div class="row" id="form_dogovor"{% if form.contract_site.value %} style="display: block;"{% endif %}>
                        <label>{% trans 'Fee payment schedule' %}{% if form.payment_plan.field.required %} <b class="red">*</b>{% endif %}</label>
                         {% if form.errors.payment_plan %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.payment_plan.0 }}</div>{% endif %}
                        <div class="holder">
                            <div class="holder">
                                {{ form.payment_plan }}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        <label>{% trans 'Event type/fee' %}</label>

                        {% if form.errors.event_type %}<div class="info-wrapper red">{{ form.errors.event_type.0 }}</div>{% endif %}
                        <div class="holder">
                            <label>{{ form.type_event_public }}{% trans 'Public' %}</label><br>
                            {% if form.errors.mony_publ_fix %}<div class="info-wrapper red">{{ form.errors.mony_publ_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_publ_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_publ_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_public"{% if not form.type_event_public.value %} style="display: none"{% endif %}>
                                {% for ev_pub in form.event_public %}
                                {{ ev_pub }}<br>
                                {% endfor %}

                                 <div class="public_fix_gon_mon"{% if form.event_public.value == "1" %} style="display: block"{% endif %}>
                                   {{ form.mony_publ_fix }}<br>
                                </div>
                                <div class="public_other_gon_mon"{% if form.event_public.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.mony_publ_oth_from }} - {{ form.mony_publ_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_private }}{% trans 'Private' %}</label><br>
                            {% if form.errors.mony_priv_fix %}<div class="info-wrapper red">{{ form.errors.mony_priv_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_priv_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_priv_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_private"{% if not form.type_event_private.value %} style="display: none"{% endif %}>
                                {% for ev_pri in form.event_private %}
                                {{ ev_pri }}<br>
                                {% endfor %}

                                <div class="private_fix_gon_mon"{% if form.event_private.value == "1" %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_fix }}<br>
                                </div>
                                <div class="private_other_gon_mon"{% if form.event_private.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.mony_priv_oth_from }} - {{ form.mony_priv_oth_to }}<br>
                                </div>

                            </div>
                            <div class="clear"></div>
                            <label>{{ form.type_event_presentation }}{% trans 'Other' %}</label><br>
                            {% if form.errors.mony_pres_fix %}<div class="info-wrapper red">{{ form.errors.mony_pres_fix.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_from %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_from.0 }}</div>{% endif %}
                            {% if form.errors.mony_pres_oth_to %}<div class="info-wrapper red">{{ form.errors.mony_pres_oth_to.0 }}</div>{% endif %}
                            <div class="sub_row" id="type_event_presentation"{% if not form.type_event_presentation.value %} style="display: none"{% endif %}>
                                {% for ev_pres in form.event_presentation %}
                                {{ ev_pres }}<br>
                                {% endfor %}

                                <div class="presentation_fix_gon_mon"{% if form.event_presentation.value == "1" %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_fix }}<br>
                                </div>
                                <div class="presentation_other_gon_mon"{% if form.event_presentation.value == "2" %} style="display: block"{% endif %}>
                                    {{ form.mony_pres_oth_from }} - {{ form.mony_pres_oth_to }}<br>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred currency of fee payment' %}{% if form.currency.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.currency %}<div class="info-wrapper red">{{ form.errors.currency.0 }}</div>{% endif %}
                        {{ form.currency }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Preferred form of fee payment' %}{% if form.payment_method.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.payment_method %}<div class="info-wrapper red">{{ form.errors.payment_method.0 }}</div>{% endif %}
                        {{ form.payment_method }}
                    </div>

                    <div class="row">
                        <label>{% trans 'Rider payments' %}{% if form.rider_payments.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.rider_payments %}<div class="info-wrapper red">{{ form.errors.rider_payments.0 }}</div>{% endif %}
                        {{ form.rider_payments }}
                    </div>
                    <div class="row">
                        <label id="transport_rider">{% trans 'Transportation costs' %}{% if form.transport_payments.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.transport_payments %}<div class="info-wrapper red">{{ form.errors.transport_payments.0 }}</div>{% endif %}
                        {{ form.transport_payments }}
                        <div class="clear"></div>
                    </div>

                </div>

                <div class="clear"></div>
                <div class="line"></div>
                <div class="clear"></div>
                <h3>{% trans 'Additional information about event' %}{% if form.queries1.field.required %} <b class="red">*</b>{% endif %}</h3>
                <div class="block_dates">
                    <div class="row">
                        <label>{% trans 'Event name' %}</label><br>
                        {% if form.errors.queries1 %}<div class="info-wrapper red">{{ form.errors.queries1.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries1 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Event purpose' %}{% if form.queries3.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries3 %}<div class="info-wrapper red">{{ form.errors.queries3.0 }}</div>{% endif %}
                        {{ form.queries3 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Outdoor or indoor venue' %}{% if form.queries4.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries4 %}<div class="info-wrapper red">{{ form.errors.queries4.0 }}</div>{% endif %}
                        {{ form.queries4 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Scene size' %}{% if form.queries5.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries5 %}<div class="info-wrapper red">{{ form.errors.queries5.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries5 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Presence of sponsors' %}{% if form.queries6.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries6 %}<div class="info-wrapper red">{{ form.errors.queries6.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries6 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Ticket price' %}{% if form.queries7.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries7 %}<div class="info-wrapper red">{{ form.errors.queries7.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries7 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Ticket distribution areas' %}{% if form.queries8.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries8 %}<div class="info-wrapper red">{{ form.errors.queries8.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries8 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Start and end time' %}{% if form.queries9.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries9 %}<div class="info-wrapper red">{{ form.errors.queries9.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries9 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans "Artist's performance time" %}{% if form.queries10.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries10 %}<div class="info-wrapper red">{{ form.errors.queries10.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries10 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Sound check time' %}{% if form.queries11.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries11 %}<div class="info-wrapper red">{{ form.errors.queries11.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries11 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Event line-up' %}{% if form.queries12.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries12 %}<div class="info-wrapper red">{{ form.errors.queries12.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries12 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Methods of advertising' %}{% if form.queries13.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries13 %}<div class="info-wrapper red">{{ form.errors.queries13.0 }}</div>{% endif %}
                        {{ form.queries13 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'The presence of the dancers / go-go / decorations' %}{% if form.queries14.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries14 %}<div class="info-wrapper red">{{ form.errors.queries14.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries14 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Audience age' %}{% if form.queries15.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries15 %}<div class="info-wrapper red">{{ form.errors.queries15.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries15 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Audience' %}{% if form.queries16.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries16 %}<div class="info-wrapper red">{{ form.errors.queries16.0 }}</div>{% endif %}
                        <div class="input-holder holder2">
                            {{ form.queries16 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Rental venue' %}{% if form.queries17.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries17 %}<div class="info-wrapper red">{{ form.errors.queries17.0 }}</div>{% endif %}
                        {{ form.queries17 }}
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Artists and agents with whom the customer has already worked' %}{% if form.queries18.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries18 %}<div class="info-wrapper red">{{ form.errors.queries18.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries18 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Artists who are confirmed to perform in the nearest future on events of customer' %}{% if form.queries19.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries19 %}<div class="info-wrapper red">{{ form.errors.queries19.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries19 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Artists who have already performed at the venue of event' %}{% if form.queries20.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries20 %}<div class="info-wrapper red">{{ form.errors.queries20.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries20 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <label>{% trans 'Additional information about event' %}{% if form.queries21.field.required %} <b class="red">*</b>{% endif %}</label><br>
                        {% if form.errors.queries21 %}<div class="info-wrapper red">{{ form.errors.queries21.0 }}</div>{% endif %}
                        <div class="textarea-holder">
                            {{ form.queries21 }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="btn-holder">
                {% if form.errors.regulations_accept %}<div class="info-wrapper red">{{ form.errors.regulations_accept.0 }}</div>{% endif %}
                <div class="btn-wrap">
                    <span class="red-btn right"><span>{% trans "Create gig-tender" %}</span><input type="submit" value="" title="{% trans "Create gig-tender" %}" /></span>
                </div>
                <div class="ch-list">
                    <label>{{ form.regulations_accept }}{% trans 'I agree with the ' %} <a href="/info/page/Rules_of_gigdates_placing_11/">{% trans 'terms and conditions of placing announcements' %}</a> {% trans ' on Gigcenter.com' %}</label>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}