{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    {% if type_date == 'tender' %} {# workaround #}
        {% blocktrans %}
            The list of posted Tender – dates on Gigcenter is no longer visible according to the privacy policy
            additions and numerous wishes from owners of Venue profiles.<br><br>

            The access for every single Tender – date could be given with the direct link from personal invitation.
        {% endblocktrans %}
    {% else %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <form action="{% url 'gigdate:filter_day' %}" method="post" class="search-filter">
        {% csrf_token %}
        <input type="hidden" value="{{ request.META.PATH_INFO }}" name="httpreferer">
        <fieldset>
            <div class="top-wrap">
                <div class="date-holder">
                    {{ concrete_day }}
                </div>
                <div class="filter_concert">
                    <div class="row">
                        <div class="country">
                            {{ filterform.country }}
                        </div>
                        {% if not type_date == 'tender' %}<div class="country">
                            {{ filterform.country_artist }}
                        </div>{% endif %}
                         <div class="country">
                            {{ filterform.ganre }}
                        </div>
                        <div class="country right">
                            <input type="submit" class="search-btn" value="{% trans "Search" %}" title="{% trans "Search" %}" />
                        </div>
                    </div>
                    {% if not type_date == 'tender' %}
                    <div class="clear"></div>
                    <div class="row">
                        <div class="country">
                            <label>{{ filterform.second_date }}{% trans 'Only seconds dates' %}</label>
                        </div>
                      </div>
                {% endif %}
                </div>
            </div>
        </fieldset>
    </form>
    <div class="main-wrapper">
        <div class="content nowidth">
            <div class="table-filter">
                <div class="total">{% trans 'All dates' %} <span class="red">{{ page_obj.paginator.count }}</span></div>
            </div>
            <table class="table">
                {% for d in object_list %}
                    <tr {% cycle 'class="even"' '' %}>
                        <td style="width: 50px;">
                            <span class="date">{{ d.dates|date:"d" }}<br/>{{ d.dates|date:"F" }}{% if d.second_country %}<br><img src="{% static 'images/ui_2Date.png' %}" />{% endif %}</span>
                        </td>
                        <td>
                            <div class="min-info">
                                <div class="visual"><img src="{% if d.username_child.avatar %}{{ MEDIA_URL }}{{ d.username_child.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" width="58" height="58" alt=""/></div>
                                <div class="holder">
                                    <div class="name"><a href="{% if tp == 'barters' %}{{ d.username_child.get_absolute_url }}{% else %}{{ d.username_child.get_absolute_url }}{% endif %}">{{ d.username_child }}</a>{# &nbsp;&nbsp;<span class="star active"></span>&nbsp;&nbsp;<span class="pro {% if d.artist.pro %}active{% endif %}"></span> #}</div>
                                    <ul class="list">
                                        <li>{% if d.country.width != '0' or d.country.height != '0' %}<div class="flag_country" style="background-position: -{{ d.username_child.country.width }}px -{{ d.username_child.country.height }}px"></div>{% endif %}{{ d.username_child.country.title }}, {{ d.username_child.city.title }}</li>
                                        <li>{% for pf in d.username_child.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                                    </ul>
                                    {% if d.get_sub_model.count_trade > 1 %}<div class="list_needhire">
                                        {% trans 'Needs to hire ' %}{{ d.get_sub_model.count_trade }}
                                        {% if d.type_date == 2 %}{% trans 'artists' %}{% else %}{% trans 'venues' %}{% endif %}
                                    </div>{% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="last">
                            <div class="bottom-wrap">
{#                                <span class="premium"></span>#}
                                <a class="red-btn" href="{{ d.get_absolute_url_view }}">
                                    <span>{% trans 'Book' %}</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td style="text-align: center">{% trans 'Dates not found' %}</td></tr>
                {% endfor %}
            </table>
            {% if is_paginated %}<div class="pagination pagination-centered">
                <ul>
                    {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

                    {% for p in page_obj.paginator.page_range %}
                        <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
                </ul>
            </div>{% endif %}

        </div>

    </div>
    <div class="blue-line"></div>
    {% endif %}
{% endblock %}