{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="main-wrapper">
        <div class="content nowidth">
            <div class="table-filter" style="border-bottom: none;">
                <div class="total">{% trans 'All dates' %} <span class="red">{{ page_obj.paginator.count }}</span></div>
            </div>
            <table class="table">
                    <tr>
                        <td style="text-align: center;">{% trans 'Type / created' %}</td>
                        <td style="text-align: center;">{% trans 'Available date' %}</td>
                        <td style="text-align: center;">{% trans 'Profile information' %}</td>
                        <td style="text-align: center;"></td>

                    </tr>
                {% for d in object_list %}
                    <tr {% cycle 'class="even"' '' %}>
                        <td style="width: 100px; text-align: center;">
                            <b>{{ d.get_type_date_display|capfirst }}</b><br>
                            {% if d.is_date_today %}{% trans 'today' %}<br>{{ d.create|date:"TIME_FORMAT" }}{% else %}{{ d.create|date:"DATETIME_FORMAT" }}{% endif %}
                        </td>
                        <td style="width: 70px;">
                            <span class="date">{{ d.dates|date:"d" }}<br/>{{ d.dates|date:"F" }}{% if d.second_country %}<br><img src="{% static 'images/ui_2Date.png' %}" title="{% trans 'This is a second date' %}" />{% endif %}</span>
                        </td>
                        <td>
                            <div class="min-info">
                                <div class="visual"><img src="{% if d.username_child.avatar %}{{ MEDIA_URL }}{{ d.username_child.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" width="58" height="58" alt=""/></div>
                                <div class="holder">
                                    <div class="name">
                                        {% if d.type_date == 2 %}{% trans 'venue:' %}{% else %}{% trans 'artist:' %}{% endif %}
                                        <a href="{% if tp == 'barters' %}{{ d.username_child.get_absolute_url }}{% else %}{{ d.username_child.get_absolute_url }}{% endif %}">{{ d.username_child }}</a>{# &nbsp;&nbsp;<span class="star active"></span>&nbsp;&nbsp;<span class="pro {% if d.artist.pro %}active{% endif %}"></span> #}</div>
                                    <ul class="list">
                                        <li>{% if d.country.width != '0' or d.country.height != '0' %}<div class="flag_country" style="background-position: -{{ d.username_child.country.width }}px -{{ d.username_child.country.height }}px"></div>{% endif %}{{ d.username_child.country.title }}, {{ d.username_child.city.title }}</li>
                                        <li>{% for pf in d.username_child.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                                    </ul>
                                    {% if d.get_sub_model.count_trade > 1 %}<div class="list_needhire">
                                        {% trans 'Needs to hire ' %}{{ d.get_sub_model.count_trade }}
                                        {% if d.type_date == 2 %}{% trans 'artists' %}{% else %}{% trans 'venues' %}{% endif %}
                                    </div>{% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="last" style="width: 80px;">
                            <div class="bottom-wrap">
{#                                <span class="premium"></span>#}
                                <a class="blue-btn" href="{{ d.get_absolute_url_view }}">
                                    <span>{% trans 'Read more' %}</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td style="text-align: center">{% trans 'Dates not found' %}</td></tr>
                {% endfor %}
            </table>
            {% if is_paginated %}<div class="pagination pagination-centered">
                <ul>
                    {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

                    {% for p in page_obj.paginator.page_range %}
                        <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
                </ul>
            </div>{% endif %}

        </div>

    </div>
    <div class="blue-line"></div>
{% endblock %}