{% extends 'base.html' %}
{% load static i18n filename %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block content %}
<div class="contemt_artist">
    <div class="artist_left">
        <h1><small>{% trans 'Gig-tender:' %}</small> {{ gigdate.dates }}{% if request.user.is_authenticated and request.user != gigdate.user %}<a id="add_bookmarks" class="bookmarks" href="#" title="{% trans 'Add bookmarks' %}" rev="tender" rel="{{ gigdate.pk }}"></a>{% endif %}
        </h1>

        <div class="">
            <div class="left"><img src="{% if gigdate.club.avatar %}{{ MEDIA_URL }}{{ gigdate.club.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
            <div class="left ml20 w490">
                <h2><a href="{{ gigdate.club.get_absolute_url }}" >{{ gigdate.club.nickname }}</a>
                {% if request.user.is_authenticated and request.user != gigdate.user %}<a id="add_favorites" class="favorites" href="#" title="{% trans 'Add favorites' %}" rev="club" rel="{{ gigdate.club.pk }}"></a>{% endif %}
                </h2>
                {% if gigdate.club.agent %}<b>{% trans 'Managed by' %} <a href="{{ gigdate.club.agent.get_absolute_url }}" target="_blank">{{ gigdate.club.agent }}</a></b>{% else %}<b>{% trans 'Managed personally' %}</b>{% endif %}<br>
                {% if gigdate.club.country.width != '0' or gigdate.club.country.height != '0' %}<div class="flag_country" style="background-position: -{{ gigdate.club.country.width }}px -{{ gigdate.club.country.height }}px;"></div>{% endif %}{{ gigdate.club.country.title }}, {{ gigdate.club.city.title }}<br>
                {% if gigdate.club.genre.all %}{% for pf in gigdate.club.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
            </div>
            <div class="clear"></div>
            <div class="artist_menu">
{#                {% trans 'Gig-tender' %}#}
            </div>
            <div class="line2"></div>
            <div class="clear"></div>
            <b>{% trans 'Available date' %}</b> {{ gigdate.dates }}<br>
            <b>{% trans 'End of gig-tender' %}</b> {% if request.user.is_authenticated %}{{ gigdate.stop_dates }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>
            <b>{% trans 'Maximum number of artists per date' %} </b> {% if request.user.is_authenticated %}{{ gigdate.count_trade }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>
            {% if gigdate.type_format.all %}<b>{% trans 'Type of performance' %}</b>
                {% for tos in gigdate.type_format.all %}{{ tos.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
            {% if gigdate.genre.all %}<b>{% trans 'Genre' %}</b>
                {% for pf in gigdate.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
            {% if gigdate.geography_queries.all %}<b>{% trans 'Geography of requests' %}</b>
                <ul class="choice_item">
                    {% for geograph in gigdate.geography_queries.all|slice:":25" %}
                        <li>{{ geograph.title }}</li>
                    {% endfor %}
                    {% if gigdate.geography_queries.all.count > 25 %}
                        {% for geograph in gigdate.geography_queries.all|slice:"25:" %}
                            <li class="geograph_hide">{{ geograph.title }}</li>
                        {% endfor %}
                        <li class="geograph_hide_next" style="text-align: center"></li>
                    {% endif %}
                </ul>{% endif %}
            <b>{% trans 'Contract form' %}</b>
            {% if request.user.is_authenticated %}<ul class="event_type">
            {% if gigdate.contract_artist %}<li>{% trans 'Artists contract' %}</li>{% endif %}
{#            {% if gigdate.contract_club %}<li>{% trans 'Customers contract' %}</li>{% endif %}#}
            {% if gigdate.contract_site %}<li><a href="/info/page/Gigcenter_agreement_form_3/">{% trans 'Gigcenter Agreement form' %}</a></li>
                {% if gigdate.payment_plan %}<li><b>{% trans 'Fee payment schedule' %}</b><ol><li>{{ gigdate.get_payment_plan_display }}</li></ol></li>{% endif %}
            {% endif %}
            </ul>{% else %}<i class="gray">{% trans 'For authorized users' %}</i><br>{% endif %}


            <b>{% trans 'Event type/fee' %}</b>
            {% if request.user.is_authenticated %}<ul class="event_type">
            {% if gigdate.event_public != None %}
                <li>{% trans 'Public' %}</li>
                <li><ul><li>
                    {{ gigdate.get_event_public_display }}
                    {% if gigdate.event_public == 1 %}<b>{{ gigdate.mony_publ_fix }}</b>{% endif %}
                    {% if gigdate.event_public == 2 %}<b>{{ gigdate.mony_publ_oth_from }} - {{ gigdate.mony_publ_oth_to }}</b>{% endif %}
                </li></ul></li>
            {% endif %}
            {% if gigdate.event_private != None %}
                <li>{% trans 'Private' %}</li>
                <li><ul><li>
                    {{ gigdate.get_event_private_display }}
                    {% if gigdate.event_private == 1 %}<b>{{ gigdate.mony_priv_fix }}</b>{% endif %}
                    {% if gigdate.event_private == 2 %}<b>{{ gigdate.mony_priv_oth_from }} - {{ gigdate.mony_priv_oth_to }}</b>{% endif %}
                </li></ul></li>
            {% endif %}
            {% if gigdate.event_presentation != None %}
                <li>{% trans 'Other' %}</li>
                <li><ul><li>
                    {{ gigdate.get_event_presentation_display }}
                    {% if gigdate.event_presentation == 1 %}<b>{{ gigdate.mony_pres_fix }}</b>{% endif %}
                    {% if gigdate.event_presentation == 2 %}<b>{{ gigdate.mony_pres_oth_from }} - {{ gigdate.mony_pres_oth_to }}</b>{% endif %}
                </li></ul></li>
            {% endif %}
            </ul>
            {% else %}<i class="gray">{% trans 'For authorized users' %}</i><br>{% endif %}

            <b>{% trans 'Preferred currency of fee payment' %}</b> {% if request.user.is_authenticated %}{{ gigdate.get_currency_display }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>
            {% if gigdate.payment_method.all %}<b>{% trans 'Preferred form of fee payment' %}</b> {% if request.user.is_authenticated %}{% for payment_method in gigdate.payment_method.all %}{{ payment_method }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            <b>{% trans 'Rider payments' %}</b> {{ gigdate.get_rider_payments_display }} {% for rider in gigdate.artist.rider.all %}
            <a href="{{ MEDIA_URL }}{{ rider.file }}">{% trans 'Rider' %} {{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
            <b>{% trans 'Transportation costs' %}</b> {{ gigdate.get_transport_payments_display }}


        </div>
        <div class="clear"></div>
        <div class="artist_menu">
            {% trans 'Additional information about event' %}
        </div>

        <div class="clear"></div>
        <div class="line"></div>
        <div class="">
            {% if gigdate.queries1 %}<b>{% trans 'Event name' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries1 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if not gigdate.queries3 == Null %}<b>{% trans 'Event purpose' %}</b> {% if request.user.is_authenticated %}{{ gigdate.get_queries3_display }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if not gigdate.queries4 == Null %}<b>{% trans 'Outdoor or indoor venue' %}</b> {% if request.user.is_authenticated %}{{ gigdate.get_queries4_display }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries5 %}<b>{% trans 'Scene size' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries5 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries6 %}<b>{% trans 'Presence of sponsors' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries6 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries7 %}<b>{% trans 'Ticket price' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries7 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries8 %}<b>{% trans 'Ticket distribution areas' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries8 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries9 %}<b>{% trans 'Start and end time' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries9 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries10 %}<b>{% trans "Artist's performance time" %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries10 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries11 %}<b>{% trans 'Sound check time' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries11 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries12 %}<b>{% trans 'Event line-up' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries12 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries13 %}<b>{% trans 'Methods of advertising' %}</b>
                {% if request.user.is_authenticated %}{% for q13 in gigdate.queries13.all %}{{ q13.title }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries14 %}<b>{% trans 'The presence of the dancers / go-go / decorations' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries14 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries15 %}<b>{% trans 'Audience age' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries15 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries16 %}<b>{% trans 'Audience' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries16 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if not gigdate.queries17 == Null %}<b>{% trans 'Rental venue' %}</b> {% if request.user.is_authenticated %}{{ gigdate.get_queries17_display }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries18 %}<b>{% trans 'Artists and agents with whom the customer has already worked' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries18 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries19 %}<b>{% trans 'Artists who are confirmed to perform in the nearest future on events of customer' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries19 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries20 %}<b>{% trans 'Artists who have already performed at the venue of event' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries20 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            {% if gigdate.queries21 %}<b>{% trans 'Additional information about event' %}</b> {% if request.user.is_authenticated %}{{ gigdate.queries21 }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
        </div>

        <br>
        <h3>{% trans 'Gig-tender data' %}</h3>
        <div class="clear"></div>
        <div class="line2"></div>
        <div class="block_dates">
            {% if not request.user.is_authenticated %}
            {% trans 'To respond to a request can only registered users, create a profile with the artist`s.' %}
            {% else %}
                {% if gigdate.club.user == request.user %}
                    {% trans 'This is Your gig-tender' %}<br>
                {% elif settings.SEND_REQUEST_TENDER > request.user.gigcoin_sum %}
                    {% trans 'Not enough GigCoins. You can buy GigCoins in your ' %}<a href="{% url 'account:billing' %}">{% trans 'Personal account' %}</a> {% trans ' or enter promo code to get it for free' %}<br>
                {% elif request.user.is_artist and not trands and not add_book %}
                <form method="post">{% csrf_token %}{{ form.mony_edit }}{{ form.fee_event_type }}
                    <div class="block_dates">
                        <div class="row">
                            <label>{% trans "Select artist's profile" %}</label><br>
                            {% if form.errors.artist_trade %}<div class="info-wrapper red">{{ form.errors.artist_trade.0 }}</div>{% endif %}
                            {{ form.artist_trade }}
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <label>{% trans 'Contract form' %}</label><br>
                            {% if form.errors.contracts %}<div class="info-wrapper red">{{ form.errors.contracts.0 }}</div>{% endif %}
                            {{ form.contracts }}
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <label>{% trans 'Event type' %}</label><br>
                            {% if form.errors.event_type %}<div class="info-wrapper red">{{ form.errors.event_type.0 }}</div>{% endif %}
                            {{ form.event_type }}
                            <div class="clear"></div>
                        </div>
                        <style>#mony_fix{display: {% if form.mony_fix.field.widget.attrs.visible_div %}block{% else %}none{% endif %};}</style>
                        <div class="row" id="mony_fix">
                            <label>{% trans 'Fee' %}</label><br>
                            {% if form.errors.mony_fix %}<div class="info-wrapper red">{{ form.errors.mony_fix.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.mony_fix }}
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <br>
                    <div class="clear"></div>
                    <div class="line"></div>
                    <div class="btn-holder">
                        {% if form.errors.regulations_accept %}<div class="info-wrapper red">{{ form.errors.regulations_accept.0 }}</div>{% endif %}
                        <div class="btn-wrap">
                            <span class="red-btn right"><span>{% trans "Book" %}</span><input type="submit" value="" title="{% trans "Book" %}" /></span>
                        </div>
                        <div class="ch-list">
                            <label>{{ form.regulations_accept }}{% trans 'I agree with the ' %} <a href="/info/page/Rules_and_terms_of_the_booking_request_10/">{% trans 'terms and conditions of booking requests' %}</a> {% trans ' on Gigcenter.com' %}</label>
                        </div>
                    </div>
                </form>
                    <br>
                {% elif trands %}
                    {% trans 'You have already booked this gig-tender' %}<br>
                {% elif add_book %}
                    {% trans 'This date has already been booked. Please, try again later or choosing another date.' %}<br>
                {% elif not request.user.is_artist %}
                    {% trans 'For tender-date reservation you must have an artist profile.' %} <a href="{% url 'account:artist' %}">{% trans 'Create an artist profile' %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <div class="artist_right">
        <div class="right">{% trans 'Views' %}: <a>{{ gigdate.view }}</a></div>
        <div class="clear"></div>
        <div class="line"></div>
        {% if not request.user.is_authenticated %}
        <div style="width: 300px; margin: 0 auto; text-align: center;">
            <br><div class="btn-wrap">
                <span class="big-red-btn">

                    <a href="{% url 'signin' %}"><span>{% trans 'Book In' %}</span></a>
                </span><br>
            </div>
            <br>
            {% trans 'OR' %}
            <br><br>
            <div class="btn-wrap">
                <span class="big-green-btn">
                    <a href="{% url 'signin' %}"><span>{% trans 'Sign a contract' %}</span></a>
                </span>
            </div><br><div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        {% endif %}
        <div style="line-height: 25px;">
        <h2>{% trans 'User’s information' %}</h2>
        {% if request.user.is_authenticated %}
            <b>{{ gigdate.user.first_name }} {{ gigdate.user.last_name }}</b>
            {% if gigdate.user.country.width != '0' or gigdate.user.country.height != '0' %}<div class="flag_country" style="margin: 2px 5px; background-position: -{{ gigdate.user.country.width }}px -{{ gigdate.user.country.height }}px;" title="{{ gigdate.user.country.title }}, {{ gigdate.user.city.title }}"></div>{% endif %}<br>
        {% endif %}
        <strong>{% trans 'Registration' %}:</strong> {{ gigdate.user.date_joined|date }}<br>
        <strong>{% trans 'Dates' %}:</strong> {{ gigdate.club.gigdetes_count }}<br>
        <strong>{% trans 'Deals' %}:</strong> {{ gigdate.club.trade_count }}<br>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        <h2>{% trans 'Date information' %}</h2>
        <strong>{% trans 'Created' %}</strong> {{ gigdate.create|date:"SHORT_DATETIME_FORMAT" }}<br>
        {% if request.user.is_authenticated %}
            <strong>{% trans 'Needs to hire ' %}{% if gigdate.type_date == 2 %}{% trans 'artists' %}{% else %}{% trans 'venues' %}{% endif %}</strong> {{ gigdate.count_trade }}<br>
            <strong>{% trans 'Received requests' %}</strong> {{ date_requests }}<br>
            <strong>{% trans 'Signed contracts' %}</strong> {{ date_contracts }}<br>
        {% endif %}
        <div class="clear"></div>
        <div class="line"></div>
    </div>

</div>

{% endblock %}