{% extends 'base.html' %}
{% load static i18n filename %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block content %}
<div class="contemt_artist">
    <div class="artist_left">
        <h1><small>{% trans 'Gig-date:' %}</small> {{ gigdate.dates }}{% if gigdate.second_country %} <img title="{% trans 'This is a second date' %}" src="{% static 'images/ui_2Date.png' %}" />{% endif %}
        {% if request.user.is_authenticated and request.user != gigdate.user %}
            <a id="add_bookmarks" class="bookmarks" href="#" title="{% trans 'Add bookmarks' %}" rev="gigdate" rel="{{ gigdate.pk }}"></a>
        {% endif %}
        </h1>
        <div class="">
            <div class="left"><img src="{% if gigdate.artist.avatar %}{{ MEDIA_URL }}{{ gigdate.artist.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
            <div class="left ml20 w490">
                <h2><a href="{{ gigdate.artist.get_absolute_url }}" >{{ gigdate.artist.nickname }}</a>
                {% if request.user.is_authenticated and request.user != gigdate.user %}<a id="add_favorites" class="favorites" href="#" title="{% trans 'Add favorites' %}" rev="artist" rel="{{ gigdate.artist.pk }}"></a>{% endif %}
                </h2>
                {% if gigdate.artist.agent %}<b>{% trans 'Managed by' %} <a href="{{ gigdate.artist.agent.get_absolute_url }}" target="_blank">{{ gigdate.artist.agent }}</a></b>{% else %}<b>{% trans 'Managed personally' %}</b>{% endif %}<br>
                {% if gigdate.artist.country.width != '0' or gigdate.artist.country.height != '0' %}<div class="flag_country" style="background-position: -{{ gigdate.artist.country.width }}px -{{ gigdate.artist.country.height }}px;"></div>{% endif %}{{ gigdate.artist.country.title }}, {{ gigdate.artist.city.title }}<br>
                {% if gigdate.artist.genre.all %}{% for pf in gigdate.artist.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
                {% if gigdate.artist.label %}<div class="label_text"><b>{% trans 'Label' %}</b> {{ gigdate.artist.label }}</div>{% endif %}

            </div>
            <div class="clear"></div>
            <div class="artist_menu">
{#                {% trans 'Gig-date' %}#}
            </div>
            <div class="line2"></div>
            <div class="clear"></div>
            <b>{% trans 'Available date' %} </b> {{ gigdate.dates }}
            {% if gigdate.second_country %} <img title="{% trans 'This is a second date' %}" src="{% static 'images/ui_2Date.png' %}" /><br>
            <b>{% trans 'Closest confirmed date' %} </b> {{ gigdate.second_date }}<br>
            <b>{% trans 'Location of the closest gig' %} </b> {{ gigdate.second_country }}, {{ gigdate.second_city }}
            {% endif %}<br>
             <b>{% trans 'Maximum number of gigs per date' %} </b> {% if request.user.is_authenticated %}{{ gigdate.count_trade }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>
            {% if gigdate.geography_queries.all %}<b>{% trans 'Geography of requests:' %} </b>
                <ul class="choice_item">
                    {% for geograph in gigdate.geography_queries.all|slice:":25" %}
                        <li>{{ geograph.title }}</li>
                    {% endfor %}
                    {% if gigdate.geography_queries.all.count > 25 %}
                        {% for geograph in gigdate.geography_queries.all|slice:"25:" %}
                            <li class="geograph_hide">{{ geograph.title }}</li>
                        {% endfor %}
                        <li class="geograph_hide_next" style="text-align: center"></li>
                    {% endif %}
                </ul>{% endif %}
            <b>{% trans 'Contract form' %} </b>
            {% if request.user.is_authenticated %}<ul class="event_type">
            {% if gigdate.contract_artist %}<li><a href="{{ MEDIA_URL }}{{ gigdate.artist.dogovor }}">{% trans 'Artists contract' %}</a></li>{% endif %}
            {% if gigdate.contract_site %}<li><a href="/info/page/Gigcenter_agreement_form_3/">{% trans 'Gigcenter Agreement form' %}</a></li>
                {% if gigdate.payment_plan %}<li><b>{% trans 'Fee payment schedule' %} </b><ol><li>{{ gigdate.get_payment_plan_display }}</li></ol></li>{% endif %}
            {% endif %}
            </ul>
            {% else %}<i class="gray">{% trans 'For authorized users' %}</i><br>{% endif %}


            <b>{% trans 'Event type/fee' %}</b>
            {% if request.user.is_authenticated %}<ul class="event_type">
            {% if gigdate.event_public != None %}
                <li>{% trans 'Public' %}</li>
                <li><ul><li>
                    {{ gigdate.get_event_public_display }}
                    {% if gigdate.event_public == 1 %}<b>{{ gigdate.mony_publ_fix }}</b>{% endif %}
                    {% if gigdate.event_public == 2 %}<b>{{ gigdate.mony_publ_oth_from }} - {{ gigdate.mony_publ_oth_to }}</b> {% endif %}
                </li></ul></li>
            {% endif %}
            {% if gigdate.event_private != None %}
                <li>{% trans 'Private' %}</li>
                <li><ul><li>
                    {{ gigdate.get_event_private_display }}
                    {% if gigdate.event_private == 1 %}<b>{{ gigdate.mony_priv_fix }}</b>{% endif %}
                    {% if gigdate.event_private == 2 %}<b>{{ gigdate.mony_priv_oth_from }} - {{ gigdate.mony_priv_oth_to }}</b>{% endif %}
                </li></ul></li>
            {% endif %}
            {% if gigdate.event_presentation != None %}
                <li>{% trans 'Other' %}</li>
                <li><ul><li>
                    {{ gigdate.get_event_presentation_display }}
                    {% if gigdate.event_presentation == 1 %}<b>{{ gigdate.mony_pres_fix }}</b>{% endif %}
                    {% if gigdate.event_presentation == 2 %}<b>{{ gigdate.mony_pres_oth_from }} - {{ gigdate.mony_pres_oth_to }}</b>{% endif %}
                </li></ul></li>
            {% endif %}
            </ul>
            {% else %}<i class="gray">{% trans 'For authorized users' %}</i><br>{% endif %}

            <b>{% trans 'Preferred currency of fee payment' %}</b> {% if request.user.is_authenticated %}{{ gigdate.get_currency_display }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>
            {% if gigdate.payment_method.all %}<b>{% trans 'Preferred form of fee payment' %}</b> {% if request.user.is_authenticated %}{% for payment_method in gigdate.payment_method.all %}{{ payment_method }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            <b>{% trans 'Rider payments' %}</b> {% if request.user.is_authenticated %}{{ gigdate.get_rider_payments_display }} {% for rider in gigdate.artist.rider.all %}
            <a href="{{ MEDIA_URL }}{{ rider.file }}">{% trans 'Rider' %} {{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}{% else %}<i class="gray">{% trans 'Riders available for authorized users' %}</i>{% endif %}<br>
            <b>{% trans 'Transportation costs' %}</b> {{ gigdate.get_transport_payments_display }}



            <br><br>
            <h3>{% trans 'Gig-date data' %}</h3>
            <div class="clear"></div>
            <div class="line2"></div>
            {% if not request.user.is_authenticated %}
                {% trans 'To respond to a request can only registered users, create a profile with the venue.' %}
            {% else %}
                {% if gigdate.user == request.user %}
                    {% trans 'This is Your gig-date' %}<br>
                {% elif request.user.is_club and not trands and not add_book %}
                    <form method="post">{% csrf_token %}{{ form.mony_edit }}{{ form.fee_event_type }}
{#                    {{ form.errors }}#}
{#                    {{ form.as_p }}#}
                    <div class="block_dates">
                        <div class="row">
                            <label>{% trans 'Select venue profile' %}</label><br>
                            {% if form.errors.club_trade %}<div class="info-wrapper red">{{ form.errors.club_trade.0 }}</div>{% endif %}
                            {{ form.club_trade }}
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <label>{% trans 'Contract form' %}</label><br>
                            {% if form.errors.contracts %}<div class="info-wrapper red">{{ form.errors.contracts.0 }}</div>{% endif %}
                            {{ form.contracts }}
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <label>{% trans 'Event type' %}</label><br>
                            {% if form.errors.event_type %}<div class="info-wrapper red">{{ form.errors.event_type.0 }}</div>{% endif %}
                            {{ form.event_type }}
                            <div class="clear"></div>
                        </div>
                        <style>#mony_fix{display: {% if form.mony_fix.field.widget.attrs.visible_div %}block{% else %}none{% endif %};}</style>
                        <div class="row" id="mony_fix">
                            <label>{% trans 'Fee' %}</label><br>
                            {% if form.errors.mony_fix %}<div class="info-wrapper red">{{ form.errors.mony_fix.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.mony_fix }}
                            </div>
                            <div class="clear"></div>
                        </div>

                        {% if form.queries_view %}<br><b>{% trans 'Additional information about event' %}</b>{% endif %}
                        {% if form.queries1 %}<div class="row">
                            <label>{% trans 'Event name' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries1 %}<div class="info-wrapper red">{{ form.errors.queries1.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries1 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries2 %}<div class="row">
                            <label>{% trans 'Event type' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries2 %}<div class="info-wrapper red">{{ form.errors.queries2.0 }}</div>{% endif %}
                            {{ form.queries2 }}
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries3 %}<div class="row">
                            <label>{% trans 'Event purpose' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries3 %}<div class="info-wrapper red">{{ form.errors.queries3.0 }}</div>{% endif %}
                            {{ form.queries3 }}
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries4 %}<div class="row">
                            <label>{% trans 'Outdoor or indoor place of gig' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries4 %}<div class="info-wrapper red">{{ form.errors.queries4.0 }}</div>{% endif %}
                            {{ form.queries4 }}
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries5 %}<div class="row">
                            <label>{% trans 'Scene size' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries5 %}<div class="info-wrapper red">{{ form.errors.queries5.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries5 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries6 %}<div class="row">
                            <label>{% trans 'The presence of sponsors' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries6 %}<div class="info-wrapper red">{{ form.errors.queries6.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries6 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries7 %}<div class="row">
                            <label>{% trans 'Ticket price' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries7 %}<div class="info-wrapper red">{{ form.errors.queries7.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries7 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries8 %}<div class="row">
                            <label>{% trans 'Ticket distribution areas' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries8 %}<div class="info-wrapper red">{{ form.errors.queries8.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries8 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries9 %}<div class="row">
                            <label>{% trans 'Start and end time' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries9 %}<div class="info-wrapper red">{{ form.errors.queries9.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries9 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries10 %}<div class="row">
                            <label>{% trans 'Performance time' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries10 %}<div class="info-wrapper red">{{ form.errors.queries10.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries10 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries11 %}<div class="row">
                            <label>{% trans 'Sound check time' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries11 %}<div class="info-wrapper red">{{ form.errors.queries11.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries11 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries12 %}<div class="row">
                            <label>{% trans 'Event line-up' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries12 %}<div class="info-wrapper red">{{ form.errors.queries12.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries12 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries13 %}<div class="row">
                            <label>{% trans 'Advertising methods' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries13 %}<div class="info-wrapper red">{{ form.errors.queries13.0 }}</div>{% endif %}
                            {{ form.queries13 }}
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries14 %}<div class="row">
                            <label>{% trans 'The presence of the dancers / go-go / decorations' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries14 %}<div class="info-wrapper red">{{ form.errors.queries14.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries14 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries15 %}<div class="row">
                            <label>{% trans 'Audience age' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries15 %}<div class="info-wrapper red">{{ form.errors.queries15.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries15 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries16 %}<div class="row">
                            <label>{% trans 'Audience' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries16 %}<div class="info-wrapper red">{{ form.errors.queries16.0 }}</div>{% endif %}
                            <div class="input-holder holder2">
                                {{ form.queries16 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries17 %}<div class="row">
                            <label>{% trans 'Rental venue' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries17 %}<div class="info-wrapper red">{{ form.errors.queries17.0 }}</div>{% endif %}
                            {{ form.queries17 }}
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries18 %}<div class="row">
                            <label>{% trans 'Artists and agents with whom the customer has already worked' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries18 %}<div class="info-wrapper red">{{ form.errors.queries18.0 }}</div>{% endif %}
                            <div class="textarea-holder">
                                {{ form.queries18 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries19 %}<div class="row">
                            <label>{% trans 'Artists that are confirmed to perform in the near future on the events of the customer' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries19 %}<div class="info-wrapper red">{{ form.errors.queries19.0 }}</div>{% endif %}
                            <div class="textarea-holder">
                                {{ form.queries19 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries20 %}<div class="row">
                            <label>{% trans 'Artists who have already performed at the venue of event' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries20 %}<div class="info-wrapper red">{{ form.errors.queries20.0 }}</div>{% endif %}
                            <div class="textarea-holder">
                                {{ form.queries20 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}
                        {% if form.queries21 %}<div class="row">
                            <label>{% trans 'Additional information about event' %} <b class="red">*</b></label><br>
                            {% if form.errors.queries21 %}<div class="info-wrapper red">{{ form.errors.queries21.0 }}</div>{% endif %}
                            <div class="textarea-holder">
                                {{ form.queries21 }}
                            </div>
                            <div class="clear"></div>
                        </div>{% endif %}

                    </div>
                    <div class="clear"></div>
                    <div class="line"></div>
                    <div class="btn-holder">
                    {% if form.errors.regulations_accept %}<div class="info-wrapper red">{{ form.errors.regulations_accept.0 }}</div>{% endif %}
                        <div class="btn-wrap">
                            <span class="red-btn right"><span>{% trans "Book" %}</span><input type="submit" value="" title="{% trans "Book" %}" /></span>
                        </div>
                        <div class="ch-list">
                            <label>{{ form.regulations_accept }}{% trans 'I agree with the ' %} <a href="/info/page/Rules_and_terms_of_the_booking_request_10/">{% trans 'terms and conditions of booking requests' %}</a> {% trans ' on Gigcenter.com' %}</label>
                        </div>
                    </div>
                    </form>
                    <br>

                    <br>
                {% elif trands %}
                    {% trans 'You have already booked this gig-date' %}<br>
                {% elif add_book %}
                    {% trans 'This date has already been booked. Please, try again later or choosing another date.' %}<br>
                {% elif not request.user.is_club %}
                    {% trans 'For gig-date reservation you must have a venue profile.' %} <a href="{% url 'account:club' %}">{% trans 'Create a profile venue' %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <div class="artist_right">
        <div class="right">{% trans 'Views' %} <a>{{ gigdate.view }}</a></div>
        <div class="clear"></div>
        <div class="line"></div>
        {% if not request.user.is_authenticated %}
        <div style="width: 300px; margin: 0 auto; text-align: center;">
            <br><div class="btn-wrap">
                <span class="big-red-btn">

                    <a href="{% url 'signin' %}"><span>{% trans 'Submit a request' %}</span></a>
                </span><br>
            </div>
            <br>
            {% trans 'OR' %}
            <br><br>
            <div class="btn-wrap">
                <span class="big-green-btn">
                    <a href="{% url 'signin' %}"><span>{% trans 'Make Your offer' %}</span></a>
                </span>
            </div><br><div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        {% endif %}

        <div style="line-height: 25px;">
        <h2>{% trans 'User’s information' %}</h2>
        {% if request.user.is_authenticated %}
            <b>{{ gigdate.user.first_name }} {{ gigdate.user.last_name }}</b>
            {% if gigdate.user.country.width != '0' or gigdate.user.country.height != '0' %}<div class="flag_country" style="margin: 2px 5px; background-position: -{{ gigdate.user.country.width }}px -{{ gigdate.user.country.height }}px;" title="{{ gigdate.user.country.title }}, {{ gigdate.user.city.title }}"></div>{% endif %}<br>
        {% endif %}
        <strong>{% trans 'Registration' %}</strong> {{ gigdate.user.date_joined|date }}<br>
        <strong>{% trans 'Dates' %}</strong> {{ gigdate.artist.gigdetes_count }}<br>
        <strong>{% trans 'Deals' %}</strong> {{ gigdate.artist.trade_count }}<br>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        <h2>{% trans 'Date information' %}</h2>
        <strong>{% trans 'Created' %}</strong> {{ gigdate.create|date:"SHORT_DATETIME_FORMAT" }}<br>
        {% if request.user.is_authenticated %}
            <strong>{% trans 'Needs to hire ' %}{% if gigdate.type_date == 2 %}{% trans 'artists' %}{% else %}{% trans 'venues' %}{% endif %}</strong> {{ gigdate.count_trade }}<br>
            <strong>{% trans 'Received requests' %}</strong> {{ date_requests }}<br>
            <strong>{% trans 'Signed contracts' %}</strong> {{ date_contracts }}<br>
        {% endif %}
        <div class="clear"></div>
        <div class="line"></div>
    </div>
</div>
{% endblock %}