{% extends 'gigcoin/account/main.html' %}
{% load static i18n user_tag %}

{% block profile_content %}
<div class="content-profile">
    <h2>{% trans 'GigCoin transaction history' %} </h2>
    {% if object_list %}
    <table class="table_gigdates">
        <tr id="th">
            <th width="120">{% trans 'Date' %}</th>
            <th>{% trans 'Description' %}</th>
            <th width="100">{% trans 'Status' %}</th>
            <th width="100">{% trans 'Coins' %}</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.create|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ obj.messages|safe }}</td>
            <td>{{ obj.get_status_display }}</td>
            <td>{{ obj.coin }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}<div class="pagination pagination-centered">
        <ul>
            {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

            {% for p in page_obj.paginator.page_range %}
                <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
        </ul>
    </div>{% endif %}
    {% else %}
        <center>{% trans 'Transaction not found' %}</center>
    {% endif %}

</div>
{% endblock %}