{% extends 'account/main.html' %}
{% load static i18n user_tag %}
{% block extended_css %}<link rel="stylesheet" href="{% static 'css/gigdates.css' %}" type="text/css" />{% endblock %}
{% block extended_js %}<script type="text/javascript" src="{% static 'js/gigdates.js' %}"></script>{% endblock %}

{% block account_content %}
<div class="tab-wrapper">
    <div class="tab active-tab">
        <div class="profile-form alt-input-form">
            <ul class="side-profile-nav">
                <li><a href="{% url 'account:billing' %}" {% if transaction_url %} class="vactive"{% endif %}>{% trans 'Transactions' %}</a></li>
                <li><a href="{% url 'account:promo_code' %}" {% if promocode_url %} class="vactive"{% endif %}>{% trans 'Promo code' %}</a></li>
                <li><a href="{% url 'account:paid_coin' %}" {% if paid_url %} class="vactive"{% endif %}>{% trans 'Buy GigCoins' %}</a></li>
            </ul>
            {% block profile_content %}

            {% endblock %}

        </div>
    </div>
</div>
{% endblock %}