{% extends 'gigcoin/account/main.html' %}
{% load static i18n user_tag %}

{% block profile_content %}
<div class="content-profile">
    <h2>{% trans 'Buy GigCoins' %} </h2>
    <center>{% trans 'The reconstruction' %}<br><img src="{% static 'images/reconstruction.jpg' %}"></center>
</div>
{% endblock %}