{% extends 'gigcoin/account/main.html' %}
{% load static i18n user_tag %}

{% block profile_content %}
<div class="content-profile">
    <h2>{% trans 'Promo code' %} </h2>
    <form method="post">{% csrf_token %}
        <div class="block">
            <div class="row">
                <div class="col">
                    <label>{% trans 'Enter your code' %}</label>
                    {% if form.errors.promo_code %}<div class="clear"></div><div class="info-wrapper red">{{ form.errors.promo_code.0 }}</div>{% endif %}
                    <div class="input-holder" style="width: 300px;">
                        {{ form.promo_code }}
                    </div>
                </div>
            </div>
            <div class="btn-row">
                <a class="big-blue-btn" href="#" style="float: left;">
                    <span>{% trans 'Activate' %}</span>
                    <input type="submit" />
                </a>
            </div>
        </div>


    </form>
</div>
{% endblock %}