{% load staticfiles i18n %}
{% for m in menu %}
<div class="col">
    <h3>{{ m.name }}</h3>
    <ul class="list">
        {% for sub_m in m.footer_menu.all %}<li><a href="{{ sub_m.url }}">{{ sub_m.name }}</a></li>{% endfor %}
    </ul>
</div>
{% endfor %}