{% extends 'account/mailbox/main.html' %}
{% load static i18n %}

{% block profile_content %}
<div class="content-profile">
    <h2>{% trans 'Messages' %}</h2>

    <table class="table_gigdates" id="mails">
        <tr id="th">
            <th width="150">{% trans 'Date' %}</th>
            <th width="170">{% trans 'Sender' %}</th>
            <th>{% trans 'Subject' %}</th>
        </tr>
        {% for mail in object_list %}
        <tr{% if mail.to == request.user and not mail.read_to %} class="active"{% endif %}>
            <td><a href="{% url 'account:mailbox_view' mail.pk %}">{{ mail.date|date:"SHORT_DATE_FORMAT" }}</a></td>
            <td><a href="{% url 'account:mailbox_view' mail.pk %}">{% if not mail.sender %}<i>{% trans 'GigCenter.com' %}</i>{% else %}{{ mail.sender.first_name }} {{ mail.sender.last_name }}{% endif %}</a></td>
            <td>{{ mail.title }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3" align="center">{% trans 'Messages not found' %}</td></tr>
        {% endfor %}
    </table>
    {% if is_paginated %}<div class="pagination pagination-centered">
        <ul>
            {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

            {% for p in page_obj.paginator.page_range %}
                <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
        </ul>
    </div>{% endif %}

</div>
{% endblock %}