{% extends 'account/mailbox/main.html' %}
{% load static i18n filename %}

{% block profile_content %}
<div class="content-profile">
{#    <h2>{% trans 'Message' %}</h2>#}
    <div class="clear"></div>
    <table class="table_edit">
        <tr><td><b>{% trans 'Created:' %}</b></td><td>{{ object.date }}</td></tr>
        <tr><td><b>{% trans 'Sender:' %}</b></td><td>{% if object.sender %}{{ object.sender.first_name }} {{ object.sender.last_name }}{% else %}<i>{% trans 'GigCenter.com' %}</i>{% endif %}</td></tr>
        <tr><td><b>{% trans 'Recipient:' %}</b></td><td>{{ object.to.first_name }} {{ object.to.last_name }}</td></tr>
        <tr><td><b>{% trans 'Subject:' %}</b></td><td>{{ object.title }}</td></tr>
        <tr><td><b>{% trans 'Message:' %}</b></td><td>{% if object.sender %}{{ object.text|linebreaksbr }}{% else %}{% autoescape off %}{{ object.text|linebreaksbr }}{% endautoescape %}{% endif %}</td></tr>
        {% if object.file_f %}<tr><td><b>{% trans 'File:' %}</b></td><td><a href="{{ MEDIA_URL }}{{ object.file_f }}">{{ object.file_f|filename }}</a></td></tr>{% endif %}
    </table>

    {% if object.parent %}
        <hr><h2>{% trans 'previous message' %}</h2>
            <b>{% trans 'Created' %}:</b> <i>{{ object.parent.date }}</i> /
            <b>{% trans 'from:' %}</b> {{ object.parent.sender.get_full_name }}
            <b>{% trans 'to:' %}</b> {{ object.parent.to.get_full_name }}<br>
            <b>{% trans 'Subject:' %}</b> {{ object.parent.title }}<br>
            <b>{% trans 'Message:' %}</b>{{ object.parent.text|linebreaksbr }}<hr>
        {% for sub_mailbox in object.parent.sub_mailbox.all %}
            <b>{% trans 'Created' %}:</b> <i>{{ sub_mailbox.date }}</i> /
            <b>{% trans 'from:' %}</b> {{ sub_mailbox.sender.get_full_name }}
            <b>{% trans 'to:' %}</b> {{ sub_mailbox.to.get_full_name }}<br>
            <b>{% trans 'Subject:' %}</b> {{ sub_mailbox.title }}<br>
            <b>{% trans 'Message:' %}</b>{{ sub_mailbox.text|linebreaksbr }}<hr>
        {% endfor %}
    {% endif %}

    {% if object.sub_mailbox.all %}
        <hr><h2>{% trans 'History message' %}</h2>
        {% for sub_mailbox in object.sub_mailbox.all %}
            <b>{% trans 'Created' %}:</b> <i>{{ sub_mailbox.date }}</i> /
            <b>{% trans 'from:' %}</b> {{ sub_mailbox.sender.get_full_name }}
            <b>{% trans 'to:' %}</b> {{ sub_mailbox.to.get_full_name }}<br>
            <b>{% trans 'Subject:' %}</b> {{ sub_mailbox.title }}<br>
            <b>{% trans 'Message:' %}</b>{{ sub_mailbox.text|linebreaksbr }}<hr>
        {% endfor %}
    {% endif %}

    {% if form and object.sender %}<br>
    <div class="line"></div><br>
    <form id="id_form" method="post" class="profile-form"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <table class="table_mailbox">
    {{ form.as_table }}
    <tr><th></th><td>
    <div class="btn-row">
        <span class="big-blue-btn">
        <span>{% trans 'Send' %}</span>
        <input type="submit" title="{% trans 'Send' %}">
        </span>
    </div>
    </td></tr>
    </table>
    </form>
    {% endif %}
</div>
{% endblock %}