{% extends 'account/main.html' %}
{% load static i18n %}

{% block account_content %}
<div class="tab-wrapper">
    <div class="tab active-tab">
        <div class="profile-form alt-input-form">
            <ul class="side-profile-nav">
                <li><a href="{% url 'account:mailbox' %}"{% if mailbox %} class="vactive"{% endif %}>{% trans 'inbox' %}</a></li>
                <li><a href="{% url 'account:mailbox_out' %}"{% if not mailbox %} class="vactive"{% endif %}>{% trans "outbox" %}</a></li>
            </ul>
            {% block profile_content %}

            {% endblock %}

        </div>
    </div>
</div>
{% endblock %}