{% load staticfiles i18n compress footer %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">

        <title>{% if seo.title %}{{ seo.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
        <meta name="description" content="{% if seo.description %}{{ seo.description }}{% else %}{{ site.description }}{% endif %}" />

        {% autoescape off %}{{ site.meta }}{% endautoescape %}

        {% compress css %}
{#            <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />#}
            <link rel="stylesheet" href="{% static 'css/all.css' %}?007" type="text/css" charset="utf-8">
            <link rel="stylesheet" href="{% static 'css/messages.css' %}?004" type="text/css" charset="utf-8">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}?004" type="text/css" charset="utf-8">
            <link href="{% static 'metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" charset="utf-8">


        {% endcompress %}
        {% block extended_css %}{% endblock %}

        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" media="screen"/><![endif]-->
    {{ form.media }}
    </head>
    <body>
    {% if messages %}
        <div class="popup-message">
{#			<a class="close" href="#"></a>#}
			<div class="visual"><img src="{% static 'images/robot.jpg' %}" width="58" height="58" alt="image description" /></div>
			<div class="holder">
				<div class="name">GIGCENTER</div>
				{% for message in messages %}
                    {{ message }}
                {% endfor %}
			</div>
		</div>
    {% endif %}

        <div id="wrapper">
{#            {% background_tag %}#}
            <div class="w1">
                <div class="w2">
{#                {% if request.user.is_authenticated and request.user.is_superuser %}#}
{#                <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}?24.08" type="text/css" />#}
{#                <div id="admin_panel">#}
{#                    <a href="{% url 'admin:index' %}">админка</a> +#}
{#                    <a href="{% url 'moder_statistics' %}">менеджмент</a>#}
{#                    {% if edit_page_moderator %}<a href="{{ edit_page_moderator }}" title="{% trans '#Редактировать элемент' %}" class="moder_edit_page"></a>{% endif %}#}
{#                </div>#}
{#                {% endif %}#}

                        <div class="top-panel">
                            <div class="box">
                                <a href="{% url 'contents:support' %}" id="texh_support">{% trans 'Support' %}</a>
                            </div>
                            {% if request.user.is_authenticated %}
                            {% comment %}
                            <div class="box">
                                <a href="#">Пригласить друга</a>
                            </div>
                            <!-- div class="country active-drop"-->
{#                            #}
                            <div class="country">
                                <a class="opener" href="#"><img src="{% static 'images/flag03.png' %}" width="16" height="11" alt="" /></a>
                                <ul class="drop">
                                    <li><a href="#"><img src="{% static 'images/flag01.png' %}" width="16" height="11" alt="" /> DE</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag02.png' %}" width="16" height="11" alt="" /> FR</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag03.png' %}" width="16" height="11" alt="" /> RUS</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag04.png' %}" width="16" height="11" alt="" /> UK</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag05.png' %}" width="16" height="11" alt="" /> USA</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag06.png' %}" width="16" height="11" alt="" /> DE</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag07.png' %}" width="16" height="11" alt="" /> FR</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag08.png' %}" width="16" height="11" alt="" /> RUS</a></li>
                                    <li><a href="#"><img src="{% static 'images/flag09.png' %}" width="16" height="11" alt="" /> FR</a></li>
                                </ul>
                            </div>
                            <div class="valuta">
                                <a class="opener" href="#">RUB</a>
                                <ul class="drop">
                                    <li><a href="#">RUB</a></li>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                    <li><a href="#">CFG</a></li>
                                    <li><a href="#">JNP</a></li>
                                </ul>
                            </div>
                            {% endcomment %}
                            {% endif %}
                        </div>

                    <div class="wrapper-content">
                        <div id="header">
                            <div class="top-row">
                                <a class="logo" href="/">{{ ci.site_title }}</a>
                                <strong style="float: left;color: #fbf9fa;padding-left: 200px;padding-top: 5px;">{% now "r" %}</strong>
                                <form action="#" class="top-row-form">
                                    <fieldset>
                                        {% if request.user.is_authenticated %}
                                            <a class="mail" href="{% url "account:main" %}">{% if user.email %}{{ user.email }}{% else %}{{ user.username }}{% endif %}</a>
                                            <a class="ico" href="{% url 'account:billing' %}" style="position: relative; overflow: visible;">
                                                <img src="{% static 'images/ui_YaD.png' %}" width="22" height="18" alt="" />
                                                <strong class="gigcoin_count">{{ gigcoin_count }}</strong>
                                            </a>
                                            <a class="ico" href="{% url 'account:mailbox' %}" style="position: relative; overflow: visible;">
                                                <img src="{% static 'images/ui_Message.png' %}" width="22" height="18" alt="" />
                                                {% if mailbox_count %}<strong class="mail_count">{{ mailbox_count }}</strong>{% endif %}
                                            </a>

                                        <a class="ico" href="{% url 'contents:favorite_list' %}"><img src="{% static 'images/ui_FavoritsBig.png' %}" width="18" height="36" alt="{% trans 'favorite profiles' %}" title="{% trans 'favorite profiles' %}" /></a>
                                        <a class="ico" href="{% url 'contents:bookmark_list' %}"><img src="{% static 'images/ui_Bookmark.png' %}" width="18" height="18" alt="{% trans 'bookmark on dates' %}" title="{% trans 'bookmark on dates' %}" /></a>
                                        {% endif %}
                                        {% if request.user.is_authenticated %}<a class="ico" href="{% url "logout" %}"><img src="{% static 'images/ui_Exit.png' %}" width="19" height="18" alt="" title="{% trans 'Log out' %}" /></a>
                                        {% else %}<a class="ico" href="{% url "signin" %}"><img src="{% static 'images/ui_Exit.png' %}" width="19" height="18" alt="" title="{% trans 'Sign In' %}" /></a>{% endif %}
                                        <div id="add_gigdate">
                                            <span id="left_gigdate"></span>
                                            <span id="right_gigdate">{% trans 'Add dates' %}</span>

                                            <div id="add_gigdate_list">
                                                <a href="{% url "gigdate:add_gigdate" %}">{% trans 'Gig-date' %}</a>
                                                <a href="{% url "gigdate:add_barter" %}">{% trans 'Gig-barter' %}</a>
                                                <a href="{% url "gigdate:add_tender" %}">{% trans 'Gig-tender' %}</a>
                                            </div>
                                        </div>


                                        {% comment %}
                                        <select id="action-select" class="red-select">
                                            <option value="0">Добавить</option>
                                            <option value="1">Гиг-дату</option>
                                            <option value="2">Бартер</option>
                                            <option value="3">Сделка</option>
                                        </select>
                                        {% endcomment %}
                                    </fieldset>
                                </form>
                            </div>
                            <div class="nav-holder">
{#                                <a class="request" href="#">Оформить заявку</a>#}
                                <ul class="nav">
                                    {% for i in menus.main_menu %}
                                        <li {% if i.item.slug == page.slug %} class="active"{% endif %}><a href="{{ i.item.get_page_url }}">{{ i.title }}</a></li>
                                    {% endfor %}
                                    <li><a href="{% url 'home' %}">{% trans 'Gig-dates' %}</a></li>
                                    <li><a href="{% url 'home_two' 'tender' %}">{% trans 'Gig-tenders' %}</a></li>
                                    <li><a href="{% url 'home_two' 'barter' %}">{% trans 'Gig-barters' %}</a></li>
                                    <li><a href="{% url 'last_all' %}">{% trans 'Last added' %}</a></li>
                                    <li><a href="{% url "users:main" %}">{% trans 'Users' %}</a></li>
                                    <li><a href="{% url "contents:news" %}">{% trans 'News' %}</a></li>
                                    <li><a href="{% url "contents:faqs" %}">{% trans 'FAQ' %}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="main">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="w1">
                <div class="w2">
                    <div class="footer-content">
                        {% footer_menu %}

                    </div>
                        <div class="copyright">
                            © 2015 GIGCENTER All Rights Reserved • <a href="/info/page/Terms_9/">Terms</a> • <a href="/info/page/Privacy_4/">Privacy</a>
                        </div>
                </div>
            </div>
        </div>
        {% block popup %}
            {% if not request.user.is_authenticated %}
{#                {% include 'elements/signup_popup.html' %}#}
            {% else %}
                <div class="popup-holder" id="input-message-popup" style="display: none;">
                    <div class="bg"></div>
                    <div class="popup">
                        <fieldset id="popup_inner" class="block message">
                            <a href="#" class="close"><span class="icon-close" aria-hidden="true"></span></a>
                            <h1>{% trans 'Ticket' %}</h1>
                            forma
                        </fieldset>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

    <a href="{% url 'contents:support' %}" id="feedback_button"><img src="{% static 'images/feedback_button.png' %}"></a>




        <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
        <!--[if lt IE 9]><script type="text/javascript" src="{% static 'js/pie.js' %}"></script><![endif]-->

{#        {% compress js %}#}
{#            <script type="text/javascript" src="{% static 'js/inputs.js' %}"></script>#}
            <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/ui.select.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/ui.checkbox-radio.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
{#            <script type="text/javascript" src="{% static 'js/jquery.ui.datepicker-ru.js'%}"></script>#}
            <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/register_by_email.js' %}?1"></script>
            <script type="text/javascript" src="{% static 'js/signin_signup_rememberpassword.js' %}?01"></script>
            <script type="text/javascript" src="{% static 'js/messages.js' %}?01"></script>
            <script type="text/javascript" src="{% static 'js/jquery.form.js' %}?01"></script>
            <script type="text/javascript" src="{% static 'js/jquery.main.js' %}?020"></script>




{#        {% endcompress %}#}

        {% block extended_js %}{% endblock %}

<div id="dialog-form" title=""></div>
{#    {% if request.user.is_authenticated %}{% form_ticket %}{% endif %}#}
            <div class="popup-message" id="favorit">
            <div class="visual"><img src="{% static 'images/robot.jpg' %}" width="58" height="58" alt="image description" /></div>
            <div class="holder">
                <div class="name">GIGCENTER</div>
                <div id="message_text"></div>
            </div>
        </div>
    {% autoescape off %}{{ site.footer }}{% endautoescape %}
    </body>
</html>