{% extends 'base.html' %}
{% load staticfiles i18n user_tag %}

{% block extended_js %}
    <script>
    $('.main-calendar-wrapper .opener-filter').click(function(){
        $(".main-calendar-wrapper .filter-form").slideToggle(300);

        if($(this).text()=='{% trans 'Show filters' %}'){
            $(this).text('{% trans 'Hide filters' %}');
        }else{
            $(this).text('{% trans 'Show filters' %}');
        }

        return false;
    });
    </script>
{% endblock %}

{% block content %}
    <div class="main-calendar-wrapper open-filter-form">
        <div class="top-row">
            <div class="block">
                {% if type_date %}
                <div class="date-holder">
                    <a class="prev" href="{% url 'home_month' prev_month|date:"Y" prev_month|date:"n" type_date %}"></a>
                    <a class="next" href="{% url 'home_month' next_month|date:"Y" next_month|date:"n" type_date %}"></a>
                    <div class="holder">
                        <span>{{ tomonth|date:"F" }}</span>
                    </div>
                </div>
                <div class="date-holder">
                    <a class="prev" href="{% url 'home_month' prev_years|date:"Y" prev_years|date:"n" type_date %}"></a>
                    <a class="next" href="{% url 'home_month' next_years|date:"Y" next_years|date:"n" type_date %}"></a>
                    <div class="holder">
                        <span>{{ tomonth|date:"Y" }}</span>
                    </div>
                </div>
                {% else %}
                <div class="date-holder">
                    <a class="prev" href="{% url 'home_month_dates' prev_month|date:"Y" prev_month|date:"n" %}"></a>
                    <a class="next" href="{% url 'home_month_dates' next_month|date:"Y" next_month|date:"n" %}"></a>
                    <div class="holder">
                        <span>{{ tomonth|date:"F" }}</span>
                    </div>
                </div>
                <div class="date-holder">
                    <a class="prev" href="{% url 'home_month_dates' prev_years|date:"Y" prev_years|date:"n" %}"></a>
                    <a class="next" href="{% url 'home_month_dates' next_years|date:"Y" next_years|date:"n" %}"></a>
                    <div class="holder">
                        <span>{{ tomonth|date:"Y" }}</span>
                    </div>
                </div>
                {% endif %}
                {% if not workaround %}<a class="opener-filter" href="#">Hide filters</a>{% endif %}
            </div>
            <div class="statistics">
                {% trans 'Total dates' %}
                <span class="total">{% if workaround %}{{ workaround_day }}{% else %}{{ object_list.count }}{% endif %}</span>
            </div>
        </div>
        {% if not workaround %}
        <form class="filter-form search-filter" action="{% url 'gigdate:filter_day' %}" method="post" style="display: block;">
            {% csrf_token %}
            <input type="hidden" value="{{ request.META.PATH_INFO }}" name="httpreferer">
            <fieldset>
{#                <span class="hint"><span><em></em>{% trans '#Справка Место первого выступления' %}</span></span>#}
                <div class="row">
                    <div class="country">

                        {{ filterform.country }}
                    </div>
                    {% if not type_date == 'tender' %}<div class="country">
                        {{ filterform.country_artist }}
                    </div>{% endif %}
                    <div class="country">
                        {{ filterform.ganre }}
                    </div>
                    <div class="country">
                        <input type="submit" class="search-btn" value="{% trans "#Искать" %}" title="{% trans "Search" %}" />
                    </div>

                </div>
                <div class="clear"></div>
                <div class="row">

                    {% if not type_date == 'tender' %}<div class="country">
                        <label>{{ filterform.second_date }}{% trans 'Only second dates' %}</label>
                    </div>
                </div>{% endif %}
            </fieldset>
        </form>
        {% endif %}
    </div>
    {% if workaround %}
        {% blocktrans %}
            The list of posted Gig – tenders on Gigcenter is no longer visible according to the privacy policy
            additions and numerous wishes from owners of Venue profiles.<br><br>

            The access for every single Gig – tenders could be given with the direct link from personal invitation.
        {% endblocktrans %}
    {% endif %}

    {% if second_dates %}
    <div class="line2"></div>
    <div class="clear"></div>
    <div class="tab active-tab">
        <div class="calendar-events-wrapper">
            <a class="prev end-list" href="#"></a>
            <a class="next" href="#"></a>
            <span class="shadow-l"></span>
            <span class="shadow-r"></span>
            <div class="events-holder">
                <ul class="list">
                    {% for d in second_dates %}
                        <li>
                            <div class="date"><a href="{{ d.get_absolute_url_view }}">{{ d.dates }}</a></div>
                                <span class="visual">
                                    <img src="{% if d.username_child.avatar %}{{ MEDIA_URL }}{{ d.username_child.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" width="58" height="58" alt="{{ d.username_child }}" title="{{ d.username_child }}" />
                                    <i title="{% trans 'second date in:' %} {{ d.second_country }}, {{ d.second_city }}">{{ d.second_country }}</i>
                                </span>
                                <span class="text-holder">
                                    <span class="name"><span><a href="{{ d.username_child.get_absolute_url }}" class="holder" title="{{ d.username_child }}">{{ d.username_child|slice:":25" }}</a></span> </span> {# <span class="star">&nbsp;</span> #}
                                    <span class="city">
                                        {% if d.username_child.country.width != '0' or d.username_child.country.height != '0' %}<div class="flag_country" style="background-position: -{{ d.username_child.country.width }}px -{{ d.username_child.country.height }}px;"></div>{{ d.username_child.country }}{% endif %}
                                        {{ d.city }}</span>
                                    <span class="text">{% for i in d.username_child.genre.all|slice:":5" %}{{ i }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                </span>

                                {% comment %}
                                <div class="popup-text">
                                    <div class="row">
                                        <div class="col">
                                            <a class="book" href="#">&nbsp;</a>
                                            <a class="red-btn" href="#"><span>Book it!</span></a>
                                        </div>
                                        <div class="holder">
                                            Гонорар: от 800$ <a href="#">« условия</a>
                                        </div>
                                    </div>
                                </div>
                                {% endcomment %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}


    <ul class="inner-tab-holder">
{#        <li class="active"><a href="{% url "index_gigdate" %}">{% trans '#Календарь' %}</a></li>#}
{#        <li><a href="{% url "index_tender" %}">{% trans '#Тендеры' %}</a></li>#}
{#        <li><a href="{% url "index_barter" %}">{% trans '#Бартеры' %}</a></li>#}
    </ul>

    <div class="clear"></div>

    <div class="calendar-table" style="">
        <table>
            {% for d0, value in day_list.items %}
                <tr>
                {% for val in value %}
                    <td{% if val.is_past %} class="transparent"{% endif %}>
                    {% if workaround %}<div class="date-row">
                        <span class="date">{{ val.myweeks|upper }}</span></div>
                        <ul class="list"><li>HIDDEN</li></ul>
                    {% elif val.obj %}
                        <div class="date-row">
                            <span class="date">{{ val.myweeks|upper }}</span>
                            {% if type_date %}
                                <a class="num" href="{% url 'date_day' val.dates.year val.dates.month val.dates.day type_date %}">{{ val.dcount }}</a>
                            {% else %}
                                <a class="num" href="{% url 'date_day' val.dates.year val.dates.month val.dates.day 'gigdate' %}">{{ val.dcount }}</a>
                            {% endif %}
                        </div>
                        <ul class="list">
                            {% for d1 in val.obj %}
                                {% for d2 in d1|slice:":5" %}
                                    <li>
                                    {% if d2.username_child.country.width != '0' or d2.username_child.country.height != '0' %}<div class="flag_country" style="background-position: -{{ d2.username_child.country.width }}px -{{ d2.username_child.country.height }}px"></div>{% endif %}
                                    <a style="width: {% if weekday_count == 6 %}105px{% else %}138px{% endif %}" title="{{ d2.username_child }}" class="name" href="{{ d2.get_absolute_url_view }}">
                                    {{ d2.username_child.nickname|slice:":18" }}</a>{% if d2.second_country %} <img class="twodate" title="{% trans 'This is a second date' %}" src="{% static "images/ui_2Date.png" %}" />{% endif %}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="date-row">
                            <span class="date">{{ val.myweeks|upper }}</span>
                        </div>
                    {% endif %}
                    </td>

                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>



{% endblock %}