{% extends 'base.html' %}
{% load static i18n  %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>{% trans 'Are you sure you want to delete bookmarks' %} "{{ object.date_all.dates }} {% trans 'from' %} {{ object.date_all.username_child }}"?</p>
    <input type="submit" value="{% trans 'Confirm' %}" />
</form>
{% endblock %}