{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="main-wrapper">
        <div class="content nowidth">
            <div class="table-filter">
                <div class="total">{% trans 'All bookmarks' %} <span class="red">{{ page_obj.paginator.count }}</span></div>
            </div>
            <table class="table">
                {% for d in object_list %}
                    <tr {% cycle 'class="even"' '' %}>
                        <td style="width: 50px;">
                            <span class="date">{{ d.date_all.dates|date:"d" }}<br/>{{ d.date_all.dates|date:"F" }}{% if d.date_all.second_country %}<br><img src="{% static 'images/ui_2Date.png' %}" />{% endif %}</span>
                        </td>
                        <td>
                            <div class="min-info">
                                <div class="visual"><img src="{% if d.date_all.username_child.avatar %}{{ MEDIA_URL }}{{ d.date_all.username_child.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" width="58" height="58" alt=""/></div>
                                <div class="holder">
                                    <div class="name"><a href="{% if tp == 'barters' %}{{ d.date_all.username_child.get_absolute_url }}{% else %}{{ d.date_all.username_child.get_absolute_url }}{% endif %}">{{ d.date_all.username_child }}</a></div>
                                    <ul class="list">
                                        <li>{% if d.country.width != '0' or d.country.height != '0' %}<div class="flag_country" style="background-position: -{{ d.date_all.username_child.country.width }}px -{{ d.date_all.username_child.country.height }}px"></div>{% endif %}{{ d.date_all.username_child.country.title }}, {{ d.date_all.username_child.city.title }}</li>
                                        <li>{% for pf in d.date_all.username_child.genre.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="last" style="width: 150px;">
                            <div class="bottom-wrap">
{#                                <span class="premium"></span>#}
                                <a class="red-btn" href="{{ d.date_all.get_absolute_url_view }}">
                                    <span>{% trans 'Book' %} {{ d.date_all.get_type_date_display|lower }}</span>
                                </a>
                            </div>
                        </td>
                        <td><a href="{% url 'contents:bookmark_delete' d.pk %}">x</a></td>
                    </tr>
                {% empty %}
                    <tr><td style="text-align: center">{% trans 'Dates not found' %}</td></tr>
                {% endfor %}
            </table>
            {% if is_paginated %}<div class="pagination pagination-centered">
                <ul>
                    {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

                    {% for p in page_obj.paginator.page_range %}
                        <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
                </ul>
            </div>{% endif %}

        </div>

    </div>
    <div class="blue-line"></div>
{% endblock %}