{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="main-wrapper">
        <div class="content">
            {% block section_content %}
                <h1>{{ page.name }}</h1>
                <div class="gray-line" style="margin-bottom:15px;"></div>
                <div class="article">
                   {{ page.text|safe }}
                </div>
            {% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>
    </div>
{% endblock %}