{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block content %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="main-wrapper">
        <div class="content">
            <ol class="faq_list">
                {% for faq in object_list %}{% if faq.faq_category.all %}<li><h2>{{ faq.title }}</h2>
                    <ul class="faq_link">{% for rqst in faq.faq_category.all %}<li><a href="{{ rqst.get_absolute_url }}">{{ forloop.counter }}. {{ rqst.name }}</a></li>{% endfor %}</ul>
                </li>{% endif %}{% endfor %}
            </ol>
        </div>
        <div class="sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>
    </div>
{% endblock %}