{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block content %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="main-wrapper">
        <div class="content">
            {% block section_content %}
                {% for faq in items %}
                <h1>{{ faq.name }}</h1>
                <div class="article">
                   {{ faq.min_text|safe }}
                <br><a href="{{ faq.get_absolute_url }}">{% trans 'Read more...' %}</a>
                </div>

                <div class="gray-line" style="margin-bottom:15px;"></div>
                {% endfor %}
            {% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>
    </div>
{% endblock %}