{% extends 'base.html' %}
{% load static i18n  %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>{% trans 'Are you sure you want to delete favorites' %} "{{ object.get_profile }}"?</p>
    <input type="submit" value="{% trans 'Confirm' %}" />
</form>
{% endblock %}