{% extends 'base.html' %}
{% load static i18n  %}

{% block content %}
<div class="list_users">
    <div id="left">
        <div class="head">
            <div class="bottom">
                <h3>{% trans 'Total Favorites' %}: {% if page_obj.paginator.count %}{{ page_obj.paginator.count }}{% else %}0{% endif %}</h3>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content">
            <table>
            {% for user in object_list %}
                <tr>
                    <td style="width: 20px;">{% if user.get_profile.country.width != '0' or user.get_profile.country.height != '0' %}<div class="flag_country" style="background-position: -{{ user.get_profile.country.width }}px -{{ user.get_profile.country.height }}px;" title="{{ user.get_profile.country.title }}"></div>{% endif %}</td>
                    <td><div class="nickname"><a href="{{ user.get_profile.get_absolute_url }}">{{ user.get_profile }}</a></div></td>
                    <td><div class="nickname"></div></td>
                    <td><div class="genre">
                        <b>{{ user.get_type_data_display }}</b>
                        {% if user.agent and user.agent.type_agent.all %}<b> type:</b> {% for type_agent in user.agent.type_agent.all %}{{ type_agent }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
                        {% if user.get_profile.genre.all %}<b> genre:</b> {% for genre in user.get_profile.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
                    </div></td>
                    <td style="width: 20px;"><a href="{% url 'contents:favorite_delete' user.pk %}">x</a></td>
                </tr>
            {% empty %}
                <tr><td style="text-align: center">{% trans 'Favorites not found' %}</td></tr>
            {% endfor %}
            </table>

            {% if is_paginated %}<div class="pagination pagination-centered">
                <ul>
                    {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

                    {% for p in page_obj.paginator.page_range %}
                        <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
                </ul>
            </div>{% endif %}
        </div>
    </div>
    <div id="right"><!--right--></div>
</div>
{% endblock %}