{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no">

	<title>{% if seo.title %}{{ seo.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% else %}{{ site.description }}{% endif %}" />

	<link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'landingpage/css/page.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/css/screen.css' %}">
	<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="{% static 'landingpage/js/page.js' %}"></script>
</head>
<body>
	<nav>
		<div class="wrap">
			<a href="{% url 'home' %}" id="logo">{% trans 'gigcenter' %}</a>
			<div id="toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul>
				<li><a href="">{% trans 'For artists & customers' %}</a></li>
				<li><a href="">{% trans 'About' %}</a></li>
				<li><a href="">{% trans 'How booking works' %}</a></li>
				<li><a href="">{% trans 'How to start' %}</a></li>
				<li><a href="{% url 'signin' %}" class="button">{% trans 'sign up' %}</a></li>
			</ul>
		</div>
	</nav>
	<header>
		<div class="bg" style="background-image: url({% static 'landingpage/css/img/header.png' %});"></div>
		<div class="bg" style="background-image: url({% static 'landingpage/css/img/header2.png' %});"></div>
		<div class="wrap">
			<div class="con">
				<div class="slider">
					<div class="change">
						<div class="item active"></div>
						<div class="item"></div>
					</div>
					<div class="slide" style="display: block;">
						<h1>{% trans 'Find partners in the electronic music booking scene worldwide.' %}</h1>
						<p>
                            {% blocktrans %}Sell your available for bookings dates to thousands of partners from all	over the world. Manage your booking activities in your personal account.{% endblocktrans %}
                        </p>
					</div>
					<div class="slide">
						<h1>{% trans 'Sign your deals securely<br>in just "2 clicks"' %}</h1>
						<p>
                            {% blocktrans %}END TO END management platform booking service for<br>electronic music artists, booking agents and talent buyers.{% endblocktrans %}
                        </p>
					</div>
				</div>
				<div class="ui">
					<a href="{% url 'signin' %}" class="button big orange">{% trans 'Get Started' %}</a>
					<a href="{% url 'signin' %}" class="button big">{% trans 'login' %}</a>
				</div>
			</div>
		</div>
	</header>
	<section id="about">
		<div class="wrap">
			<div class="left">
				<div class="head active">
					<h1>{% trans 'For artists & Booking agents' %}</h1>
					<div class="tags">{% trans 'DJ`s | LIVE PA | Electronic Music Artists | Booking Agents | Managers' %}</div>
				</div>
				<div class="head">
					<h1>{% trans 'For customers' %}</h1>
					<div class="tags">{% trans 'Promoters | Clubs | Bars | Restaurants | Festivals | Event Agencies Conferences | Presentations | Weddings | Other Public or Private Events' %}</div>
				</div>
			</div>
			<div class="right">
				<button class="blue selected">{% trans 'Artists' %}</button>
				<button class="blue">{% trans 'Customers' %}</button>
			</div>
			<div class="content">
				
				<div class="item active">
					<ul>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/1.png' %});"></div>{% trans 'Create Artist or Agent profiles<br> with the function of adding<br> multi-artist profiles' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/2.png' %});"></div>{% trans 'Send applications using<br> Gig-tenders to participate<br>in events' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/3.png' %});"></div>{% trans 'Manage your activities in<br> convenient & structured<br> personal account' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/4.png' %});"></div>{% trans 'Add & sell your Gig-dates<br> available for bookings' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/5.png' %});"></div>{% trans 'Post Gig-barters for<br> cross-booking' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/6.png' %});"></div>{% trans 'Accept requests, create deals<br> and sign contracts' %}</li>
					</ul>
				</div>
				
				<div class="item">
					<ul>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/7.png' %});"></div>{% trans 'Create Venue or Agent profile<br> with the function of adding<br> multi-venue profiles' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/2.png' %});"></div>{% trans 'Add Gig-tenders to find best<br> artists for your event' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/3.png' %});"></div>{% trans 'Manage your activities in<br> convenient & structured<br> personal account' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/4.png' %});"></div>{% trans 'Find & book available<br>Gig-dates of artists' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/8.png' %});"></div>{% trans 'Track available dates and<br> profiles of your favorite artists' %}</li>
						<li><div class="icon" style="background-image: url({% static 'landingpage/css/img/icons/6.png' %});"></div>{% trans 'Send requests, confirm deals<br> and sign contracts' %}</li>
					</ul>
				</div>
				
			</div>
		</div>
	</section>
	<section id="slider">
		<div class="wrap">
			<div class="slider">
				<div class="con">
					
					<div class="slide active">
						<div class="left v1">
							<div class="txt">
							<div class="read_more">
								<h2>{% trans 'Structured calendars of Gig-dates,<br> Gig-barters and Gig-tenders with 2nd dates lane' %}</h2>
							<p>
                                {% blocktrans %}All the Gig-dates are added to the Gig-dates calendar on the top-down principle<br>according to the date when they were added. With the useful filters it is possible to find the right Gig-date of the Artist. To view all the Gig-dates on a specific date in the top right corner of each box of the calendar there is a counter of the total number.{% endblocktrans %}
                            </p>
                            <p>
                                {% blocktrans %}All the Gig-dates which are being sold as a "hot" second dates are places in the section<br> of second dates lane from left to right according to the time when they were added.<br>Gig-barter and Gig-tender calendars are same structured.{% endblocktrans %}
                            </p>
							</div>
							</div>
						</div>
						<div class="right ">
							<img class="v1" src="{% static 'landingpage/upload/slider/1.png' %}" alt="">
						</div>
					</div>
					
					<div class="slide">
						<div class="left v2">
							<div class="txt">
							<div class="read_more">
							<h2>{% trans 'Easy to add<br> Gig-date/barter/tender' %}</h2>
							
							<p>
                                {% blocktrans %}There is a button "Add dates: Gig-date,<br> Gig-barter, Gig-tender" which is in the top right corner. It is easy to fill out the information in the corresponding boxes and click on the<br>"Create date" button.{% endblocktrans %}
                            </p>
								</div>
							</div>
						</div>
						<div class="right ">
							<img class="v1" src="{% static 'landingpage/upload/slider/2.png' %}" alt="">
						</div>
					</div>
					
					<div class="slide">
						<div class="left v2">
							<div class="txt">
							<div class="read_more">
							<h2>{% trans 'Easy to request<br>Gig-date/barter/tender' %}</h2>
						
							<p>
                                {% blocktrans %}All the detailed requests can be<br>sent with 1 click! You need just to find a right Gig-date/barter/tender and click on the<br>"Book" button.{% endblocktrans %}
                            </p>
							</div>
							</div>
						</div>
						<div class="right ">
							<img class="v1" src="{% static 'landingpage/upload/slider/3.png' %}" alt="">
						</div>
					</div>
					
					<div class="slide">
						<div class="left v2">
							<div class="txt">
							<div class="read_more">
							<h2>{% trans 'Easy to accept request,<br> confirm deal and create<br>a contract' %}</h2>
						
							<p>
                                {% blocktrans %}With only one click it is possible to accept<br>the upcoming Request. With only once click<br>it is possible to confirm the incoming Request.<br>When the Request has been accepted and confirmed, the Deal with contract is created automatically.{% endblocktrans %}
                            </p>
							</div>
							</div>
						</div>
						<div class="right ">
							<img class="v1" src="{% static 'landingpage/upload/slider/4.png' %}" alt="">
						</div>
					</div>
					
					<div class="slide">
						<div class="left v3">
							<div class="txt">
							<div class="read_more">
							<h2>{% trans 'Easy to communicate in private chat<br>from the "request" to "confirmed deal"' %}</h2>
						
							<p>
                                {% blocktrans %}You can easily ask the second party about all the details<br>of the Request. The message just needs to be sent in the chat<br>or necessary files should be attached to the message and click the "Send" button.{% endblocktrans %}
                            </p>
                            <p>
                                {% blocktrans %}All message history is saved and is available to the parties of the Requests. The Deal, request and chat messages are private<br>and not available for other Users.{% endblocktrans %}
                            </p>
								</div>
							</div>
						</div>
						<div class="right">
							<img src="{% static 'landingpage/upload/slider/5.png' %}" alt="">
						</div>
					</div>
					
					<div class="slide">
						<div class="left v4">
							<div class="txt">
							<div class="read_more">
							<h2>{% trans 'Convenient personal account' %}</h2>
							
							<p>
                                {% blocktrans %}After submitting a registration form and signing up to your<br> account, you get access to your Personal account.{% endblocktrans %}
                            </p>
                            <p>
                                {% blocktrans %}This is your personal account, available only  to you, where<br>you can manage  all your profiles, view all the added Gig-dates/<br>barters/tenders, track all the inbox and outbox Requests, Deals<br>that have been created, all your Gigcoins transactions as well<br>as inbox and outbox messages.{% endblocktrans %}
                            </p>
								</div>
							</div>
						</div>
						<div class="right">
							<img class="v1" src="{% static 'landingpage/upload/slider/6.png' %}" alt="">
						</div>
					</div>
					
				</div>
				<ul>
					<li class="active">1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="slider2">
		<div class="wrap">
			<div class="table">
				<div class="ui">
					<h2>{% trans 'End to end' %}</h2>
					<span>{% trans 'deal and contract creating process step using:' %}</span>
					<div class="buttons">
						<button class="blue selected">{% trans 'Gig-date' %}</button>
						<button class="blue">{% trans 'Gig-barter' %}</button>
						<button class="blue v1">{% trans 'Gig-tender' %}</button>
					</div>
				</div>
				<div class="gif">
					<div class="slide active"><img src="{% static 'landingpage/upload/slider2/date.gif' %}" alt=""></div>
					<div class="slide"><img src="{% static 'landingpage/upload/slider2/barter.gif' %}" alt=""></div>
					<div class="slide"><img src="{% static 'landingpage/upload/slider2/tender.gif' %}" alt=""></div>
				</div>
				<div class="text">
					<p class="active">
                        {% blocktrans %}Before accepting or confirming the request both, Artist and Customer, can clarify any details in private chat which is automatically opened with the sent request. The deal and contract is automatically created in according to data from Basic profiles, Gig-date information, Artist and Venue profiles.{% endblocktrans %}
                    </p>
					<p>
                        {% blocktrans %}Before accepting or confirming the request both, Artist-1 and Artist-2, can clarify any details in private chat which is automatically opened with the sent request.{% endblocktrans %}
                    </p>
					<p>
                        {% blocktrans %}Before accepting or confirming the request both, Artist and Customer, can clarify any details in private chat which is automatically opened with the sent request.{% endblocktrans %}
                    </p>
				</div>
			</div>
		</div>
	</section>
	<section id="steps">
		<div class="wrap">
			<h2>{% trans 'To run your booking activity in "2 clicks" you just need to' %}</h2>
			<div class="step">
				<div class="icon confirm"></div>
				<h2>{% trans 'Confirm your email' %}</h2>
				<p>
                    {% blocktrans %}to create and verify your<br>personal account{% endblocktrans %}
                </p>
			</div>
			<div class="step">
				<div class="icon profile"></div>
				<h2>{% trans 'Fill in basic profile' %}</h2>
				<p>
                    {% blocktrans %}to take part in deals and sign contracts<br>from your real name{% endblocktrans %}
                </p>
			</div>
			<div class="step">
				<div class="icon create"></div>
				<h2>{% trans 'Create your profiles' %}</h2>
				<p>
                    {% blocktrans %}informatively request and add<br> Gig-dates/barters/tenders, confirm detailed deals<br> and sign generated contracts{% endblocktrans %}
                </p>
			</div>
		</div>
	</section>
	<section id="get_started">
		<div class="wrap">
			<h2>{% trans 'And now simplify and save your<br>valuable time:' %}</h2>
			<ul>
				<li>
					<div class="icon"></div>
					<p>
                        {% blocktrans %}Add your first Gig-date/barter /tender and with <b>two clicks</b> add your next Gig-dates /barters/tenders{% endblocktrans %}
                    </p>
				</li>
				<li>
					<div class="icon"></div>
					<p>
                        {% blocktrans %}With one click confirm your requests and deals, create contracts, discuss details in private chats of your requests{% endblocktrans %}
                    </p>
				</li>
				<li>
					<div class="icon"></div>
					<p>
                        {% blocktrans %}With one click request available Gig-dates/barters /tenders for booking{% endblocktrans %}
                    </p>
				</li>
				<li>
					<div class="icon"></div>
					<p>
                        {% blocktrans %}With one click add best profiles and Gig-dates/barters/tender in your bookmarks and favorites{% endblocktrans %}
                    </p>
				</li>
			</ul>
			<center>
				<a href="{% url 'signin' %}" class="button orange">{% trans 'Get Started' %}</a>
			</center>
		</div>
		<footer>
			<div class="wrap">{% trans 'Copyright © 2015 GigCenter' %}</div>
		</footer>
	</section>
</body>
</html>