{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="main-wrapper">
        <div class="content">
{#            <h1>{% trans "News" %}</h1>#}
{#            <div class="gray-line" style="margin-bottom:15px;"></div>#}
            <div class="article">
            {% for n in object_list %}
                <div class="news_block">
                    <div class="news_subject"><a href="{{ n.get_absolute_url }}">{{ n.name }}</a> <tt>| {{ n.create|date }}</tt></div>
                    <div class="news_prew">{% if n.images %}<img src="{{ MEDIA_URL }}{{ n.images }}" />{% endif %}{{ n.min_text|linebreaksbr  }}</div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
            {% if is_paginated %}<div class="pagination pagination-centered">
                <ul>
                    {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

                    {% for p in page_obj.paginator.page_range %}
                        <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
                </ul>
            </div>{% endif %}
            </div>

        </div>
        <div class="sidebar"></div>
    </div>
{% endblock %}