{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="blue-line" style="margin-bottom:30px;"></div>
    <div class="main-wrapper">
        <div class="content">
            {% block section_content %}
                <h1>{{ object.name }}</h1>
                <div class="gray-line" style="margin-bottom:15px;"></div>
                <div class="article">
                {% if object.images %}<img src="{{ MEDIA_URL }}{{ object.images }}" title="{{ object.name }}" alt="{{ object.name }}" style="float: left; margin: 0 12px 5px 0;" />{% endif %}
                   {{ object.text|safe }}
                </div>
            {% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>
    </div>
{% endblock %}