{% extends 'base.html' %}
{% load static i18n filename user_tag %}
{% block extended_js %}
    <script type="text/javascript" src="{% static 'lightbox/js/lightbox.js' %}"></script>
    <script>
    $(document).ready(function (){
        var disabledDays = [{% for aaa in gigdates %}"{{ aaa|date:"Y-m-d" }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
        $("#datepicker").datepicker({
            'minDate': 0,
            'maxDate': disabledDays[disabledDays.length -1],
            'dateFormat':'yy-mm-dd',
            beforeShowDay: function(date) {
                {# // Подсвечиваем даты у активных дней #}
                var m = date.getMonth(), d = ("0" + date.getDate()).slice(-2), y = date.getFullYear();
                for (i = 0; i < disabledDays.length; i++) {
                    if($.inArray(y + '-' + (m+1) + '-' + d,disabledDays) != -1) {
                        return [true, 'ui-state-active', ''];
                    }
                }{# // Скрываем все даты кроме активной #}
                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [ disabledDays.indexOf(string) == true ]
            },
            onSelect: function(dateText, inst) {
                window.location = '/account/rd/{{ artist.pk }}/'+ dateText+'/';
            }
        });

{#        $('a.lightbox').lightbox();#}
    });
    </script>
{% endblock %}
{#{% block extended_css %}<link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />{% endblock %}#}
{% block popup %}{% load mailbox_tags %}{% if request.user.is_authenticated and request.user != agent.user %}{% add_mailbox agent.user %}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<div class="contemt_artist">
    <div class="artist_left">
        <h1><small>{% trans 'Agent’s profile:' %}</small> {{ agent.nickname }}
            {% if request.user.is_authenticated and request.user != agent.user %}
                <a id="add_favorites" class="favorites" href="#" title="{% trans 'Add favorites' %}" rev="agent" rel="{{ agent.pk }}"></a>
                <a class="ico mailbox_open_modal" href="#" title="{% trans 'Message' %}"><img src="{% static 'images/ui_Message.png' %}" width="22" height="18" alt="" /></a>
            {% endif %}
        </h1>
        <div class="">
            <div class="left"><img src="{% if agent.avatar %}{{ MEDIA_URL }}{{ agent.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
            <div class="left ml20 w490">
                {% if agent.country.width != '0' or agent.country.height != '0' %}<div class="flag_country" style="background-position: -{{ agent.country.width }}px -{{ agent.country.height }}px;"></div>{% endif %}{{ agent.country.title }}, {{ agent.city.title }}<br>
                {% if agent.type_agent.all %}<b>{% trans 'Agent type' %}:</b> {% for type_agent in agent.type_agent.all %}{{ type_agent }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>{% endif %}
                {% if agent.jobs %}<b>{% trans 'Current place of work' %}:</b> {% if request.user.is_authenticated %}{{ agent.jobs }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
                {% if agent.address %}<b>{% trans 'Address' %}:</b> {% if request.user.is_authenticated %}{{ agent.address }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
                {% if agent.email %}<b>{% trans 'Public email' %}:</b> {% if request.user.is_authenticated %}{{ agent.email }} {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
                {% if agent.phone %}<b>{% trans 'Phone' %}:</b> {% if request.user.is_authenticated %}{{ agent.phone }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
                {% if agent.site.all %}<b>{% trans 'Web' %}:</b> {% if request.user.is_authenticated %}{% for site in agent.site.all %}<a href="http://{{ site.site }}/" target="_blank">{{ site.site }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            </div>
            <div class="clear"></div>
            <div class="artist_menu">
                <a href="#" rel="artists">{% trans 'Artist roster' %}</a>
                {% if clubs %}<a href="#" rel="clubs">{% trans 'Venue roster' %}</a>{% endif %}
                <a href="#" rel="dopinfo" class="active">{% trans 'Information' %}</a>
            </div>
            <div class="line"></div>
            <div class="clear"></div>
            <div id="user_dopinfo" class="nohide userinfo">
            {% autoescape off %}
                <p>
                {{ agent.info|linebreaksbr }}
                </p>
            {% endautoescape %}
            </div>

            <div id="user_artists" class="hide userinfo">
                {% if request.user.is_authenticated %}
                    <table class="artist_list">
                {% if artists %}
                    {% for artist in artists %}
                        <tr>
                            <td width="30">
                                {% if artist.country.width != '0' or artist.country.height != '0' %}<div class="flag_country" style="top:0px; background-position: -{{ artist.country.width }}px -{{ artist.country.height }}px;" title="{{ artist.country.title }}, {{ artist.city.title }}"></div>{% endif %}
                            </td>
                            <td width="200"><a href="{{ artist.get_absolute_url }}" class="anikname" title="{{ artist.nickname }}">{{ artist.nickname|slice:":18" }}{% if artist.nickname|letterscount > 20 %}<i class="last_letter">{{ artist.nickname|slice:"18:19" }}...</i>{% endif %}</a></td>
                            <td>{% for genre in artist.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td width="40"><!--<a href="#">12</a>--></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td style="text-align: center">{% trans 'Artists not found' %}</td></tr>
                {% endif %}
                </table>
                {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}
            </div>

            <div id="user_clubs" class="hide userinfo">
                {% if request.user.is_authenticated %}
                <table class="artist_list">
                {% if clubs %}
                    {% for club in clubs %}
                        <tr>
                            <td width="30">
                                {% if club.country.width != '0' or club.country.height != '0' %}<div class="flag_country" style="top:0px; background-position: -{{ club.country.width }}px -{{ club.country.height }}px;" title="{{ club.country.title }}, {{ club.city.title }}"></div>{% endif %}
                            </td>
                            <td width="200"><a href="{{ club.get_absolute_url }}" class="anikname" title="{{ club.nickname }}">{{ club.nickname|slice:":18" }}{% if club.nickname|letterscount > 20 %}<i class="last_letter">{{ club.nickname|slice:"18:19" }}...</i>{% endif %}</a></td>
                            <td>{% for genre in club.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td width="40"><!--<a href="#">12</a>--></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td style="text-align: center">{% trans 'Venues not found' %}</td></tr>
                {% endif %}
                </table>
                {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}
            </div>

        </div>




    </div>

    <div class="artist_right">
        <div class="right">{% trans 'Views' %}: <a>{{ agent.view }}</a></div>
        <div class="clear"></div>
        <div class="line"></div>

        {% if not request.user.is_authenticated %}
        <div style="width: 300px; margin: 0 auto; text-align: center;">
            <br><div class="btn-wrap">
                <span class="big-red-btn">

                    <a href="{% url 'signin' %}"><span>{% trans 'Get in roster' %}</span></a>
                </span><br>
            </div>
            <br>
            {% trans 'OR' %}
            <br><br>
            <div class="btn-wrap">
                <span class="big-green-btn">
                    <a href="{% url 'signin' %}"><span>{% trans 'Sign a contract' %}</span></a>
                </span>
            </div><br><div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        {% endif %}

        <div style="line-height: 25px;">
        <h2>{% trans 'User’s information' %}</h2>
        {% if request.user.is_authenticated %}
            <b>{{ agent.user.first_name }} {{ agent.user.last_name }}</b>
            {% if agent.user.country.width != '0' or agent.user.country.height != '0' %}<div class="flag_country" style="margin: 2px 5px; background-position: -{{ agent.user.country.width }}px -{{ agent.user.country.height }}px;" title="{{ agent.user.country.title }}, {{ agent.user.city.title }}"></div>{% endif %}<br>
        {% endif %}
        <strong>{% trans 'Registration' %}:</strong> {{ agent.user.date_joined|date }}<br>
{#            <strong>{% trans '#Последний вход' %}:</strong> {{ artist.user.last_login|date }}<br>#}
        <strong>{% trans 'Dates' %}:</strong> {{ agent.gigdetes_count }}<br>
        <strong>{% trans 'Deals' %}:</strong> {{ trade_count }}<br>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
{#            {% trans '#Станьте профессионалом:' %} <img src="{% static 'images/ui_ProBig.png' %}" class="right" />#}
{#            <div class="clear"></div>#}
{#            <div class="line"></div>#}
{#            {% trans '#Расскажите о себе всем:' %} <img src="{% static 'images/ui_Banner.png' %}" class="right" />#}
{#            <div class="clear"></div>#}
{#            <div class="line"></div>#}
    </div>

</div>
{% endblock %}