{% extends 'base.html' %}
{% load static i18n filename thumbnail %}
{% block extended_js %}
    <script type="text/javascript" src="{% static 'lightbox/js/lightbox.js' %}"></script>
    <script>
    $(document).ready(function (){
        var disabledDays = new Array({% for aaa in gigdates %}"{{ aaa|date:"Y-n-d" }}"{% if not forloop.last %}, {% endif %}{% endfor %});
        $("#datepicker").datepicker({
            'minDate': 0,
            'maxDate': disabledDays[disabledDays.length -1]+1,
            'dateFormat':'yy-mm-dd',
            beforeShowDay: function(date) {
                {# // Подсвечиваем даты у активных дней #}
                var m = date.getMonth(), d = ("0" + date.getDate()).slice(-2), y = date.getFullYear();
                for (var i = 0; i < disabledDays.length; i++) {
                    if($.inArray(y + '-' + (m+1) + '-' + d,disabledDays)!=-1) {
                        return [true, 'ui-state-active'];
                    }
                }{# // Скрываем все даты кроме активной #}
                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [ disabledDays.indexOf(string) == true ]
            },
            onSelect: function(dateText, inst) {
                window.location = '/d/go/gigdate/{{ artist.pk }}/'+ dateText+'/';
            }
        });

        $('a.lightbox').lightbox();
    });
    </script>
{% endblock %}
{% block extended_css %}<link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />{% endblock %}
{% block popup %}{% load mailbox_tags %}{% if request.user.is_authenticated and request.user != artist.user %}{% add_mailbox artist.user %}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<div class="contemt_artist">
    <div class="artist_left">
        <h1><small>{% trans "Artist's Profile:" %}</small> {{ artist.nickname }}
        {% if request.user.is_authenticated and request.user != artist.user %}
            <a id="add_favorites" class="favorites" href="#" title="{% trans 'Add favorites' %}" rev="artist" rel="{{ artist.pk }}"></a>
            <a class="ico mailbox_open_modal" href="#" title="{% trans 'Message' %}"><img src="{% static 'images/ui_Message.png' %}" width="22" height="18" alt="" /></a>
        {% endif %}
        </h1>
        <div class="">
            <div class="left"><img src="{% if artist.avatar %}{{ MEDIA_URL }}{{ artist.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
            <div class="left ml20 w490">
                {% if artist.agent %}<b>{% trans 'Managed by' %}</b> <a href="{{ artist.agent.get_absolute_url }}">{{ artist.agent.nickname }}</a><br>{% else %}<b>{% trans 'Managed personally' %}</b><br>{% endif %}
                {% if artist.country.width != '0' or artist.country.height != '0' %}<div class="flag_country" style="background-position: -{{ artist.country.width }}px -{{ artist.country.height }}px;"></div>{% endif %}{{ artist.country.title }}, {{ artist.city.title }}<br />
                {% if artist.genre.all %}<b>{% trans 'Genre' %}:</b> {% for genre in artist.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />{% endif %}
                {% if artist.type_format.all %}<b>{% trans 'Format of the performance' %}:</b> {% for pf in artist.type_format.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />{% endif %}
                {% if artist.site.all %}<b>{% trans 'Web' %}:</b> {% if request.user.is_authenticated %}{% for site in artist.site.all %}<a href="http://{{ site.site }}/" target="_blank">{{ site.site }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
                {% if artist.label %}<b>{% trans 'Label' %}:</b> {{ artist.label }}<br>{% endif %}
                {% if artist.email %}<b>{% trans 'Public email' %}:</b> {% if request.user.is_authenticated %}{{ artist.email }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
                {% if artist.phone %}<b>{% trans 'Phone' %}:</b> {% if request.user.is_authenticated %}{{ artist.phone }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br>{% endif %}
            </div>
            <div class="clear"></div>

            <div class="artist_menu">

                <a href="#" rel="documents">{% trans 'Documents' %}</a>
                <a href="#" rel="biography" class="active">{% trans 'Biography' %}</a>
                <a href="#" rel="media">{% trans 'Media' %}</a>
                <a href="#" rel="photos">{% trans 'Images' %}</a>
            </div>
            <div class="line"></div>
            <div class="clear"></div>

            <div id="user_biography" class="nohide userinfo">
{#                {% if request.user.is_authenticated %}#}
                {% autoescape off %}<p>
                {{ artist.biography|linebreaksbr }}
                </p>{% endautoescape %}
{#                {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}#}
            </div>
            <div id="user_documents" class="hide userinfo">
                {% if request.user.is_authenticated %}
                    <p>
                    {% if artist.rider.all %}<b>{% trans 'Riders' %}:</b> {% for riders in artist.rider.all %}<a href="{{ MEDIA_URL }}{{ riders.file }}">{% trans 'Rider' %}{{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br />{% endif %}
                    {% if artist.dogovor %}<b>{% trans 'Booking contract' %}:</b> <a href="{{ MEDIA_URL }}{{ artist.dogovor }}">{% trans 'Contract' %}</a><br />{% endif %}
                </p>
                {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}
            </div>

            <div id="user_media" class="hide userinfo">
                {% if request.user.is_authenticated %}<p>
                    {% if artist.video %}<b>{% trans 'Video' %}:</b> <a href="http://{{ artist.video }}" target="_blank">{{ artist.video }}</a><br>{% endif %}
                    {% if artist.mix %}<b>{% trans 'Mix' %}:</b> <a href="http://{{ artist.mix }}" target="_blank">{{ artist.mix }}</a><br>{% endif %}
                    {% if artist.track %}<b>{% trans 'Track' %}:</b> <a href="http://{{ artist.track }}" target="_blank">{{ artist.track }}</a><br>{% endif %}
                    {% if artist.reliz %}<b>{% trans 'Release' %}:</b> <a href="http://{{ artist.reliz }}" target="_blank">{{ artist.reliz }}</a><br>{% endif %}
                </p>
                {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}
            </div>

            <div id="user_photos" class="hide userinfo">
                {% if request.user.is_authenticated %}{% if artist.images.all %}
                <ul class="choice-item">
                {% for ph in artist.images.all %}
                    <li>{% thumbnail ph.img "1000x700" as big %}
                        <a rel="lightbox[roadtrip]" href="{{ big.url }}" title="" style="height: inherit; padding: 2px">
                            {% thumbnail ph.img "120x120" crop="50% 10%" as im %}<img src="{{ im.url }}" />{% endthumbnail %}
                        </a>{% endthumbnail %}
                    </li>
                {% endfor %}
                </ul>
                <div class="clear"></div>

                {% else %}
                    {% trans 'Images not found' %}
                {% endif %}
                {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}
            </div>


        </div>
{#            <div><b>{% trans '#Похожие артисты' %}</b></div>#}
{#            <div class="line"></div>#}
{#            <div>{% trans '#Похожие артисты' %}</div>#}
    </div>

    <div class="artist_right">
        <div class="right">{% trans 'Views' %}: <a>{{ artist.view }}</a></div>
        <div class="clear"></div>
        <div class="line"></div>
        {% if not request.user.is_authenticated %}
        <div style="width: 300px; margin: 0 auto; text-align: center;">
            <br><div class="btn-wrap">
                <span class="big-red-btn">

                    <a href="{% url 'signin' %}"><span>{% trans 'Submit a request' %}</span></a>
                </span><br>
            </div>
            <br>
            {% trans 'OR' %}
            <br><br>
            <div class="btn-wrap">
                <span class="big-green-btn">
                    <a href="{% url 'signin' %}"><span>{% trans 'Make Your offer' %}</span></a>
                </span>
            </div><br><div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        {% endif %}

        <div style="line-height: 25px;">
        <h2>{% trans 'User’s information' %}</h2>
        {% if request.user.is_authenticated %}
            <b>{{ artist.user.first_name }} {{ artist.user.last_name }}</b>
            {% if artist.user.country.width != '0' or artist.user.country.height != '0' %}<div class="flag_country" style="margin: 2px 5px; background-position: -{{ artist.user.country.width }}px -{{ artist.user.country.height }}px;" title="{{ artist.user.country.title }}, {{ artist.user.city.title }}"></div>{% endif %}<br>
        {% endif %}
        <strong>{% trans 'Registration' %}:</strong> {{ artist.user.date_joined|date }}<br>
{#            <strong>{% trans '#Последний вход' %}:</strong> {{ artist.user.last_login|date }}<br>#}
        <strong>{% trans 'Dates' %}:</strong> {{ artist.gigdetes_count }}<br>
        <strong>{% trans 'Deals' %}:</strong> {{ trade_count }}<br>
        </div>
        <div class="clear"></div>
        <div class="line"></div>
        {% if gigdates %}<b>{% trans 'Calendar Gig dates' %} ({{ gigdates|length  }})</b><br>
        <div id="datepicker" class="calendar2"></div>
        <div class="clear"></div>
        <div class="line"></div>{% endif %}
{#            {% trans '#Станьте профессионалом' %}: <img src="{% static 'images/ui_ProBig.png' %}" class="right" />#}
{#            <div class="clear"></div>#}
{#            <div class="line"></div>#}
{#            {% trans '#Расскажите о себе всем' %}: <img src="{% static 'images/ui_Banner.png' %}" class="right" />#}
{#            <div class="clear"></div>#}
{#            <div class="line"></div>#}


    </div>

</div>
{% endblock %}