{% extends 'base.html' %}
{% load static i18n  %}

{% block content %}
<div class="list_users">
    <div id="left">
        <div class="head">
            <div class="top">
                <form action="" method="post">{% csrf_token %}
                <h1>{% trans 'Users' %}</h1>
                </form>
            </div><br>
            <div class="bottom">
                <h3>{% trans 'Total Users' %}: {% if workaround %}2091{% elif page_obj.paginator.count %}{{ page_obj.paginator.count }}{% else %}0{% endif %}</h3>
                <strong>
{#                    <a href="{% url 'users:agent_list' %}"{% url 'users:agent_list' as agentclub_list %}{% if agentclub_list == request.META.PATH_INFO %} class="active"{% endif %}>{% trans 'Agents' %}</a>#}
                    <a href="{% url 'users:club_list' %}"{% url 'users:club_list' as club_list %}{% if club_list == request.META.PATH_INFO %} class="active"{% endif %}>{% trans 'Venues' %}</a>
                    <a href="{% url 'users:main' %}"{% url 'users:main' as artist_list %}{% if artist_list == request.META.PATH_INFO %} class="active"{% endif %}>{% trans 'Artists' %}</a>
                </strong>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content">
            {% if workaround %}
                {% blocktrans %}
                    The list of registered venues on Gigcenter is no longer visible according to the privacy policy
                    additions and numerous wishes from owners of Venue profiles.<br><br>

                    The access for every single Venue profile could be given with the direct link from personal
                    invitation or Gig – date and Barter – date request posted by Artist profiles.
                {% endblocktrans %}
            {% else %}
            <table>
            {% for user in users %}
                <tr>
                    <td style="width: 20px;">{% if user.country.width != '0' or user.country.height != '0' %}<div class="flag_country" style="background-position: -{{ user.country.width }}px -{{ user.country.height }}px;" title="{{ user.country.title }}"></div>{% endif %}</td>
                    <td style="width: 45px;">{% if user.agent %}<a href="{{ user.agent.get_absolute_url }}" title="{{ user.agent.nickname }}">{% trans 'А' %}</a>{% endif %}</td>
                    <td><div class="nickname"><a href="{{ user.get_absolute_url }}">{{ user.nickname }}</a></div></td>
                    <td><div class="genre">
                        {% if user.type_agent.all %}{% for type_agent in user.type_agent.all %}{{ type_agent }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
                        {% if user.genre %}{% for genre in user.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
                    </div></td>
                    <td style="width: 20px;"><!--{{ user.id }}--></td>
                </tr>
            {% empty %}<tr><td style="text-align: center">{% trans 'Users not found' %}</td></tr>{% endfor %}
            </table>
            {% if is_paginated %}<div class="pagination pagination-centered">
                <ul>
                    {% if page_obj.has_previous %}<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.previous_page_number == 1 %}./{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"><</a></li>{% endif %}

                    {% for p in page_obj.paginator.page_range %}
                        <li {% ifequal p page_obj.number %}class="active"{% endifequal %}><a href="{% if p == 1 %}./{% else %}?page={{ p }}{% endif %}">{{ p }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">></a></li>{% endif %}
                </ul>
            </div>{% endif %}
            {% endif %}
        </div>
    </div>
    <div id="right"><!--right--></div>
</div>
{% endblock %}