{% extends 'base.html' %}
{% load static i18n filename thumbnail  %}
{% block extended_js %}
    <script type="text/javascript" src="{% static 'lightbox/js/lightbox.js' %}"></script>
    <script>
    $(document).ready(function (){
        var disabledDays = new Array({% for aaa in gigdates %}"{{ aaa|date:"Y-n-d" }}"{% if not forloop.last %}, {% endif %}{% endfor %});
        $("#datepicker").datepicker({
            'minDate': 0,
            'maxDate': disabledDays[disabledDays.length -1],
            'dateFormat':'yy-mm-dd',
            beforeShowDay: function(date) {
                {# // Подсвечиваем даты у активных дней #}
                var m = date.getMonth(), d = ("0" + date.getDate()).slice(-2), y = date.getFullYear();
                for (var i = 0; i < disabledDays.length; i++) {
                    if($.inArray(y + '-' + (m+1) + '-' + d,disabledDays)!=-1) {
                        return [true, 'ui-state-active'];
                    }
                }{# // Скрываем все даты кроме активной #}
                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [ disabledDays.indexOf(string) == true ]
            },
            onSelect: function(dateText, inst) {
                window.location = '/d/go/tender/{{ club.pk }}/'+ dateText+'/';
            }
        });

        $('a.lightbox').lightbox();
    });
    </script>
{% endblock %}
{% block extended_css %}<link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />{% endblock %}
{% block popup %}{% load mailbox_tags %}{% if request.user.is_authenticated and request.user != club.user %}{% add_mailbox club.user %}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
    <div class="contemt_artist">
        <div class="artist_left">
            <h1><small>{% trans 'Venue’s profile:' %}</small> {{ club.nickname }}
                {% if request.user.is_authenticated and request.user != club.user %}
                    <a id="add_favorites" class="favorites" href="#" title="{% trans 'Add favorites' %}" rev="club" rel="{{ club.pk }}"></a>
                    <a class="ico mailbox_open_modal" href="#" title="{% trans 'Message' %}"><img src="{% static 'images/ui_Message.png' %}" width="22" height="18" alt="" /></a>
                {% endif %}
            </h1>
            <div class="">
                <div class="left"><img src="{% if club.avatar %}{{ MEDIA_URL }}{{ club.avatar }}{% else %}{% static 'images/bg-ava.gif' %}{% endif %}" /></div>
                <div class="left ml20 w490">
                    {% if club.agent %}<b>{% trans 'Managed by' %}</b> <a href="{{ club.agent.get_absolute_url }}">{{ club.agent.nickname }}</a><br>{% else %}<b>{% trans 'Managed personally' %}</b><br>{% endif %}
                    {% if club.country.width != '0' or club.country.height != '0' %}<div class="flag_country" style="background-position: -{{ club.country.width }}px -{{ club.country.height }}px;"></div>{% endif %}{{ club.country.title }}, {{ club.city.title }}<br />
                    <b>{% trans 'Genre' %}:</b> {% for genre in club.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
                    <b>{% trans 'Venue type' %}:</b> {% for pf in club.type_club.all %}{{ pf.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
                    {% if club.email %}<b>{% trans 'Public email' %}:</b> {% if request.user.is_authenticated %}{{ club.email }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br />{% endif %}
                    {% if club.phone %}<b>{% trans 'Phone' %}:</b> {% if request.user.is_authenticated %}{{ club.phone }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br />{% endif %}
                    {% if club.address %}<b>{% trans 'Address' %}:</b> {% if request.user.is_authenticated %}{{ club.address }}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br />{% endif %}
                    {% if club.site.all %}<b>{% trans 'Web' %}:</b> {% if request.user.is_authenticated %}{% for site in club.site.all %}<a href="http://{{ site.site }}" target="_blank">{{ site.site }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}<br />{% endif %}
                </div>
            <div class="clear"></div>
            <div class="artist_menu">
                <a href="#" rel="ridertechnical">{% trans 'Details' %}</a>
                <a href="#" rel="biography" class="active">{% trans 'Information' %}</a>
                <a href="#" rel="photos">{% trans 'Images' %}</a>
            </div>
            <div class="line"></div>
            <div class="clear"></div>


            <div id="user_ridertechnical" class="hide userinfo">
                {% if request.user.is_authenticated %}<p>
                    <b>{% trans 'Venue' %}:</b> {%  if club.place_street %}{% trans 'Outdoor' %}{% endif %}{%  if club.place_indoors %} {% trans 'Indoor' %}{% endif %}<br />
                    {% if club.music_zone %}<b>{% trans 'Music Zone' %}:</b> {{ club.music_zone }}<br />{% endif %}
                    {% if club.capacity_total %}<b>{% trans 'Total capacity' %}:</b> {{ club.capacity_total }}<br />{% endif %}
                    {% if club.capacity_seat %}<b>{% trans 'Seating capacity' %}:</b> {{ club.capacity_seat }}<br />{% endif %}
                    {% if club.nearest_airport %}<b>{% trans 'The nearest airport' %}:</b> {{ club.nearest_airport }}<br />{% endif %}
                    {% if club.nearest_station %}<b>{% trans 'The nearest railway station' %}:</b> {{ club.nearest_station }}<br />{% endif %}
                    {% if club.artists_club %}<b>{% trans 'Artists who have already performed at the venue of event' %}:</b> {{ club.artists_club }}<br />{% endif %}
                    {% if club.music %}<b>{% trans 'Music' %}:</b> <a href="http://{{ club.music }}/" target="_blank">{{ club.music }}</a><br />{% endif %}
                    {% if club.video %}<b>{% trans 'Video' %}:</b> <a href="http://{{ club.video }}/" target="_blank">{{ club.video }}</a><br />{% endif %}
                </p>{% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}
            </div>
            <div id="user_biography" class="nohide userinfo">
                <p>
                {% if club.info %}{% autoescape off %}{{ club.info|linebreaksbr }}{% endautoescape %}{% else %}{% trans 'Not description' %}{% endif %}
                </p>
            </div>
            <div id="user_photos" class="hide userinfo">
            {% if request.user.is_authenticated %}
                {% if club.images.all %}
                <ul class="choice-item">
                {% for ph in club.images.all %}
                    <li>{% thumbnail ph.img "1000x700" as big %}
                    <a rel="lightbox[roadtrip]" href="{{ big.url }}" title="" style="height: inherit; padding: 2px">
                        {% thumbnail ph.img "120x120" crop="50% 10%" as im %}<img src="{{ im.url }}" />{% endthumbnail %}
                    </a>{% endthumbnail %}
                </li>
                {% endfor %}
                </ul>
                <div class="clear"></div>

            {% else %}{% trans 'Images not found' %}
            {% endif %}
            {% else %}<i class="gray">{% trans 'For authorized users' %}</i>{% endif %}
            </div>




            </div>
{#            <div><b>{% trans '#Похожие артисты' %}</b></div>#}
{#            <div class="line"></div>#}
{#            <div>{% trans '#Похожие артисты' %}</div>#}
        </div>

        <div class="artist_right">
            <div class="right">{% trans 'Views' %}: <a>{{ club.view }}</a></div>
            <div class="clear"></div>
            <div class="line"></div>
{#            {% trans '#Станьте профессионалом' %}: <img src="{% static 'images/ui_ProBig.png' %}" class="right" />#}
{#            <div class="clear"></div>#}
{#            <div class="line"></div>#}
{#            {% trans '#Расскажите о себе всем' %}: <img src="{% static 'images/ui_Banner.png' %}" class="right" />#}
{#            <div class="clear"></div>#}
{#            <div class="line"></div>#}

            {% if not request.user.is_authenticated %}
            <div style="width: 300px; margin: 0 auto; text-align: center;">
                <br><div class="btn-wrap">
                    <span class="big-red-btn">

                        <a href="{% url 'signin' %}"><span>{% trans 'Book In!' %}</span></a>
                    </span><br>
                </div>
                <br>
                {% trans 'OR' %}
                <br><br>
                <div class="btn-wrap">
                    <span class="big-green-btn">
                        <a href="{% url 'signin' %}"><span>{% trans 'Sign a contract' %}</span></a>
                    </span>
                </div><br><div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="line"></div>
            {% endif %}

            <div style="line-height: 25px;">
            <h2>{% trans 'User’s information' %}</h2>
            {% if request.user.is_authenticated %}
                <b>{{ club.user.first_name }} {{ club.user.last_name }}</b>
                {% if club.user.country.width != '0' or club.user.country.height != '0' %}<div class="flag_country" style="margin: 2px 5px; background-position: -{{ club.user.country.width }}px -{{ club.user.country.height }}px;" title="{{ club.user.country.title }}, {{ club.user.city.title }}"></div>{% endif %}<br>
            {% endif %}
            <strong>{% trans 'Registration' %}:</strong> {{ club.user.date_joined|date }}<br>
{#            <strong>{% trans '#Последний вход' %}:</strong> {{ club.user.last_login|date }}<br>#}
            <strong>{% trans 'Dates' %}:</strong> {{ club.gigdetes_count }}<br>
            <strong>{% trans 'Deals' %}:</strong> {{ trade_count }}<br>
            </div>
            <div class="clear"></div>
            <div class="line"></div>
            {% if gigdates %}<b>{% trans 'Calendar Gig-Tender' %} ({{ gigdates|length  }})</b><br>
            <div id="datepicker" class="calendar2"></div>
            <div class="clear"></div>
            <div class="line"></div>{% endif %}
        </div>

    </div>
{% endblock %}